[2021-04-14 17:37] #496 closed

[2021-04-14 17:47] ritik-malik commented on #604
Hi @klumb ,
That explains it well.

I just checked the website again, but it is still showing `metrics` link instead of `wg-common`.
Is it because it takes some time to reflect the changes or again some Sync problem?

Also, should I add `wg-app-ecosystem` to displayed Working Groups in [this markdown](https://github.com/chaoss/website/blob/master/Home/working-groups.md), as you said we need to mat

[2021-04-14 17:52] klumb commented on #604
Weird. I cleared the server cache on my end. Working for me. Try again and let me know.

[2021-04-14 17:54] klumb commented on #604
Also, yes I would add the wg-app-ecosystem to the list. While their work is a little different, they do define themselves as a working group so our content should reflect that.

[2021-04-14 18:01] ritik-malik commented on #604
Yes, it is showing the updated link now, maybe needed to wait for a while,
also, I added the link to WG-app-ecosystem in #606

[2021-04-15 18:33] DGomez99 opened #607 "Formatting Inconsistency"
Hello, I noticed on the CHAOSS website in the metrics definitions there are formatting inconsistencies in the objective descriptions, such as
[Diversity Access Tickets](https://chaoss.community/metric-diversity-access-tickets/)
and
[Board Council Diversity](https://chaoss.community/metric-board-council-diversity/)

I was wondering if the format between the metrics definitions on the website could

[2021-04-15 19:42] GeorgLink commented on #607
Yes, absolutely, yes! :D

The different formats resulted from different people writing the objectives.

We are open to suggestions for a more consistent objective description format.

[2021-04-17 15:08] ritik-malik commented on #604
I think we can close this issue now,
thanks @klumb

[2021-04-17 15:08] #604 closed

[2021-04-20 07:22] seun-beta commented on #506
Hello @ElizabethN & @klumb. About the Augur Hackathon. I can't seem to find it on the community website.
I don't know if it is there. But if there are any plans of adding it should it not formally exist, I would be happy to assist with that.

Thank you.

[2021-04-20 15:20] klumb commented on #506
We don't have any hackathons scheduled currently.

Augur does have some workshops. You can find these under the event's navigation.

I am closing this comment

[2021-04-20 15:20] #506 closed

[2021-04-20 15:24] #450 closed

[2021-04-20 15:24] klumb commented on #450
This is resolved

[2021-04-23 17:52] yash2002109 opened #608 "Header overlapping with navigation menu on metrics webpage"
Hi,

I noticed that the header ("THE LINUX FOUNDATION PROJECTS") on the [metrics](https://chaoss.community/metrics/) webpage is overlapping with the navigation menu.

Refer to the image below for a better understanding.

![website-metrics](https://user-images.githubusercontent.com/77677278/115907478-8fcbc080-a486-11eb-8970-16af87c74015.jpg)

Also, please let me know if I can be of any assistance i

[2021-04-23 17:56] klumb commented on #608
I can't replicate this on my end using a Mac and - safari, chrome, and firefox.

What browser are you using?

[2021-04-23 19:56] yash2002109 commented on #608
I'm using chrome, on Windows

[2021-04-28 05:14] AtharvaParkale commented on #608
Can i work on this issue

[2021-04-28 15:09] klumb commented on #608
Thanks @AtharvaParkale

Can you duplicate the issue @yash2002109 is seeing?

[2021-04-28 19:14] AtharvaParkale commented on #608
The same issue faced by me.

[2021-05-03 05:47] seun-beta commented on #408
Hello @klumb any update on the inclusivity audit?

[2021-05-20 00:51] eyehwan opened #611 "Google Calender and OutLook Calender Schedule are not matched."
Hi,

I download and add outlook ics file from Asia Pacific Call [check your local time](https://arewemeetingyet.com/Chicago/2020-06-17/08:00/b/CHAOSS%20Asia%20Pacific%20Community%20Call), and it is showed one hour later than the schedule showed on Google Calender.
Meeting on outlook calender starts from 10:00 PM
Meeting on google calender starts from 9:00 PM.
It makes me miss the last meeting :( ,

[2021-05-20 01:00] klumb commented on #611
Thanks @eyehwan

was the time incorrect in the ics file? Or the check your local time link?

@GeorgLink did you add the “are we meeting” link?

[2021-05-20 01:00] germonprez commented on #611
Hi @eyehwan. Could you tell me where you seeing the difference? I'm not seeing a problem.

[2021-05-20 01:12] klumb commented on #611
Also, we should probably add China standard time or Beijing time to the calls. We currently have UTC, US central, And central Europe time

[2021-05-20 01:15] klumb commented on #611
This is likely a daylight savings time bug in the “are we meeting” application. We may need to remove the link.

[2021-05-20 03:12] eyehwan commented on #611
@klumb  and @germonprez, this is what I found:
![google](https://user-images.githubusercontent.com/1535756/118913156-833e6900-b95b-11eb-928e-9fc5a167f7cd.JPG)
![outlook](https://user-images.githubusercontent.com/1535756/118913162-85082c80-b95b-11eb-8082-2377e1b08562.PNG)

I usually use my outlook calender to schema my meeting, but when I found I missed the meeting yesterday, I checked the schedule

[2021-05-24 21:17] germonprez opened #612 "Participate Calendar Not Showing up in Safari"
Hello!

Per the title, the calendar is not showing up in Safari.

@klumb

[2021-05-24 21:27] klumb commented on #612
I can duplicate this in safari and chrome, however, I can't duplicate it in firefox.

[2021-05-24 21:29] klumb commented on #612
This is likely a google issue. I will monitor it to see if it is resolved.

[2021-05-24 21:30] klumb commented on #611
Hi @Eyehwan,

Could you tell me if this is still an issue?

[2021-05-24 21:32] klumb commented on #608
This is likely a browser issue. I still haven't been able to replicate it on my end but I have seen this same issue in the past. @yash2002109 are you still seeing this problem?

[2021-05-25 05:11] yash2002109 commented on #608
Yes @klumb, I'm still seeing this issue. I was also able to replicate it on a Mac (Safari), so I'm not exactly sure if it is a browser problem.

[2021-05-25 14:21] eyehwan commented on #611
@klumb
I hope we can remove the wrong link(**add it**) from https://arewemeetingyet.com/Chicago/2020-06-17/08:00/b/CHAOSS%20Asia%20Pacific%20Community%20Call, avoiding any confusions for new people.

[2021-05-25 14:23] klumb commented on #612
This appears to be a known issue at Google.

Not sure why it is working fine on Firefox but not chrome or safari.

@germonprez  if you log into your google account the calendar will likely display.

The bug on Googles end is that the calendar is public so everyone should see it regardless of being logged in. I will continue to monitor but I don't think there is anything we can do other than remove

[2021-05-25 14:27] klumb commented on #611
@eyehwan is the link still giving you the wrong time?

[2021-05-25 14:28] klumb commented on #611
does this ICS link work?

https://calendar.google.com/calendar/ical/j9f60skdd67938kvgl0udgqjqs%40group.calendar.google.com/public/basic.ics

[2021-05-25 16:34] eyehwan commented on #611
@klumb

No, it is not working.

This one  is correct.  :)

[2021-05-25 17:05] klumb commented on #611
Because this bug is in an external application, we can't really fix it.

So, I propose these changes:

- Let's add China standard time or Beijing time (which one is more appropriate?) to the text in the WG modules - we will have UTC, US Central, Europe Central, and China.
- Delete the link to the "are we meeting yet" application to avoid confusion
- We could add our own ICS link so individuals can

[2021-06-03 13:40] klumb commented on #612
It looks like Google resolved this issue. @germonprez can you confirm on your end?

[2021-06-03 13:45] klumb commented on #608
I still can't see this on my end - using safari, chrome, and firefox. Unable to replicate.

Does anyone else see this issue or not see it?

[2021-06-03 13:46] #536 closed

[2021-06-03 13:46] #466 closed

[2021-06-03 15:06] germonprez commented on #612
Yes, working for me.

On Thu, Jun 3, 2021 at 8:41 AM Kevin Lumbard ***@***.***>
wrote:

--

Mutual of Omaha Distinguished Chair of Information Science & Technology
Professor of Information Systems and Quantitative Analysis
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

Vice President
Omaha Parks Foundation

CHAOSS Board Member
https://chaoss.co

[2021-06-03 15:08] klumb commented on #612
thanks

[2021-06-03 15:08] #612 closed

[2021-06-06 02:58] eyehwan opened #615 "Content of "Diversity and Inclusion Areas" in main page of CHAOSS metric is missing."
https://chaoss.community/metrics/
![capture](https://user-images.githubusercontent.com/1535756/120911009-1db9de80-c6b6-11eb-9455-d39f3cca2d4d.PNG)

[2021-06-06 03:10] klumb commented on #615
Thanks for catching this @eyehwan

The file name was changed to reflect the working group name change and we didn't make the change on website side. I fixed it.

[2021-06-06 03:10] #615 closed

[2021-06-06 03:51] eyehwan opened #616 "Link of https://chaoss.community/metric-change-request-acceptance-ratio/ is invalid"
https://chaoss.community/metric-change-request-acceptance-ratio/

![image](https://user-images.githubusercontent.com/1535756/120911890-704ac900-c6bd-11eb-8687-e9d53b857435.png)

[2021-06-06 04:09] klumb commented on #616
Thanks @eyehwan
Should be good now

[2021-06-06 04:09] #616 closed

[2021-06-06 05:25] eyehwan commented on #616
That's true. Thanks @klumb for your quick support!

[2021-06-24 12:39] xiaoya-Esther opened #622 "We need to update the ways of participating on the "Participate" page"
As discussed in #621

We have a slack workplace for communicating.
Also, we hold a Tencent meeting bi-weekly using the tools and platforms that folks from China are more familiar with, intending to mitigate the barrier of participating in CHAOSS community.

[2021-06-29 16:36] GeorgLink opened #625 "Change the sponsor prospectus link on CHAOSScon NA 2021 website"
The link currently goes to the github repo. It would be better to directly download the file when someone clicks:

https://chaoss.github.io/website/CHAOSScon/2021NA/CHAOSSconNA21_funding_prospectus.pdf

[2021-06-29 19:41] GeorgLink opened #626 "Add new Evolution Metric "Contribution Attribution""
Please add metric release candidate to website.

Comment issue: https://github.com/chaoss/wg-evolution/issues/410

Markdown file: https://github.com/chaoss/wg-evolution/blob/master/focus-areas/community-growth/contribution-attribution.md

Focus Area: Community Growth

[2021-07-05 18:20] adithyaakrishna opened #627 "[Bug] - Broken Link at Chaoss Community Software Page"
**Description:**
The page, https://chaoss.community/software/#user-content-augur has a broken link

![image](https://user-images.githubusercontent.com/23498248/124507496-81d1de80-ddeb-11eb-8670-2da5f1bf8dcf.png)

The link is missing a dash here, `https://github.com/chaoss/augur-community reports`

**Expected Behavious:**
The link needs to be changed to https://github.com/chaoss/augur-community-rep

[2021-07-05 18:20] adithyaakrishna commented on #627
Would like to work on this! 💯

[2021-07-05 18:35] adithyaakrishna commented on #626
@GeorgLink Could you please let me know where is this supposed to be added? 👀
Would love to take this up 💯

[2021-07-05 18:41] adithyaakrishna commented on #608
@klumb I can see this, I have a solution for this too. The padding value is set to 10px at top and if we make it zero, the issue gets fixed. But I wasn't able to find the exact place where this section of code is present.

![image](https://user-images.githubusercontent.com/23498248/124508966-95cb0f80-ddee-11eb-80fa-a5a099c694f2.png)

[2021-07-05 19:08] germonprez commented on #627
@sgoggins do you have the working link?

[2021-07-05 20:17] adithyaakrishna commented on #627
I have considered The working one as https://github.com/chaoss/augur-community-reports, please do let me know if its the wrong one 😶

[2021-07-05 22:43] klumb commented on #627
I think you are correct @adithyaakrishna

[2021-07-05 22:45] #627 closed

[2021-07-05 22:46] klumb commented on #608
This needs to wait until after the website migration

[2021-07-07 13:53] GeorgLink commented on #626
I think this is the file: https://github.com/chaoss/website/blob/master/release/metrics-tables/metrics-evo.md

[2021-07-07 19:47] adithyaakrishna commented on #625
@GeorgLink I couldn't find the exact sponsor section code located in the repo, if you don't mind can you please point me to that? 👀

[2021-07-08 12:37] GeorgLink commented on #625
This needs to be changed in Wordpress by an admin. I don't think there is a file in the repo for this.

[2021-07-13 14:21] xiaoya-Esther commented on #622
We have some distributed platforms and channels exclusively for the CHAOSS Chinese community. Here is a summary:

**Slack channel:** https://chaoss-workspace.slack.com/archives/C0258G98SSX

**Bilibili space:** https://space.bilibili.com/1292724697?spm_id_from=333.33.b_73656375726974794f75744c696e6b.1

**WeChat official account:**
![image](https://user-images.githubusercontent.com/56542972/12546438

[2021-07-13 15:15] klumb commented on #622
Thank you @xiaoya-Esther Xiaoya

After the website migration, I will create a more in-depth participate module for the CHAOSS Chinese community and add these links.

Additionally, I will be adding BST to all of the meetings

[2021-07-13 15:16] klumb commented on #625
This has been changed on the new site. The old site will be deprecated on July 21st

[2021-07-13 15:16] #625 closed

[2021-07-13 15:18] klumb commented on #611
This change will happen after the migration

[2021-07-13 15:31] #607 closed

[2021-07-14 03:19] xiaoya-Esther commented on #622
Sure! Thank you @klumb

[2021-07-20 15:11] lucasgonze opened #630 "Community link in header uses http rather than https"
1. Open chaoss.info
2. Select "community" link in top nav
3. You go to http://chaoss.community/news
4. Get redirected to https://chaoss.community/news

The issue here is the privacy loss of starting with unencrypted http.

[2021-07-20 15:14] lucasgonze opened #631 "Broken links for oembed and API"
1. Open chaoss.info
2. Open page source
3. Review link elements in header
4. The following link elements all throw rest_not_logged_in error:

[code]

[2021-07-23 15:47] klumb commented on #630
This is resolved thank you

[2021-07-23 15:47] #630 closed

[2021-07-23 15:48] klumb commented on #626
This is resolved

[2021-07-23 15:48] #626 closed

[2021-07-27 18:58] GeorgLink opened #641 "Update menu "Events" to link to latest CHAOSScon"
A click on the top-level menu entry "Events" leads to the canceled 2020 CHAOSScon NA.

Suggestion to update the link to point to the upcoming 2021 CHAOSScon NA

[2021-07-27 19:10] klumb commented on #641
This should be fixed. Please review and close.

[2021-07-28 11:48] ElizabethN opened #642 "Link to Community Handbook is Incorrect"
In the top navigation bar, the link to the Community Handbook points to this: https://handbook.chaoss.community.

Currently, that redirects to this: https://handbook.chaoss.community/grimoirelab-tutorial/, which is empty

So either we need to change the navigation link to this: https://handbook.chaoss.community/community-handbook/ or we need to change the redirect.

Thanks!

[2021-07-28 12:44] GeorgLink commented on #642
Thanks for reporting this!

I introduced the error on the GitBook side.

It's fixed now.

[2021-07-28 12:44] #642 closed

[2021-07-28 15:41] GeorgLink commented on #641
Yes, thank you!

[2021-07-28 15:41] #641 closed

[2021-07-28 20:35] GeorgLink opened #643 "Broken link to Metric: Labor Investment"
The link from https://chaoss.community/metrics/ to the Metric Labor Investment leads to an Error 404 on https://chaoss.community/metric-labor-investment/

[2021-07-28 20:37] GeorgLink opened #644 "Broken anchors on Metrics page"
The links at the top of the [metrics page](https://chaoss.community/metrics/) don't pull up the focus areas because the anchors further down on the page don't exist.

[2021-08-24 16:33] GeorgLink opened #647 "Add CHAOSS Project's Data Policies"
Create new page under `About` with content from:

https://github.com/chaoss/governance/blob/master/data-policies.md

[2021-08-31 23:45] lucasgonze opened #648 "Broken links in Metrics page"
Open https://chaoss.community/metrics/

Scroll to "Common Metrics Focus Areas"
<img width="355" alt="image" src="https://user-images.githubusercontent.com/111581/131589449-bbbbe972-1735-4553-b5ae-f49deeb77a85.png">

Click on "Contributions"

Expect: open the page. Actual: nothing happens.

Diagnosis: the link is `https://chaoss.community/metrics/#user-content-area-focus-area---contributions`, whic

[2021-08-31 23:54] klumb commented on #648
That is a user content header link.

The desired behavior is that it scrolls down the page to the corresponding header.

All of the focus area links are broken. This issue ocurred either right before or as a result of the website migration.

[2021-09-01 00:14] lucasgonze commented on #648
Dup

[2021-09-01 00:14] #648 closed

[2021-09-01 10:04] yash2002109 commented on #537
The project is now hosted at https://github.com/chaoss/MARS.

The translations process has been added to the [community handbook](https://handbook.chaoss.community/community-handbook/community-initiatives/metrics/translation) and can continue to evolve independently.

Project Final Reports
- @ritik-malik : https://gist.github.com/ritik-malik/5a1a48bb966892824d7da31fc12ede50
- @yash2002109 : https:

[2021-09-01 12:59] GeorgLink commented on #648
Here's the duplicate: https://github.com/chaoss/website/issues/644

[2021-09-01 17:01] klumb commented on #643
this is resolved

[2021-09-01 17:01] #643 closed

[2021-09-01 17:01] klumb commented on #643
thanks @GeorgLink

[2021-09-01 17:26] klumb commented on #622
This is resolved.

[2021-09-01 17:26] #622 closed

[2021-09-01 17:26] klumb commented on #611
This is resolved

[2021-09-01 17:26] #611 closed

[2021-09-01 17:27] klumb commented on #608
Closing this issue.

If the issue persists, please open a new issue

[2021-09-01 17:27] #608 closed

[2021-09-01 17:28] klumb commented on #537
Closing this issue. Nice job everyone!

[2021-09-01 17:28] #537 closed

[2021-09-09 19:16] GeorgLink opened #652 "Fix DEI metrics"
DEI metrics don't show on website since the DEI WG renamed the repository and changed the default branch from `master` to `main`.

![Screen Shot 2021-09-09 at 2 14 58 PM](https://user-images.githubusercontent.com/8862021/132748798-4173d16e-4beb-4686-a122-c72ab5df791c.png)

[2021-09-09 19:18] germonprez commented on #652
Ah! We were wondering if it would break things. Looks like the answer is 'yes'

[2021-09-09 19:18] germonprez commented on #652
@sgoggins you might want to see this.

[2021-09-09 20:08] klumb commented on #652
This is resolved for DEI. Please tag me for any other changes to the working group repo structures.

[2021-09-09 20:11] GeorgLink commented on #652
Thanks for fixing this so quickly!

[2021-09-09 20:11] #652 closed

[2021-09-21 18:31] GeorgLink opened #660 "Add Mentees from 2021 to website"
We list past Mentees on our website: https://chaoss.community/chaoss-mentorship/

This issue is to add more mentees to this file:
https://github.com/chaoss/website/blob/master/Community/alumni.md

**[GSOC 2021:](https://github.com/chaoss/community/blob/master/GSoC-interest.md)**
- Yash Prakash
- Ritik Malik
- Dhruv Sachdev
- Anuj Lamoria
- Rasmi K A
- Yeming Gu

**[Summer of Open Source Promotion:

[2021-09-22 00:55] tabassum2507 commented on #660
Would love to work on it!

[2021-09-22 12:53] GeorgLink opened #661 "Update Sponsor link to Open Collective"
CHAOSS is switching to Open Collective for receiving and managing funds.

The new link is: https://opencollective.com/chaoss

[2021-09-22 12:55] klumb commented on #661
Done

[2021-09-22 12:55] #661 closed

[2021-09-22 13:03] GeorgLink commented on #661
Awesome, thank you!

[2021-09-22 20:23] GeorgLink commented on #660
Thanks @tabassum2507 , your contributions would be very welcome!

What questions do you have to get started on this?

[2021-09-23 13:18] GeorgLink opened #663 "Add Timezone to CHAOSScon schedule"
At the top of the CHAOSScon schedule, it would be great to state that all times are in US Pacific (Los Angeles) Time (UTC-7).

[2021-09-25 03:41] GeorgLink commented on #663
Solved by @vinodkahuja in #662

[2021-09-25 03:41] #663 closed

[2021-10-04 18:23] prsndp commented on #660
@GeorgLink hi, Am adding these '21 mentees in almuni.md file but here the problem is how to find their mentors and projects as the past list.

[2021-10-04 19:40] GeorgLink commented on #660
Please let me know if you need anything else for this.

[2021-10-05 16:55] GeorgLink opened #669 "Update website because all Metrics WG's now use 'main' for default git branch"
All Metrics WG now use 'main' as their default git branch.

Website and specifically the metrics pages need to be updated.

[2021-10-17 21:27] yash-yp opened #671 "Update latest-release-notes.md"
Starting this release, we are only adding the latest release notes to the release PDF.

This requires the file: https://github.com/chaoss/website/blob/main/release/latest-release-notes.md to be updated with the latest release notes i.e. for 2020-10

[2021-10-18 15:51] #671 closed, assigned to nobody

[2021-10-28 15:16] ElizabethN opened #676 "Adding Newcomer Form for Onboarding"
Hi @klumb!
In the DEI Working Group, we have been discussing streamlining and improving the onboarding experience for newcomers. An idea was posed that we develop an intake form on the site, for people to have a direct way to reach out, and register their interest in participating in the community.

[Here is the form](https://docs.google.com/forms/d/e/1FAIpQLSd2-JGEYYLl9ZOgpPxL7ihvW-9kvzfTxgIpuyXf

[2021-11-01 14:22] germonprez opened #685 "Remove Community Reports from Website"
Hello!

I'd like to propose that we remove the Community Report option from the web site. This would

1) Remove something that is never used
2) Enable us to have a top level heading of DEI Event Badging

Thoughts welcome.

[2021-11-01 15:56] GeorgLink commented on #685
+1 Great idea! 👍

[2021-11-03 16:08] ElizabethN commented on #676
We will collect it in a spreadsheet that will be under the CHAOSS gmail account. I will be the one to respond to those who are submitting the form.

Also, this is not urgent to add to the website just as a point of note. We are going to promote the form through other means first (twitter, newsletter, mailing list).

[2021-11-03 16:15] ElizabethN opened #686 "CHAOSS Brand kit"
As CHAOSS grows and the visibility of our work continues to increase, it's important to keep our brand intact and consistent and have a polished look. I'm opening this issue to allow for async discussion about this, as I know not everyone is at the community meetings all the time.

Feel free to drop your thoughts here!

cc @uoduckswtd1

[2021-11-03 16:16] ElizabethN commented on #686
Actually I think this belongs in the community repo, as it's not just website related. Nothing to see here folks! 🙈

[2021-11-03 16:16] #686 closed

[2021-11-17 16:18] germonprez opened #691 "Join Us Button"
Hi @klumb

We would like to rename the "Learn More" button that points to the About. Instead, we would like to rename the button on "Join Us" or something like that that points to Matt C's Where Do I Start blog post:

https://chaoss.community/blog-post/2021/10/13/learn-more/

Ultimately, we'd like to have two buttons - one that helps people who want to contribute and one that helps people who want

[2021-11-17 16:21] klumb commented on #691
This sounds good, I will take a look and give this some thought.

[2021-11-28 14:08] GeorgLink opened #693 "Update Governing Board website"
Move to Former Governing Board members:

- [ ] Andrea Gallo ([record](https://lists.linuxfoundation.org/pipermail/chaoss-members/2021-October/000329.html))
- [ ] Ray Paik ([record](https://lists.linuxfoundation.org/pipermail/chaoss-members/2021-November/000343.html))

Add new Governing Board members ([record](https://lists.linuxfoundation.org/pipermail/chaoss-members/2021-November/000355.html)):

[2021-12-01 15:11] germonprez commented on #691
Hi @klumb have you had a chance to reflect on this?

[2021-12-01 16:11] klumb commented on #691
@germonprez In regards to first part, I renamed the button and pointed it at the blog.

I think that blog should be turned into a static web page and added to the navigation.

In regards to the other button, we don't have a place to point it yet. But I envision that being a page that provides links to the models, software usage pages, and badging. I think that is something to work on this year.

b

[2021-12-14 08:49] Rottenblasters commented on #693
@GeorgLink , I would like to work on this issue

[2021-12-14 10:36] Rottenblasters commented on #660
@GeorgLink  I have completed working on this issue the link to the PR is [here](https://github.com/chaoss/website/pull/694) please review the request

[2021-12-14 12:04] germonprez commented on #693
Thanks for your interest @Rottenblasters

@GeorgLink do you have pix?

[2021-12-14 13:05] germonprez commented on #693
Actually, this has been completed:
https://chaoss.community/about/governing-board/

I'm going to close this issue but @Rottenblasters if there are other things you'd like to help with, that would be great!!

Also pinging @ElizabethN -- CHAOSS community manager who can help too.

[2021-12-14 13:05] #693 closed

[2021-12-14 13:14] Rottenblasters commented on #693
@germonprez , thanks for letting me know, I have actually submitted a [PR](https://github.com/chaoss/website/pull/694) for the [issue](https://github.com/chaoss/website/issues/660), waiting for it to get reviewed.

[2021-12-14 13:15] germonprez opened #695 "Home Page Update Suggestions"
Hi everyone,

I have a few suggestions for the home page (chaoss.community) in an effort to improve simplicity on the page. None of these suggestions immediately impact the navigation at the top. These are all aimed at the text in the document.

1) Remove CHAOSS Software (we have navigation to it)
2) Remove CHAOSS Initiatives (we have navigation to it)
3) Remove CHAOSS Working Groups -- perhaps th

[2021-12-14 13:45] klumb commented on #693
I went radio silent for a couple of weeks around the holidays in November so I was unaware that this issue was created. This task was completed independently a couple of weeks ago following a community call.

[2021-12-14 13:54] geekygirldawn commented on #695
I like to think of the website as for newcomers and people who don't have any idea what we do, since regular community members are already participating and likely not visiting the website very much. So, what I like about having some of these boxes is that newcomers won't necessarily know why to click on "initiatives" if they don't know something is interesting there, but they might see badging an

[2021-12-14 13:58] klumb commented on #695
I am in favor of these changes. If there is agreement, I can make the edits pretty quickly.

However, it might make sense to keep the high-level description of What CHAOSS is on this page (from the working groups section).

Also, do we want to remove the CHAOSScon banner or just point it somewhere else?

[2021-12-14 14:00] klumb commented on #695
The website is not high traffic, we could try these changes out on prod during a set time to help us decide.

[2021-12-14 14:09] klumb commented on #695
The primary goal for these edits should be to establish clear pathways for newcomers. In some cases, content can get in the way of that. In others, content is needed. I don't think the existing section with working groups and initiatives creates clear pathways to contribution. So I do think we either need to point them somewhere else or redesign those sections.

[2021-12-14 15:01] geekygirldawn commented on #695
Maybe we should take a step back to answer a few questions:
* When a newcomer hits the homepage, what is the first thing we want them to do?
* What do we think are the 2-3 best pathways into participation?
* What can we do to quickly get newcomers productively contributing in a way that encourages them to stay for the longer-term.

[2021-12-14 16:28] germonprez commented on #695
Thanks!

I think my main goal was to first reduce the amount of information that was on the page. I think it was overwhelming and that's why I had just a list of 'remove' items :)

In an effort build things back up, yes, it is all about helping newcomers.

1) If I think about our newcomer slack conversations, one of the things that we consistently do is encourage people to attend the Tuesday commu

[2021-12-14 16:40] geekygirldawn commented on #695
I admit that I tend to like having dynamic, up to date things on the home page to draw people into things happening right now, but I agree that maybe it adds too much clutter?

Maybe we cut some things, and remove some of the boxes by replacing them with a specific call to action for newcomers at the top of the page? Something like this, but more visually appealing and with links (these aren't nec

[2021-12-14 16:42] geekygirldawn commented on #695
This is where I remind people that I have lots of opinions, but I am **terrible** at design and user experience, so I won't be offended if we reduce the clutter to help people focus on more important things :)

[2021-12-14 16:47] germonprez commented on #695
I 100% guarantee CHAOSS wouldn't be what it is without your opinions 💯 Keep them coming!!

I love the four items that you have. I also like the order because the first three are simple to do (one step), they are low overhead, and they can all be done as a listener.

[2021-12-14 16:52] klumb commented on #695
I am going to move forward with these suggestions - with the idea that nothing is set in stone and we can tweak this. I will let you know when the changes are live.

[2021-12-14 17:32] klumb commented on #685
This is done

[2021-12-14 17:32] #685 closed

[2021-12-14 17:36] #351 closed

[2021-12-14 17:37] klumb commented on #363
There hasn't been any movement on this idea so I am closing

[2021-12-14 17:37] #363 closed

[2021-12-14 17:39] klumb commented on #408
There hasn't been movement on this so I am closing this so the discussion can begin anew

[2021-12-14 17:39] #408 closed

[2021-12-14 17:39] klumb commented on #415
There hasn't been movement on this so I am closing this so the discussion can begin anew

[2021-12-14 17:39] #415 closed

[2021-12-14 17:39] #461 closed

[2021-12-14 17:40] klumb commented on #644
links were removed

[2021-12-14 17:40] #644 closed

[2021-12-14 17:40] #631 closed

[2021-12-14 17:44] klumb commented on #647
this now live on the site

[2021-12-14 17:44] #647 closed

[2022-01-11 18:49] ElizabethN opened #698 "Blog Post was Merged but Didn't Get Published"
Hi @klumb! Before the break, I tried merging [this blog post](https://github.com/chaoss/website/pull/687) written by @Anita-ihuman but it never showed up on the site, as far as I can tell. Would you be able to troubleshoot? If we can't figure out what happened, I can manually publish it - just let me know.

Thank you! :pray:

[2022-01-17 17:24] klumb commented on #698
Sorry, I was taking a break from CHAOSS when this was done.

There is no automatic posting of blogs from GitHub. After the blog is merged, the post has to be created on WordPress. This includes adding meta information and the Github address of the post. It only takes a second, I can show you the process if you would like.

I made a few edits and published it on the site.

However, there is an issu

[2022-01-25 16:19] ElizabethN commented on #698
@klumb I see the draft ready to be published and I think @Anita-ihuman changed the size of the image, but it isn't showing up in the post. Is this something we have to force from GitHub? Is there something I can do to move this forward? Happy to help!

[2022-02-07 14:58] #698 closed

[2022-02-09 17:07] ElizabethN opened #704 "Add CHAOSS "O" to media page"
Hi @klumb! We were hoping to add this to our media page, based on branding conversations with @germonprez and @uoduckswtd1.

The file can be found here: https://github.com/badging/meta/tree/master/assets/chaoss.

Thank you! Let us know if you have any questions.

[2022-02-18 04:22] Raeskaa opened #705 "Beginners.md image missing"
![image](https://user-images.githubusercontent.com/84667136/154617047-36a0e3e7-39a9-4431-9ad8-0b722ef51959.png)
The image is not available -
![image](https://user-images.githubusercontent.com/84667136/154617101-8925edb4-dab2-46e5-9cb1-f8366ee4c408.png)

File location : [website](https://github.com/chaoss/website)/[Beginners Guide](https://github.com/chaoss/website/tree/main/Beginners%20Guide)/Begi

[2022-02-28 16:55] klumb opened #708 "GSOC Micro-tasks and questions"
### Idea: Build Knowledgebase Application on CHAOSS Website

Hours: 350

Micro-tasks and place for questions: https://github.com/chaoss/website/issues/708

While much of the work of CHAOSS is done in GitHub, the CHAOSS website is often the first place people visit to get information https://chaoss.community/. The goal of the website is to create clear paths for new members who want to contribute,

[2022-03-01 17:28] klumb commented on #708
### Micro-Tasks:

[2022-03-02 14:26] yash2002109 commented on #708
Hi @klumb,

I would like to work on this project as a student for GSoC'22.

[2022-03-08 07:59] yaodada123 commented on #708
Basically, wordpress is a way to build web pages for visitors to browse and implement two knowledge base plugins to facilitate theme switching, right?

[2022-03-08 16:35] klumb commented on #708
@yaodada123

The CHAOSS website is built using WordPress. This project will likely involve selecting a knowledgebase plugin and implementing it on the website. This may also involve some light HTML, CSS, Javascript, or Database work.

WordPress is an open source content management system (CMS) written in PHP and paired with a database. Features include a plugin architecture and a template system.

[2022-03-09 09:52] yaodada123 commented on #708
@klumb
That sounds good,I think I will try it.
Now I am familiar with HTML, CSS and JS. In fact, I don't know much about wordpress. I have only used it for my personal blog site and deployed it to cloud services.What else do you think I need to know specifically?And could you please tell me what is expected of us?

[2022-03-10 16:23] #705 closed

[2022-03-10 16:24] #660 closed

[2022-03-10 16:25] #691 closed

[2022-03-13 19:11] Ayush7614 opened #710 "Issue templates now use Issue forms instead of markdown"
Markdown templates often made it difficult to capture the whole context, by expecting the contributors to read the markup, uncomment lines and delete relevant context.

Issue forms beta was released for public repositories last month, as mentioned by GitHub on this [blog](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/). We would like to migrate the issue templa

[2022-03-13 19:12] Ayush7614 commented on #710
@klumb please assign me this issue

[2022-03-13 19:15] Ayush7614 opened #711 "Added PR Template"
Added Standard PR template for pull request

[2022-03-13 19:15] Ayush7614 commented on #711
@klumb please assign me this issue

[2022-03-15 12:34] yash2002109 opened #712 "Update Banner on Home Page"
CHAOSScon was held in 2021. The banner on the homepage can be updated with a more recent announcement!
![image](https://user-images.githubusercontent.com/77677278/158378276-cfbed42f-3fc7-449e-8687-984c09b23cfe.png)

Suggestion: Perhaps we could replace the text and add that CHAOSS will be participating for GSoC, GSoD and Outreachy

[2022-03-15 14:06] germonprez commented on #712
@klumb how easy is it to change the text on this image?

[2022-03-15 14:58] klumb commented on #712
Good idea @yash2002109

@germonprez This is very easy to change

[2022-03-15 15:09] klumb commented on #712
I updated this based on your reccomendation. Thanks

[2022-03-15 15:09] #712 closed

[2022-03-15 15:41] klumb commented on #710
@Ayush7614 Issue/pr forms is something we are discussing across the project. This work will likely be done out of the CHAOSS Common working group. If you are interested in working on this please reach out to that group on the Slack channel attend the upcoming Zoom meeting.

Details are here: https://chaoss.community/participate/

[2022-03-16 16:57] klumb commented on #708
Sharing info from private email exchange -

The general workdpress theme template we use is:
Salient Version: 12.1.5

By [ThemeNectar](https://themeforest.net/user/themenectar)

Then we use a modified child theme to get to some of the CHAOSS specific design choices.

We don’t use a plugin to pull text from GitHub, we have some code that was written for us to pull the content from Github. You would

[2022-03-16 16:59] klumb commented on #708
Sharing info from private email exchange -

The knowledge base is an attempt to provide one place for new users to get information without them having to go to various GitHub repos or other platforms.

The topics I would like to see right now would be metrics, metrics models, and community handbook information.

The metrics info exists and should be pretty easy to incorporate.

The metrics models

[2022-03-30 12:07] Saurabh-Suchak commented on #708
Hey @klumb I would like to work on this project for GSoC ' 22.

[2022-04-01 21:10] BELAOURASARA commented on #708
Hello @klumb ,
I'm very interested in working on this project during GSOC 2022 !

[2022-04-01 21:13] klumb commented on #708
Welcome @BELAOURASARA

[2022-04-03 13:58] himanshu007-creator commented on #708
Hi! @klumb ,
i am really interested to wortk on this project during GSOC' 22

[2022-04-03 16:33] klumb commented on #708
Welcome @himanshu007-creator

[2022-04-03 17:44] siddhiiguptaa opened #715 "Links not working"
In the software part of the main website, the two links of [Augur Components]( https://github.com/chaoss/website/blob/main/Software/augur.md) are not working:

1) [Python Library](https://oss-augur.readthedocs.io/en/dev/library-documentation/python.html)
2) [REST Server](http://augur.osshealth.io/static/api_docs/)

[2022-04-04 10:34] Akshaya101 commented on #708
Hello @klumb I'm a GSoC'22 participant and I'm interested in working on this issue

[2022-04-04 13:05] klumb commented on #708
Welcome @akshaya101

[2022-04-08 15:09] klumb commented on #708
Hi all,

How are the micortasks coming along?

Please let me know if you have questions or would like chat about this project. I could set up a zoom meeting.

[2022-04-08 15:58] yash2002109 commented on #708
Hi @klumb,

The tasks have been coming along nicely. I have started working on the proposal too, I'll soon give you a detailed update!

I would really like to talk more about the project over a zoom meeting. Perhaps you could schedule a meeting next week and the interested contributors could join in?

[2022-04-08 18:32] klumb commented on #708
Thanks @yash2002109.

Hey all, would 9 am US Central time work?

[2022-04-08 19:35] yash2002109 commented on #708
@klumb, could you specify the date?

[2022-04-08 19:42] klumb commented on #708
I can do this any day next week.

Feel free to shout out a day that works for you all.

[2022-04-08 22:04] BELAOURASARA commented on #708
It works for me !

[2022-04-10 13:07] BELAOURASARA commented on #708
@klumb
I've looked for Salient 12.1.5 theme on the web and I didn't find it ( I've found +13.0 versions only). Could you please share with us the link where we can download it ?

[2022-04-10 15:37] Akshaya101 commented on #708
@klumb
11th April, US Central time work, IST (7:30pm)
Is this okay with everybody?

[2022-04-10 16:25] klumb commented on #708
@BELAOURASARA  **do not** use the salient theme in your prototypes. This theme has a license fee.

I am sharing the link to the theme we use so you can see the demo and find info about it for design purposes.

https://themeforest.net/item/salient-responsive-multipurpose-theme/4363266

You should find a free theme or style your prototype yourself. Your prototypes don't have to look exactly like our

[2022-04-10 16:29] klumb commented on #708
Thanks @Akshaya101

I am checking with @ElizabethN to see if she is free on Monday, Wednesday, or Thursday at 9am US Central. if so, I will send out a calendar invite.

[2022-04-11 00:21] klumb commented on #708
Okay everyone we are scheduled.

GSOC Knowledgebase project meeting
Scheduled: Apr 11, 2022 at 9:00 AM to 10:00 AM US Central time
Location: https://zoom.us/my/chaoss

You can grab the calender event from https://chaoss.community/participate/

[2022-04-11 00:24] klumb commented on #708
This session will be an opportunity to ask questions about the Knowledgebase project. I don't have anything specific planned.

[2022-04-14 18:31] camillem opened #717 "404 error on"
Hi,
I had bookmarked  the URL https://chaoss.community/metric-bus-factor/ and I now get a 404 error.
The page https://chaoss.community/metrics/ still lists this same link for the bus factor.
Tested  in Firefox 99.0 and Chromium Version 100.0.4896.88 (Build officiel) snap (64 bits)

Thanks,
Camille

![BusFactor404_Firefox](https://user-images.githubusercontent.com/438000/163454199-93f77044-bcb7-414

[2022-04-14 18:35] HerambLimaye commented on #708
hey @klumb actually wordpress free is not allowing me to use Wordpress plugins, so any alternative.
You will find below attached screenshot related to issue
![Screenshot (951)](https://user-images.githubusercontent.com/69971489/163454838-e8155036-b465-4ab1-8b29-ccafb9a0c800.png)

[2022-04-14 19:57] klumb commented on #708
Hi, @HerambLimaye I haven't encountered this issue before.

Let do some checking.

Has anyone else had problems with this?

[2022-04-14 20:05] klumb commented on #717
Thanks, @camille

I was able to replicate this and track down the issue. It should be good now.

Please close the issue if it is now resolved for you.

[2022-04-14 20:07] HerambLimaye commented on #708
Thanks @klumb, anyone else who knows what I am doing wrong or knows any alternative please fill free to let me know

[2022-04-15 10:12] HerambLimaye commented on #708
[https://wordpress.com/start/plans](https://wordpress.com/start/plans) this was the link

[2022-04-15 17:18] klumb commented on #708
I wasn't aware the plugins aren't allowed in the free version. @channel if there is a way around this, please share.

For your prototypes, you can create the models using other tools if you need to. Just make sure you are researching available knowledge base plugins for WordPress and modeling their structure into your prototype.

[2022-04-15 18:17] Akshaya101 commented on #708
To work on locally and establish the microtasks I used [wordpress.org](https://wordpress.org/) . This lets you to establish Wordpress locally and you can also use plugins on it. It does not provide hosting though.

[2022-04-15 18:20] klumb commented on #708
Perfect! Thanks @Akshaya101

[2022-04-15 18:48] HerambLimaye commented on #708
Thanks @Akshaya101 downloading it now

[2022-04-15 22:36] camillem commented on #717
@klumb It is resolved for me also. Thanks very much.

[2022-04-15 22:36] #717 closed

[2022-04-17 06:21] yash2002109 commented on #708
Hi @Akshaya101 & @HerambLimaye,

You also checkout this video: https://youtu.be/OuqOUgn2lxg

This provides you complete access to WordPress alongwith hosting on a free domain!

[2022-04-17 16:27] klumb commented on #715
PR #718

[2022-04-17 16:27] #715 closed

[2022-04-18 10:55] germonprez opened #722 "Metrics Release -- April 18, 2022"
Hi Kevin,

I just ran through the metrics (Firefox/Mac) that were released. Here were the five things that I saw:

Not showing: https://chaoss.community/metric-inclusive-experience-at-event/

404: https://chaoss.community/metric-conversion-rate/

404: https://chaoss.community/metric-cii-best-practices-badge/

Not Showing: https://chaoss.community/metric-project-velocity/

404: https://chaoss.commu

[2022-04-18 11:48] germonprez opened #723 "CHAOSS Board for Metrics Release"
Hi Kevin,

The CHAOSS Board is now:

Yehui Wang, Huewei
Sophia Vargas, Google
Amy Marrich, Red Hat
Armstrong Foundjem, MCIS Laboratory at Queen's University
Daniel Izquierdo, Bitergia
Dawn Foster, VMware
Don Marti, CafeMedia
Georg Link, Bitergia
Ildikó Vancsa, OpenStack
Kate Stewart, Linux Foundation
Matt Germonprez, University of Nebraska at Omaha
Nicole Huesman, Intel
Sean Goggins, University of

[2022-04-18 15:04] klumb commented on #722
Thanks @germonprez

1. The name for inclusive experience at event was incorrect in the link. (resolved)
2. Conversion rate was removed from the release so it should be 404. It looks like my last edits didn't get pushed. I may have forgotten to save. The table link was not removed (resolved)
3. CII best was changed to ossf best. Same issue as 2. This changed everywhere except the table (resolved)
4

[2022-04-18 15:23] klumb commented on #723
resolved

[2022-04-18 15:23] #723 closed

[2022-04-18 15:58] germonprez commented on #722
All good. Thanks!

[2022-04-18 15:58] #722 closed

[2022-04-19 04:26] arneja-arnav commented on #708
Hi @klumb @yash2002109 ,
So nice to meet you guys! We interacted on the IRC channel before but I don't think I introduced myself well. I would love to work on this project as well. Can my proposals still be reviewed?

[2022-04-19 17:37] AmaanSayyad commented on #708
Hi @klumb,
Hope you doing well.

I would like to work on this project.

[2022-04-19 18:06] klumb commented on #708
Welcome @AmaanSayyad

The deadline for submission is April 19, 2022 13:00 US Central Time (UTC-5).

[2022-04-21 14:51] klumb commented on #708
Thank you all for the submissions. We got seven submissions for this project. Best of luck to all of you.

[2022-04-30 19:49] #711 closed

[2022-04-30 19:50] #710 closed

[2022-05-05 21:32] TejasMate commented on #704
This issue is solved by @Raeskaa, so close this issue @klumb @GeorgLink

[2022-05-06 18:19] GeorgLink commented on #704
Thanks!

[2022-05-06 18:19] #704 closed

[2022-05-09 21:29] TejasMate opened #729 "Incorrect HTML rendering between bullet and sub bullet points"
Issue: Adds blank line between **Bullet Heading** end with **fullstop(.)** and **Question Mark(?)** and **Sub bullet's points**

I guessed there is a bug in code of extracting markdown files or converting into web format.

Check Comparison:
Eg: https://chaoss.community/metric-diversity-access-tickets/
Markdown: https://github.com/chaoss/wg-dei/blob/main/focus-areas/event-diversity/diversity-access

[2022-05-11 19:49] TejasMate opened #730 "Repository cleanup"
Lots of directories/files are irrelevant, either moved to WordPress or old GSoC files

Here is a list of directories and files that are not necessarily relevant. Remove them after discussion
~~1. [GSoC-Artifacts directory](https://github.com/chaoss/website/tree/main/GSoC-Artifacts)~~
2. [Home directory](https://github.com/chaoss/website/tree/main/Home)
3. [Images Directory](https://github.com/chao

[2022-05-11 20:18] yash2002109 commented on #730
Hi @TejasMate,

The GSoC artifacts directory was removed in #727. I do not think the `Home` directory can be removed since it provides for the content on the homepage.

[2022-05-11 20:22] klumb commented on #676
This should be included in the upcoming website redesign.

[2022-05-11 20:26] yash2002109 commented on #730
I think that's a good idea @klumb!

[2022-05-11 20:29] TejasMate commented on #730
I think

Thanks Buddy

[2022-05-11 21:24] klumb commented on #729
I have edited these individual metrics and made a proposed change to the metric template to resolve this issue.

Leaving this open to investigate if there is anything we can do to edit our GitHub plugin code.

[2022-05-12 14:57] yash2002109 commented on #712
Hi @klumb,

Since the GSoC application deadline has already passed, should we could consider removing that and adding an **announcement for CHAOSScon 2022** like it was previously?

[2022-05-12 15:00] klumb commented on #712
maybe just remove altogether as it may not make it through the redesign

[2022-06-09 13:50] GeorgLink opened #731 "Suggestion: Add link to Metrics Models on website"
Currently, we don't have an obvious way to get to the metrics models from the website.

I was looking for the Social Listening metric and learned from the release notes that it was moved to the metrics models but there was no easy way to get to it from the website ...

This issue might already be covered by the new "knowledgebase" and website redesign.

[2022-07-05 20:58] germonprez opened #732 "Time Inclusion for Virtual Events"
Hi,

The metric Time Inclusion for Virtual Events is not showing on the webpage:

https://chaoss.community/metric-time-inclusion-for-virtual-events/

[2022-07-08 15:54] #732 closed

[2022-07-26 14:27] germonprez opened #733 "DEI Metrics Not Showing"
https://chaoss.community/metric-code-of-conduct-at-event/

https://chaoss.community/metric-family-friendliness/

These two metrics are not currently showing up on the /metrics webpage.

[2022-07-26 14:48] klumb commented on #733
This issue should be resolved. Please reopen if you are still having trouble.

[2022-09-07 15:55] ElizabethN opened #743 "Add DEI Badge to the CHAOSScon website"
Hi @klumb!

I'm not sure where we'd add this badge, or if it would be weird to display our own badge on the CHAOSScon website, but here is the link to the generated markdown. We could put this on the event details page or somewhere else, if you think it fits better somewhere else.

`![Assigned badge: gold](https://img.shields.io/badge/D%26I-Gold-yellow?style=flat-square&labelColor=583586&&link=htt

[2022-09-07 18:14] klumb commented on #743
To your comment - I have mentioned several times that I don't think it is appropriate to badge ourselves. I think it undermines the integrity of the process (there is either a conflict of interest or the impression of one). However, my comments on this were completely disregarded. So if you want, I will go ahead and add it. I think event details would be a good place.

To my comment - I would pref

[2022-09-07 18:18] germonprez commented on #743
Hi Kevin,

I don't believe that your comments were disregarded.

[2022-09-07 18:35] klumb commented on #743
I think adding the badge along with a disclaimer that the badge process was done by an independent third party along with a statement about how we strive to adhere to the DEI best practices that we as CHAOSS have defined, would alleviate my concerns.

[2022-09-07 19:38] ElizabethN commented on #743
@klumb I think going through the process was important, and it did lead to us making some improvements with regard to the way the information was displayed on the website. It also will lead to improvements for the badging process itself, as we got firsthand experience through an applicant's eyes (more accurately than just submitting test events). I think it was valuable overall, and I'll recommend

[2022-09-07 19:50] klumb commented on #743
@ElizabethN, my view on this was definitely in the minority and that is okay. I only mentioned it because you expressed some concern in your post.

I am very happy to add it or any version of it to the website and I am pretty sure it was decided that we should add it in the community meeting.

I agree with everything you said about going through the process and how valuable that is.

[2022-09-07 19:55] klumb commented on #743
I am going to add it where you suggested.

If we want to add some text to it we can but I will leave that decision up to others.

[2022-09-07 20:06] klumb commented on #743
Added to the site

[2022-09-07 20:06] #743 closed

[2022-09-18 09:13] Kamlesh72 opened #750 "Header overlapping with navigation menu."
When I visited Metrics->Metrics Definitions, the header "THE LINUX FOUNDATION PROJECTS" is overlapping with navigation menu. It is working good in all other pages. Except this one - https://chaoss.community/metrics/.
Tested in Safari and Chrome (mac m1).

<img src="https://user-images.githubusercontent.com/90441742/190894620-ebb964dd-0ca1-4e40-b74b-06033e7fc4de.png" width="700" height="450" />

[2022-09-18 09:26] yash-yp commented on #750
The issue has occurred previously as well. Reference -> #608

[2022-10-01 21:23] dotun2203 commented on #750
If you could assign this to me, i'll like to give it a try

[2022-10-02 00:03] klumb commented on #750
Yeah, this is a really hard issue to recreate.

I believe it is a an issue that occurs due to the browser your using and screen size/mobile. Some have the issue and some don't.

It can't recreate this issue for me on a mac using firefox or chrome.

The LF header is created in the functions.php folder. Here is the code if you want to try to troubleshoot:

`// Add top LFproj banner/link
add_action('

[2022-10-02 00:11] klumb commented on #750
I commented out the code on production. If someone wants to recommend a fix I will implement it. If not, I am okay with removing the banner. It was added by the LF when they were hosting the website.

[2022-10-02 03:43] Kamlesh72 commented on #750
I want to work on this issue. I am new to development so don't know much about github. Well I forked the repo but can't find the  functions.php folder.

[2022-10-18 14:58] klumb opened #753 "Podcast Playlist"
Podcast Playlist for future consideration.

Embed Link:
https://www.youtube.com/playlist?list=PLE3cGSPKjvYGfUpsh4wXRzjRSUbee9iOP

<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLE3cGSPKjvYGfUpsh4wXRzjRSUbee9iOP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfu

[2022-10-23 12:07] meetagrawal09 opened #754 "Mis-aligned option in Navbar"
The DEI Event Badging option in the Navbar appears mis-aligned
It gets fine when we scroll down but again mis-aligns on scrolling up

Browser : _**Chrome**_ ( Version 106.0.5249.119 (Official Build) (64-bit) ) and **_Microsoft Edge_** ( Version 106.0.1370.52 )

<img width="960" alt="image" src="https://user-images.githubusercontent.com/73902874/197390781-3cca212a-6e76-4357-a6f8-d6b752925aa7.png">

[2022-10-23 16:26] klumb commented on #754
Thanks for letting us know and for providing the browser information.

This is an issue with dynamic page sizing to accommodate different size monitors and mobile devices. If you make the page a little bit larger or a little bit smaller, the spacing changes.

The spacing issue is especially evident here because of the size of your window and the navigation text being 3 words (long). This will be r

[2022-10-24 22:02] vinodkahuja opened #755 "Renaming value wg to ospo"
Github the repo name of value wg is changed to ospo wg. @klumb please update the links.

[2022-10-24 22:18] klumb commented on #750
@Kamlesh72 sorry about the late reply. I didn't see that you had responded to me right away. We manage a WordPress website so we don't keep our code on GitHub.

[2022-10-24 22:18] #750 closed

[2022-10-24 22:19] #754 closed

[2022-10-24 22:19] #708 closed

[2022-10-24 22:19] #729 closed

[2022-10-24 22:21] klumb commented on #755
This is done. @vinodkahuja can you keep an eye on it for a day or two in case I missed one of them and website caching is preventing me from seeing it?

[2022-10-25 19:49] vinodkahuja commented on #755
@klumb I have found a few places that need to be fixed and created PR # 576 for that.

[2022-10-25 19:52] vinodkahuja opened #757 "Remove wg timings on participate page"
On the description of each working group on the participate page (https://chaoss.community/participate/) there are meeting timings that do not align with the CHAOSS calendar. For example, OSPO/value time does not align with the calendar. I would propose deleting meeting timings for all wg or referring them to the CHAOSS calendar for meeting times.

[2022-10-26 14:24] germonprez opened #758 "Charter"
Hi @klumb the CHAOSS Project Charter is not currently showing up on the webpage.

[2022-10-26 16:10] klumb commented on #755
Was this a seperate PR?
They are fixed now.

[2022-10-26 16:23] klumb commented on #755
Cool

[2022-10-26 16:23] klumb commented on #758
Fixed

[2022-10-26 16:28] #758 closed