[2018-01-21 19:53] klumb opened #3 "Projects Page - Dead Link"
Incorrect link:

CHAOSS Metric Definition → https://wiki.linuxfoundation.org/oss-health-metrics/start

[2018-01-21 19:55] klumb opened #4 "Add Zoom Meetings to site"

[2018-01-21 19:56] klumb opened #5 "Wiki Page - Dead Link"
Dead link:

For more information on metrics definition work see:
https://wiki.linuxfoundation.org/oss-health-metrics/start

[2018-01-21 19:59] klumb opened #6 "Add website contact info to contacts page"

[2018-01-21 20:03] klumb opened #7 "Add more content to homepage"
Ideas:
1. Important links
2. Streamline on boarding (fast connection to places to contribute)
3. Road map
4. sign up for email list
5. News and blogs

New pages:
1. Resources Page

[2018-01-21 20:10] klumb opened #8 "Merge Wiki with Website?"

[2018-01-21 22:08] GeorgLink commented on #8
The WIKI URL is in wide use today. We can copy all the content and keep the website up-to-date, but I would not eliminate the Wiki at this point --- maybe over time, if we consistently have everything in our repositories and website and no one is using the wiki URL anymore.

[2018-01-21 22:26] germonprez commented on #8
I agree. Particularly, there are going to be metrics details that are
specific in the wiki

On Jan 21, 2018 4:08 PM, "Georg J.P. Link" <notifications@github.com> wrote:

[2018-01-22 21:02] GeorgLink commented on #8
I'd be happy to move the upcoming events page from the wiki to the website and only have one place to maintain this: https://wiki.linuxfoundation.org/chaoss/events#upcoming-events

[2018-01-22 21:05] klumb commented on #8
Good idea,  I will merge those elements and let you know when you can remove from the wiki.

[2018-01-23 18:56] klumb commented on #5
Resolved

[2018-01-23 18:56] #5 closed

[2018-01-23 19:14] klumb commented on #3
Resolved

[2018-01-23 19:14] #3 closed

[2018-01-23 19:32] klumb opened #9 "Edit About Page"

[2018-01-23 19:47] klumb commented on #4
Resolved

[2018-01-23 19:47] #4 closed

[2018-01-23 19:47] klumb commented on #9
Add a more personal about us page.

[2018-01-30 19:18] GeorgLink opened #10 "Add GHData to website"

[2018-02-06 20:41] klumb opened #11 "Published Work Section (Research)"
This issue is for discussion of a research publication page.

[2018-02-06 20:43] klumb opened #12 "Migrate Wordpress Site to Github Pages"
We are investigating this.

Please share your thoughts.

[2018-02-06 20:46] klumb commented on #9
Need Admin access to add to Navigation.

https://chaoss.community/about/

[2018-02-09 18:58] GeorgLink opened #13 "Add: About/FAQ"
Copy FAQ from Whitepaper and add more. Ideally let them live in the repository.

https://github.com/chaoss/whitepaper/blob/master/whitepaper.md#6-faq

[2018-02-09 20:51] klumb opened #14 "Add Images to community Page"

[2018-02-09 20:53] klumb opened #15 "Add Published work area to community page"

[2018-02-12 15:43] GeorgLink opened #16 "Define 'Path to Maintainership' and 'List Maintainers'"
Per proposal in chaoss/governance#5 :

TODO:
- Specify 'path to maintainership' for this repo in CONTRIBUTING.md file
- List current maintainers in README.md file

[2018-02-27 18:13] GeorgLink opened #17 "Remove discontinued mailing lists from the website"
https://chaoss.community/participate/

We are only using the mailing lists for all things CHAOSS.

[2018-02-27 19:16] #6 closed

[2018-02-27 19:16] #10 closed

[2018-02-27 19:22] klumb commented on #14
Add CHAOSS image application - google pics, ..., ...?

[2018-03-07 22:12] #17 closed

[2018-03-20 00:35] klumb commented on #16
Pending pull request.

[2018-03-20 00:35] #15 closed

[2018-03-20 00:36] klumb commented on #15
Duplicate

[2018-03-20 00:38] klumb commented on #12
The Wordpress site now contains GitHub modifiable markdown content.
Shelving the discussion on GitHub pages for the time being.
Closing this issue.

[2018-03-20 00:38] #12 closed

[2018-03-20 00:39] #8 closed

[2018-03-20 00:40] #7 closed

[2018-03-24 21:28] klumb commented on #16
I believe this is done

[2018-03-24 21:29] klumb commented on #14
Photo bucket api?

[2018-03-24 21:30] klumb commented on #13
Location? new page?  In navigation or link from metrics page?

[2018-03-24 21:32] klumb commented on #9
Still need admin access to fix URL issue in navigation

[2018-03-25 13:02] germonprez commented on #14
Sure!

On Sat, Mar 24, 2018 at 4:29 PM, klumb <notifications@github.com> wrote:

--
Mutual of Omaha Associate Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
https://goo.gl/E87KdK

[2018-03-26 07:01] GeorgLink commented on #14
Does the Wordpress Template favor any service and provide features we can use?

[2018-03-26 07:02] GeorgLink commented on #13
Add FAQ under ABOUT ???

[2018-03-26 07:21] GeorgLink commented on #16
I opened pull requests that should address what I thought this issue was about.

[2018-03-26 19:35] #16 closed

[2018-03-26 19:42] klumb commented on #14
Not that I can tell.  Without admin access I can't really install plugins.  PhotoBucket Albums can be easily embedded using HTML and Javascript.

[2018-03-26 20:26] klumb opened #26 "Add Wiki Link"

[2018-03-26 20:27] klumb opened #27 "Add Youtube"

[2018-03-26 20:28] klumb opened #28 "CHAOSS at SOHEAL blog post"
Need a blog post for SOHEAL

[2018-03-26 20:29] klumb opened #29 "Need a blog post for CHAOSS at OSCON"

[2018-03-26 20:30] klumb opened #30 "Need a blog post for CHAOSS at Open Source Summit 2018"

[2018-05-10 17:56] #27 closed

[2018-05-10 17:56] klumb commented on #27
done

[2018-05-10 17:56] klumb commented on #26
done

[2018-05-10 17:56] #26 closed

[2018-05-10 17:57] klumb commented on #9
done

[2018-05-10 17:57] #9 closed

[2018-05-10 17:57] #28 closed

[2018-06-04 15:13] #30 closed

[2018-06-04 15:13] #29 closed

[2018-06-13 22:19] GeorgLink opened #55 "Add registration Button to CHAOSScon website"
Button may look different from what i drew in the picture.

The button should link out to: https://regonline.com/chaossconna2018

![image](https://user-images.githubusercontent.com/8862021/41381429-84b913f0-6f2d-11e8-9da7-31e2e142506b.png)

[2018-06-13 22:30] GeorgLink opened #56 "Fix the display of CHAOSScon schedule to increase the font size"
The table on the CHAOSScon website is very small. Larger font would be nice.

I cannot include CSS styling in markdown.

https://chaoss.community/chaosscon-2018-na/#user-content-schedule

[2018-06-15 22:09] klumb commented on #56
this has been fixed to 18px

[2018-06-15 22:09] #56 closed

[2018-06-15 22:09] klumb commented on #55
done

[2018-06-15 22:09] #55 closed

[2018-08-21 18:30] GeorgLink opened #62 "Update the CHAOSScon2018NA website map"
Update the map on the CHAOSScon2018NA page to use the address that is on the left of the map.

[2018-08-28 23:18] geekygirldawn opened #66 "URL Mangling on Participate Page"
The Growth Maturity and Decline Bi-Weekly Call workgroup URL is mangled. The link on https://github.com/chaoss/website/blob/master/Participate/growth-maturity-decline-weekly-call.md is correct, but it is not what is being displayed on the website.

[2018-08-29 00:11] klumb commented on #66
This appears to be an issue with the GitHub WordPress plugin. I will look into this further and may move the info out of the GitHub module if necessary.

[2018-09-03 12:39] GeorgLink opened #69 "Remove 'register now' button from CHAOSScon website."
Remove 'register now' button from CHAOSScon website.

Requires Wordpress admin rights.

[2018-09-11 21:27] jgbarah opened #71 "Prefered way of submitting images for blog posts?"
When uploading a blog post, I tried to figure out the best way of including some images (JPGs, PNGs...). Should I upload them to the same directory where the blog posts are submitted, or somewhere else? (I mean, in some subdirectory or something...)

[2018-09-11 21:46] klumb commented on #71
Currently we are just uploading them to the same directory (please add some directions in the comments on how you would like them used). We may need to streamline this process further if we are increasing our blog activity.

Sincerely,

Kevin Lumbard
University of Nebraska at Omaha
PKI 367

[2018-09-12 07:49] jgbarah commented on #71
OK. Thanks a lot!

[2018-09-12 07:49] #71 closed

[2018-09-14 20:51] GeorgLink opened #72 "Module for Youtube Playlist on CHAOSSconNA18 page"
Please create a module on the CHAOSScon website for this the YouTube playlist.

https://www.youtube.com/playlist?list=PL60k37cxI-HRgI3MUFtQMntyW8P4ufzbg

The videos have audio only on the left channel, but that does not affect this issue, because we can change the videos in the playlist any time.

[2018-09-25 16:43] klumb commented on #66
@geekygirldawn thanks for spotting this. IT support was able to fix this.

[2018-09-25 16:43] #66 closed

[2018-09-25 16:46] klumb commented on #69
Done

[2018-09-25 16:46] #69 closed

[2018-09-25 16:56] klumb commented on #72
done

[2018-09-25 16:56] #72 closed

[2018-09-25 18:49] GeorgLink commented on #72
Thanks!

[2018-09-25 18:49] GeorgLink commented on #66
Woot woot!
- Thanks for being persistent.

[2018-09-26 08:06] geekygirldawn commented on #66
Thank you!!!

[2018-09-26 08:14] geekygirldawn opened #73 "Create CHAOSSCon EU 2019 Page"
Opening this as an issue to give @klumb one place to track this, instead of digging through email threads :)

About section - same as 2018 NA.

Where - Brussels, TBD.

When - Friday, February 1, 2019 from 10:00am - 5:00pm (we can adjust the times later if we need to)

Organizing Committee: (the people who have already chimed in here - we can add more people later)
Georg Link, University of Nebrask

[2018-10-03 17:48] klumb commented on #73
I have created a an 2019EU folder to create the content for the site.

[2018-10-08 21:42] klumb opened #80 "Add new mailing list to website"
chaossevents@lists.linuxfoundation.org

[2018-10-09 21:28] GeorgLink opened #81 "Add blog post to link to VMware's CHAOSScon blogpost"
Here is the blog post by VMware about CHAOSScon. Alexandre gave us permission to "share and/or link to it from the chaoss website".

https://blogs.vmware.com/opensource/2018/10/09/chaosscon-2018-reflections/

[2018-10-09 21:53] germonprez commented on #81
This is great! Share to the list?

[2018-10-09 22:01] GeorgLink commented on #81
Yes.

[2018-10-19 12:34] GeorgLink opened #82 "update homepage link to CHAOSScon EU 19"
This issue is for updating the following block on the home page to link to the upcoming CHAOSScon EU 19.

![image](https://user-images.githubusercontent.com/8862021/47218403-edf62500-d3ab-11e8-844d-0bf325ecbd72.png)

[2018-10-19 12:35] GeorgLink commented on #73
I think this is complete.

[2018-10-19 12:35] #73 closed

[2018-10-19 15:29] #81 closed

[2018-10-19 15:30] klumb commented on #82
Done

[2018-10-19 15:30] #82 closed

[2018-10-19 15:31] klumb opened #85 "Location info CHAOSScon 2019"
Add updated location info and Map to CHAOSScon 2019 page

[2018-10-19 17:36] klumb opened #86 "Add eventbrite link to CHAOSScon 2019 EU page"

[2018-11-11 00:29] bhavayAnand9 commented on #13
If no one is assigned this issue can I work on it?

[2018-11-11 00:43] klumb commented on #13
@bhavayAnand9,  Yes you can work on this. Please create it as a markdown file. Let me know if you have any questions.  @GeorgLink, any thoughts?

[2018-11-11 16:32] GeorgLink commented on #13
👍 Thanks @bhavayAnand9 for the initiative!

[2018-11-11 16:38] klumb commented on #13
Thanks @bhavayAnand9

To implement #92 , the page needs to be created on the word press site. Assigning to myself.

[2018-11-16 16:02] klumb commented on #85
This was completed in #87

[2018-11-16 16:02] #85 closed

[2018-11-16 16:40] klumb opened #94 "History of Events on Media Page"
Related to #91

@GeorgLink - "I consider it important to keep a history of our outreach activities to show how active we are. I don't know a better place to do it. We have blog posts, but that is not a concise list of past events/presentations/sessions."

[2018-11-16 16:45] klumb commented on #94
Please Review
https://chaoss.community/media/

[2018-11-16 16:51] GeorgLink commented on #94
Looks good. Thanks.

TODO: I will updated the logo links to point to the files here on the repo.

[2018-11-16 17:14] klumb commented on #94
Sorry, didn't check that. I assumed they went to the repo.

[2018-11-16 17:17] klumb opened #95 "Metrics With Greater Utility: The Community Manager Use Case"
Please Review

https://chaoss.community/news/2018/11/16/metrics-with-greater-utility-the-community-manager-use-case/

We do now have the ability to pull markdown directly from the repo but we do have issues with images and captions so we may need to work on that process. HTML copy is the most efficient transfer at this time but image captions need to be edited during that transfer.

[2018-11-17 18:40] GeorgLink opened #96 "Proposal: Community page to show only teaser for blog posts"
We have very long blog posts. We would have a better overview of all topics on the community page if we restricted display to a short teaser, maybe first 100 words or so.

[2018-11-27 20:42] #95 closed

[2018-11-27 20:45] klumb opened #98 "Update Governing Board Page"
Add Ben Lloyd Pearson and @rpaik

[2018-12-17 18:00] klumb commented on #98
Done

[2018-12-17 18:00] #98 closed

[2018-12-18 18:27] GeorgLink opened #101 "Custom CSS for CHAOSScon 19 EU website"
Hi @klumb,

Can you please add the following custom CSS to the CHAOSScon19EU page to make the speaker profiles look like this?

[code]

![image](https://user-images.githubusercontent.com/8862021/50174556-20df6b00-02c0-11e9-8770-10f7b3cc9625.png)

[2019-01-02 18:00] klumb commented on #101
done

[2019-01-02 18:00] #101 closed

[2019-01-02 19:19] GeorgLink commented on #101
Thank you!

[2019-01-07 16:38] GeorgLink opened #102 "CHAOSScon19EU: remove CFP from page"
@klumb please remove the CFP block from the CHAOSScon19EU page.

[2019-01-07 17:44] jgbarah commented on #102
Wouldn't it be better to keep it, with a clear notice at the top stating "the CFP is already closed". That way, it would still be there for future reference...

[2019-01-07 17:47] GeorgLink commented on #102
People will care more about the Schedule from now on. How about moving the
module to the bottom? That keeps the information available.

[2019-01-07 20:13] jgbarah commented on #102
That's a good idea!

[2019-01-13 14:12] GeorgLink opened #103 "Add past-events to Media page"
Please add to the bottom of the About/Media page a module that pulls in the /About/Media/past-events.md file.

[2019-01-22 13:08] GeorgLink commented on #102
@klumb It would be great if you could move the DFP module to the bottom of the CHAOSScon page soon.

[2019-01-22 16:45] klumb commented on #102
Okay, moving now.

[2019-01-22 16:45] #102 closed

[2019-01-27 11:10] geekygirldawn opened #106 "Rename participate files for 3 blocks."
With the new PR #105 I've left all of the file names as is to avoid breaking the website on the backend :) We should eventually rename these to make more sense. I propose:

chaoss-community-call.md -> common-metrics-wg.md

growth-maturity-decline-weekly-call.md -> growth-maturity-decline-wg.md

diversity-inclusion-workgroup-weekly-call.md -> diversity-inclusion-wg.md

[2019-01-27 15:06] klumb commented on #106
I agree. Assigned it to myself.

[2019-01-30 16:54] GeorgLink opened #109 "Add blog post to website"
Blog post was already merged #107

[2019-01-30 17:14] klumb commented on #109
@GeorgLink , @jgbarah , and @sgoggins
I created the blog post. Please review:
https://chaoss.community/news/2019/01/30/contributing-to-the-gmd-work-group/

We are pulling blog posts directly from the github markdown file now so if you edit the original markdown file it will change on the website as well.

[2019-01-30 19:18] GeorgLink commented on #109
Thank you Kevin.

@jgbarah and @sgoggins: The blog post does not have a by-line. Do you want one?

[2019-01-30 20:45] GeorgLink opened #111 "Unify language to "Working Group""
We discussed during this weeks call that we want to uniformly use "Working Group".
For this, we need to replace "workgroup" and "work group".

* https://chaoss.community/metrics/
* https://chaoss.community/news/2019/01/30/contributing-to-the-gmd-work-group/

[2019-01-30 20:56] GeorgLink commented on #111
I fixed all the markdown references. The two links above need wordpess access to change.

[2019-01-30 22:13] jgbarah commented on #109
I find it ok as it is, thanks ;-)

I was reviewing it, I found no error. Thanks! From my side, we can close this issue.

[2019-01-30 22:17] #109 closed

[2019-01-30 22:33] klumb commented on #111
Done.
I am closing the issue.

[2019-01-30 22:33] #111 closed

[2019-01-30 23:06] klumb commented on #96
@GeorgLink , please review.

I think we will want to add dates to the headers.

[2019-01-30 23:27] GeorgLink opened #112 "remove Wiki from website"
We are currently linking to IRC and Wiki from the /participate page

For all I know, no one monitors IRC.

The Wiki is dead!

[2019-01-30 23:52] GeorgLink opened #113 "Community sub-pages: "Blog" and "Events" ?"
This is for the idea to add two new sub-menu items to Community: "Blog" and "Events"

The "Blog" page would be like the community page but without the top items.

The "Events" page would consists of three sections:

1. Block with content from /CHAOSScon/past-future.md
2. Block with content from /Community/conferences.md
3. Block with content from /Community/Events/past-events.md

[2019-01-30 23:53] GeorgLink commented on #113
I would move /Community/conferences.md to the Events place and rename it to `upcoming-events.md`

[2019-01-31 00:00] germonprez commented on #112
Ha ha. This one caught my eye. I think IRC can just fade off into the sunset.

[2019-01-31 02:14] klumb commented on #113
Good idea

[2019-01-31 02:16] klumb commented on #112
I was thinking about this the other day.

We link to the wiki in a couple places.

[2019-01-31 02:51] #80 closed

[2019-01-31 02:52] GeorgLink commented on #112
We should remove all links to the wiki

[2019-01-31 02:56] GeorgLink commented on #96
That's interesting. 👍

[2019-01-31 02:57] GeorgLink commented on #96
Can't hurt, if you have the time.

[2019-01-31 09:21] geekygirldawn commented on #112
I tend to agree about removing links to the wiki and IRC, but I think we need to follow our decision-making process for something as important as this, just in case people are still using either one. I recommend posting it as a proposal to the mailing list with a date for lazy consensus. :)

[2019-01-31 14:36] GeorgLink commented on #112
I sent an email to the list with lazy consensus date Friday, February 8, 2019 for removing IRC from website.

[2019-01-31 14:38] GeorgLink commented on #112
Just to document this: We agreed to abandon the Wiki many moons ago, so no need to ask about removing the wiki.

[2019-02-01 14:08] GeorgLink commented on #112
Decision proposal, do not get rid of IRC.

Dawn Foster on 2019-02-01 to mailing list:

Source: https://lists.linuxfoundation.org/pipermail/chaoss/2019-February/000265.html

[2019-02-21 01:53] GeorgLink opened #116 "remove CHAOSScon advertisement from homepage"
Our homepage has a gigantic advertisement for the last CHAOSScon. I think we can hide the button until we are ready for the next conference.

![image](https://user-images.githubusercontent.com/8862021/53137643-1b650200-3549-11e9-9a5f-a54734b49b09.png)

[2019-02-21 01:57] germonprez commented on #116
Maybe replace it with "Join a Working Group"

[2019-02-21 03:30] klumb commented on #116
I have replaced it with "Join a Working Group"

[2019-02-21 03:30] #116 closed

[2019-02-21 04:02] GeorgLink commented on #116
Awesome, thanks!

[2019-02-25 15:45] GeorgLink opened #118 "Improve email list descriptions on /participate page"
* "Join Mailing List" needs to include D&I list
* Add a description for each mailing list
* Join "How to participate" and "Join Mailing List" sections

[2019-03-03 10:53] geekygirldawn opened #123 "Bug in Wordpress Rendering on md links on participate page"
There seems to be an issue with the way that wordpress is rendering the md link to the agenda in website/Participate/diversity-inclusion-workgroup-weekly-call.md If you look at the [md page in GitHub](https://github.com/chaoss/website/blob/master/Participate/diversity-inclusion-workgroup-weekly-call.md), the link looks fine. I'm going to submit a PR in a few minutes to add the agenda link to the c

[2019-03-03 11:00] geekygirldawn commented on #123
While you're fixing this issue might be a good time to also fix issue #106 since it deals with the same files :)

[2019-03-03 15:31] klumb commented on #123
@geekygirldawn I am looking into this

[2019-03-03 15:36] klumb commented on #123
This was just a minor error in the markdown, I fixed it.

[2019-03-03 15:36] #123 closed

[2019-03-03 15:38] klumb commented on #118
I think we should move the archive links to where the Wiki is now located on the page.

[2019-03-03 15:39] klumb commented on #118
would resolve #112

[2019-03-03 16:18] GeorgLink commented on #118
+1 good idea!

On Sun, Mar 3, 2019 at 9:39 AM Kevin Lumbard <notifications@github.com>
wrote:

[2019-03-05 18:08] klumb commented on #118
The modules have been moved. need to make some edits to the markdown folders.

[2019-03-05 18:10] klumb commented on #118
Think we should have the mailing list info in the top module and archive lists in the bottom module - rename header to email archives.

[2019-03-05 21:13] klumb commented on #112
Removed the wiki

[2019-03-05 21:13] #112 closed

[2019-03-05 21:13] klumb commented on #118
Changes made

[2019-03-05 21:13] #118 closed

[2019-03-09 05:42] s-ankur opened #131 "404 Errors in https://chaoss.community/metrics/"
<br>
These files do not exist.

[2019-03-16 15:40] klumb commented on #131
Thanks ankur.
Could you to tell us where you found them.

[2019-03-16 15:50] GeorgLink commented on #131
Sounds like metrics links.

https://chaoss.community/metrics/

I think we can remove the links from the working group blob.

[2019-03-16 15:53] #131 closed

[2019-03-17 09:16] s-ankur commented on #131
Yes this solves it.

[2019-03-19 16:53] GeorgLink opened #135 "require DCO for all new commits"
This issue is to activate [protobot/dco](https://github.com/apps/dco) (or similar bot) to check that all commits have a sign-off. The CHAOSS Project Charter requires that all contributions are signed-off.

For users of the git command line interface, a sign-off is accomplished with the `-s` as part of the commit command: `git commit -s -m 'This is a commit message'`

For users of the GitHub interf

[2019-03-19 16:56] germonprez commented on #135
Hey, I got this GH request. Does the install instantly require a DCO for all repositories?

[2019-03-19 17:00] GeorgLink commented on #135
I sent a request to pilot with `chaoss/governance` only.

I think a gradual roll-out to gather experience and ease everyone into it
would be good

[2019-03-19 19:26] germonprez commented on #135
That's a good place to start. Looks like it's good to go.

matt

On Tue, Mar 19, 2019 at 10:00 AM Georg J.P. Link <notifications@github.com>
wrote:

--
Mutual of Omaha Associate Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
he / him / his
https://goo.gl/E87KdK

[2019-03-19 19:33] GeorgLink commented on #135
Thanks.
It works. I tested it with the Browser Plugin and didn't have to do
anything extra.

https://github.com/chaoss/governance/pull/97/checks?check_run_id=81017526

[2019-03-19 19:33] germonprez commented on #135
great

On Tue, Mar 19, 2019 at 12:33 PM Georg J.P. Link <notifications@github.com>
wrote:

--
Mutual of Omaha Associate Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
he / him / his
https://goo.gl/E87KdK

[2019-03-25 19:35] germonprez opened #139 "Remove Prospector from Software Page"
As Prospector was marked as inactive at the March 2019 board meeting, I believe it should be removed from the website.

[2019-03-25 19:37] germonprez opened #140 "Metrics Page"
I think this page is going to be the page where the releases are going. I suggest starting to build the structure now that will replace this page.

[2019-03-25 19:39] germonprez commented on #140
For the time being, I suggest removing the links to GMD and D&I -- or the entire working group sections.

[2019-03-25 19:40] germonprez opened #142 "Community Tab"
Under the community tab, I think we should link to all of the working group repositories.

[2019-03-26 16:56] GeorgLink commented on #135
@klumb can we enforce DCO signoff on the website repo?

[2019-03-27 13:46] GeorgLink commented on #142
Redirecting from the website menu to GitHub may feel broken. Rather, we could create a page for each working group and pull in the README files.

Note, that links in README files would need to have absolute paths to work in website and GitHub.

[2019-03-27 13:48] GeorgLink commented on #140
I suggest to wait for #142 to be completed, before we remove the WG from the metrics page.

[2019-03-27 13:50] GeorgLink commented on #139
Marked as `good first issue`.

This issue requires two steps:

1) create a pull request that removes file /Software/prospector.md
2) @klumb needs to remove the prospector section from the website.

[2019-03-29 01:46] klumb commented on #139
@GeorgLink - The prospector section is removed from the website.

We still need to delete the /Software/prospector.md from the repository.

[2019-03-29 01:51] klumb opened #144 "Augur Information and image"
@sgoggins, the Augur information on the website is out of date.

Software/augur.md file needs to be updated and need a current image

[2019-03-29 14:48] GeorgLink opened #145 "update WG info on /participate and /metric page in WordPress"
@klumb

#143 added Value WG call info. This needs to be reflected in a module on the /participate page.
#143 added a description of the Value WG, which seems to have been intended for the /metric page. Since we are clearing the /metric page for when we release metrics (#140), this info should go somewhere else (see #142).

- [ ] update /participate page modules
    - [ ] new module for Value WG

[2019-03-29 14:57] GeorgLink commented on #139
That's a good first issue 👍

[2019-04-01 18:21] germonprez opened #146 "Update Particpate Page"
@klumb

We need to update the participate page to include:

Value and Risk

Both use the same zoom channel as all the rest of the calls:

**Risk details**
Minutes: https://docs.google.com/document/d/1iqIMpLBwuKSnE0BbQTgbsb9Im87IoN7IUzukochClCw/edit#
Time: Weekly, Friday 11am CT.

**Value details**
Minutes: https://docs.google.com/document/d/1qWAV4ExtwcY3mSzIb9sYOUENt4Pi1BD7APjnRTCnZZs/edit?ts=5c9a

[2019-04-01 18:28] GeorgLink commented on #146
This issue provides more information for issue #145

[2019-04-02 14:06] klumb commented on #146
Thank you @GeorgLink , @germonprez

I am thinking that I will do a 2 row x 3 col  display for the 6 calls. Placing them in order of call and may highlight the day as the top header with work group info underneath. Thoughts?

[2019-04-02 14:29] GeorgLink commented on #146
Good idea

[2019-04-02 14:41] germonprez commented on #146
+1

[2019-04-02 17:02] klumb commented on #135
Yes, what do you need from me?

[2019-04-02 17:07] GeorgLink commented on #135
I will activate the bot now. All future commits require the sign-off.
That's all

[2019-04-03 15:30] #135 closed

[2019-04-08 16:19] klumb commented on #113
Hold off an re-evaluate after restructure #140 #142 #145 #146

[2019-04-08 16:20] klumb opened #148 "Create module for home page working groups"
link working groups to individual wg pages

[2019-04-08 16:23] klumb opened #149 "Format Charter and COC"
Add padding and white background to documents on WordPress site

[2019-04-08 16:24] klumb commented on #96
This is done.

[2019-04-08 16:24] #96 closed

[2019-04-08 16:26] klumb opened #150 "Update Upcoming Events on Community Page"
Update info in markdown.

[2019-04-08 16:28] GeorgLink commented on #13
The WG README's are serving this purpose.

[2019-04-08 16:28] #13 closed

[2019-04-08 16:30] klumb commented on #11
This would under the About menu.

[2019-04-08 17:28] germonprez commented on #146
Where is this at @klumb ?

[2019-04-08 17:56] klumb commented on #146
@germonprez, I am working on multiple changes to the website currently. This change isn't live yet.

[2019-04-08 17:59] germonprez commented on #146
Okay

On Mon, Apr 8, 2019 at 12:56 PM Kevin Lumbard <notifications@github.com>
wrote:

--
Mutual of Omaha Associate Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
he / him / his
https://goo.gl/E87KdK

[2019-04-08 21:20] klumb commented on #149
done

[2019-04-08 21:20] #149 closed

[2019-04-08 21:20] klumb commented on #148
done

[2019-04-08 21:20] #148 closed

[2019-04-08 21:21] klumb commented on #146
@germonprez please review on website

https://chaoss.community/participate/

May need to edit individual modules for accuracy but I believe everything is correct.

[2019-04-08 21:22] klumb commented on #145
done

[2019-04-08 21:22] #145 closed

[2019-04-08 21:23] klumb commented on #142
@germonprez please review on website

[2019-04-08 21:27] klumb commented on #103
@GeorgLink  please review on website

[2019-04-08 21:41] GeorgLink commented on #103
looks good. thanks!

[2019-04-08 21:41] #103 closed

[2019-04-08 21:50] GeorgLink opened #157 "Relative paths on WG README's"
The WG README's use relative paths, which don't work after pulling them into WordPress.

Option 1: Don't use README's directly.
Option 2: Require WG to use absolute paths in their README.

Because WordPress generates its own anchors, it breaks the Table of Content on the D&I README after it is pulled into WordPress.

Option 1: Use absolute path and break user expectation by referring them to the G

[2019-04-09 10:28] germonprez commented on #146
Looks good.

Remove: biweekly from GMD overview so that it is the same text as in
Common.

matt

On Mon, Apr 8, 2019 at 4:22 PM Kevin Lumbard <notifications@github.com>
wrote:

--
Mutual of Omaha Associate Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
he / him / his
https://goo.gl/E87KdK

[2019-04-09 10:34] germonprez commented on #142
The dropdown looks good.

Regarding the individual pages:

D&I anchors don't work
D&I focus area links are 404

GMD has some of these same issues

On Mon, Apr 8, 2019 at 4:23 PM Kevin Lumbard <notifications@github.com>
wrote:

--
Mutual of Omaha Associate Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
he / him / his
https://goo.gl/E87KdK

[2019-04-09 11:27] GeorgLink commented on #142
Is the structure okay though?
Then we can close this issue.

The problems on the new pages are tracked in #157

[2019-04-09 12:23] germonprez commented on #142
Yes.

On Apr 9, 2019 6:27 AM, "Georg J.P. Link" <notifications@github.com> wrote:

[2019-04-09 22:46] GeorgLink commented on #142
Request was made today during the call to remove the pages again. Links to these individual WG pages should instead point to the repositories.

[2019-04-09 22:46] GeorgLink commented on #157
pages will be removed.

[2019-04-09 22:46] #157 closed

[2019-04-10 13:38] klumb commented on #146
Done

[2019-04-10 13:38] #146 closed

[2019-04-10 13:38] klumb commented on #142
Done

[2019-04-10 13:38] #142 closed

[2019-04-10 13:41] klumb opened #161 "Add calendar ics and notes links to wg modules"
Add calendar links and meeting notes links to wg modules on participate page.

Some of them already have these links. Want to make sure that all of them have parallel information.

[2019-04-10 13:51] germonprez commented on #161
Good idea.

On Wed, Apr 10, 2019 at 8:41 AM Kevin Lumbard <notifications@github.com>
wrote:

--
Mutual of Omaha Associate Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
he / him / his
https://goo.gl/E87KdK

[2019-04-12 17:17] Polaris000 opened #162 "Check your local time for Value call inconsistent"
The [check your local time](http://arewemeetingyet.com/Chicago/2019-01-15/19:00/b/CHAOSS%20GMD%20C%26R%20Subteam#eyJ1cmwiOiJodHRwczovL3Vub21haGEuem9vbS51cy9qLzcyMDQzMTI4OCAifQ==) for the values group is inconsistent. The next meeting for the values group appears to be on the 24th if you consider what is the link shows.
But the next call is actually on the 17th of this month.

Please have a look @G

[2019-04-12 17:21] Polaris000 opened #163 "Lack of a favicon for the website"
The favicon for the website seems to be missing. I think it would be a good idea to have one.
If not, this issue can be closed.
Please have a look @GeorgLink @klumb

[2019-04-15 14:07] GeorgLink commented on #163
I noticed too, that we don't have a favicon.
I will add a "good-first-issue" to this:
- We need someone to design a favicon. In the "material" section on following page is information about our logo: https://chaoss.community/media/

[2019-04-15 14:12] Polaris000 commented on #163
Thanks for the response!

[2019-04-16 14:58] GeorgLink opened #164 "Create CHAOSSconNA'19 and CHAOSSconEU'20 webpages"
The files already exist in the repository. This issue is about creating and publishing the website.
https://github.com/chaoss/website/tree/master/CHAOSScon

- [x] CHAOSSconNA'19
- [x] CHAOSSconEU'20

[2019-04-16 23:27] klumb commented on #164
@GeorgLink These pages are now created. Please open a separate issue to add them to the navigation when you are ready.

https://chaoss.community/chaosscon-2019-na/
https://chaoss.community/chaosscon-2020-eu/

[2019-04-16 23:27] #164 closed

[2019-04-17 11:24] GeorgLink commented on #164
Thank you!

[2019-04-30 20:38] GeorgLink opened #169 "Add link to CommunityBridge on website"
I don't know where, but we might want to add a link to CommunityBridge on our website...

Maybe a call to action on multiple pages that we want funding!
Later, maybe a call to action that we are seeking mentees (after we have funding)

Link:
https://funding.communitybridge.org/projects/a4a43b66-f707-47b4-97cc-484285c274a8

Help wanted: Identify where on the website we can place call to actions for

[2019-06-11 17:16] klumb commented on #163
We don't have access to this on our end. We will need to reach out to the Linux Foundation.

[2019-06-18 22:07] GeorgLink opened #179 "Please change default CHAOSScon to NA19"
Currently, when clicking on the Menu "CHAOSScon", it shows CHAOSSconEU19. Preferred behavior would be to show the upcoming CHAOSSconNA19.

[2019-06-19 16:09] klumb commented on #179
This is done. Please review on web-site and reopen if you find issues.

[2019-06-19 16:09] #179 closed

[2019-06-21 15:20] mpgjon commented on #169
Hi Georg, I can take this one on.  I think we should put a "Donate" menu item in the main menu that persists across the site.  I don't see that code in the repo though, and assume that config lies in the menu code in the Wordpress install. LMK if that seems like a reasonable location and choice, and if you want me to make the change, feel free to invite me to the WP installation.

[2019-06-21 15:32] mpgjon commented on #163
I cropped up an image for use, given it's a Wordpress install, will need to be granted access to update the favicon in the or have someone drop the image into: Administration Screen > Appearance > Customize.
![Chaoss favicon](https://user-images.githubusercontent.com/19333663/59933877-1df43d00-93ff-11e9-8124-2bb5d8f16b36.png)

[2019-06-21 16:36] klumb commented on #169
@mpgjon, I like the idea of adding it to the main navigation menu. I think we need to create a page as well. We can link to community bridge from the page.

[2019-06-21 16:50] mpgjon commented on #169
Would you want to link the Donate top-level item to a donate page (and try to embed if we can any of the neat transparency data from CommunityBridge) or directly from Donate to the project URL page on CommunityBridge?  Either way is doable with the former being a bit simpler.

[2019-06-21 17:05] klumb commented on #163
Excellent, I will reach out to the Linux Foundation to have them add to the site.

[2019-06-21 17:12] klumb commented on #169
For the time being, the former should be sufficient but let's continue talking about this and maybe build some markdown that we can add to other pages or create a dedicated page.

I added it to the main navigation.

[2019-06-22 15:03] klumb opened #182 "Candidate Release Comments (Format and Presentation)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about the webpage and presentation of the metrics. To make comments about the focus areas and individual metrics, please follow the links in the release tables.

https://chaoss.community/metrics-rc/

Important Dates

Release Freeze: June 21st, 2019
Candidate Release: June 24th, 2019
Comments

[2019-06-24 11:13] geekygirldawn commented on #182
I love the overall look! I didn't check all of the links, but I did notice that the link to the "Code of Conduct at Event" metric from the [D&I Event Diversity Focus Area](https://chaoss.community/metrics-rc/#user-content-focus-area---event-diversity) is currently 404.

[2019-06-24 13:38] klumb commented on #182
Thanks Dawn, I fixed the link.

Cheers,

Kevin Lumbard, M.S. PMP (he/him/his)
University of Nebraska at Omaha
College of Information Science and Technology
PKI 367

“Design is all about problem solving. So when I see a project without a problem, I create one” - Anonymous Problem Solver

[2019-06-24 13:52] GeorgLink commented on #182
I edited the "Release Table", renaming it.
I just checked all the links.

Tasks I see remaining:
-[] fix realtive paths in Evolution metrics for the screenshots
-[] insert Risk metrics and create issues for comments
-[] add a section for the Value WG that links to the repo, like all other areas, but without metrics

[2019-06-24 15:16] klumb commented on #182
I think the relative path issue is something the working groups should resolve. Perhaps we can talk about that in the community meeting on June 25th.

As @geekygirldawn said, relative paths are generally seen as best practice but seeing as these detail pages are being created for release outside of GitHub, I think it is fair to ask that for these pages only, images and links use absolute paths.

[2019-06-24 20:53] klumb commented on #162
Thanks @Polaris000
I will take a look

[2019-06-24 20:58] klumb commented on #162
This appears to be working correctly now. I will look at it after the value call this week to see if the time changes and is accurate.

[2019-06-25 13:47] geekygirldawn commented on #106
It looks like this is completed.

[2019-06-25 13:47] #106 closed

[2019-06-25 14:57] mpgjon commented on #169
NICE! DO we want to keep this issue open for further discussion; or close this one and create a new one to "Create markdown for use in a CommunityBridge donation block or page"?

[2019-06-25 14:59] mpgjon commented on #139
Completed with https://github.com/chaoss/website/pull/183 :)

[2019-06-25 15:02] mpgjon commented on #11
For the markdown file in this section; are there any already-published works or related research or other assets we'd like to include?  If so, if I can be directed to them I can start pulling together a markdown file with actual *stuff* in it.

[2019-06-25 15:09] klumb commented on #169
Let's chat about it here and then when we have some actionable ideas, we can create an issue or issues to address them.

Thoughts:
What pages do we want links on and what should the call for funding look like?
Do we want a dedicated page on the website for funding or is community bridge fine?
What do we use the funding for? Should we highlight that on a page?

[2019-06-25 15:10] GeorgLink commented on #11
I have been adding everything to the bottom of the media page: https://chaoss.community/media/

@klumb do you think we need a separate publications section?

[2019-06-25 15:15] klumb commented on #150
This section was redundant. We have a module that we use on the chaosscon pages. We can incorporate that module into any page we desire.

[2019-06-25 15:16] klumb commented on #150
I remove it from the site.

[2019-06-25 15:16] #150 closed

[2019-06-25 15:16] klumb commented on #139
thanks @mpgjon

[2019-06-25 15:16] #139 closed

[2019-06-25 15:20] klumb commented on #14
I am closing this issue. If this is important, I think we should create a new issue.

The Linux Foundation has added some plugins to the site that will allow us to manage images better. So this issue is now a style and location issue.

[2019-06-25 15:20] #14 closed

[2019-06-25 15:24] klumb commented on #11
@mpgjon and @klumb,

It is not obvious to me that publications would be on the media page. I think it is more closely related to the blog and community page. Perhaps this is part of the larger conversation about the Community navigation label and the sub-pages/navigation that could exist there. A dedicated page might be nice there.

[2019-06-25 15:26] mpgjon commented on #169
Would love to find out if any of the blocks on this page are embeddable via markdown:
https://funding.communitybridge.org/projects/a4a43b66-f707-47b4-97cc-484285c274a8 - it would be great if we could provide a high level "how much have we raised/spent" and "project goals" block that's live data from Community Bridge and then a link to the page on CB for full details.  If they are, it would be nice

[2019-06-25 15:27] klumb opened #184 "Software Pages"
I think we need more content on the software and dedicated pages for each one - Grimoire Lab, Cregit, and Augur.

[2019-06-25 15:40] klumb commented on #169
Lets research community bridge and see what our options are.

Markdown is preferred for created website content because it is easier for many to contribute but we do have options other than markdown. The WordPress Github modules we use will also take HTML files and there may be a WordPress plugin we could add.

@mpgjon, ask and you shall receive, I added some color and a button style element to th

[2019-06-25 15:42] mpgjon commented on #169
Awesomesauce @klumb !

[2019-06-25 22:41] mpgjon commented on #163
Following up from our call this morning, see if this one with a transparent BG is a bit better for the favicon.

![chaos_icon_transparent_50x50](https://user-images.githubusercontent.com/19333663/60138530-917bae80-975f-11e9-8cd6-7d48ca5a0ed3.png)

[2019-06-26 04:13] Polaris000 commented on #162
Thanks for the reply, @klumb! If its working properly, please let me know and i'll close this issue, or you could do it directly.

[2019-06-26 10:44] germonprez commented on #163
Thanks @mpgjon

[2019-06-28 17:03] klumb commented on #163
Thanks, @mpgjon - the transparent favicon is now live. I am closing this issue.

[2019-06-28 17:03] #163 closed

[2019-06-28 17:04] klumb commented on #163
Also thanks @germonprez for moving this to the foundation.

[2019-07-05 16:01] Polaris000 commented on #162
@klumb did it work as planned?

[2019-07-07 17:47] klumb commented on #182
The tables are not mobile friendly. I am working on a fix.

[2019-07-07 23:42] klumb commented on #182
I have implemented a fix to make the tables dynamic and allow for scrolling on smaller mobile devices. @GeorgLink and @geekygirldawn, please review

[2019-07-08 12:37] GeorgLink commented on #182
Thank you @klumb the mobile version is better.

Here is another idea: how about reducing the padding in the table on mobile?
+ smaller font ✅
+ force line break ✅

[2019-07-08 12:42] germonprez commented on #182
I tried small font but HTML in MD is weird.

[2019-07-08 12:45] GeorgLink commented on #182
Yes. Doing it in markdown is not working well due to the import to WordPress.
@klumb is experimenting with CSS formatting in Wordpress - this is delivering the results we want.

[2019-07-08 12:56] germonprez commented on #182
Ah!

[2019-07-08 18:52] klumb commented on #182
Okay, I have made a few adjustments to column width, line-height, padding, and font size. The tables are pretty dynamic based on device size now.

The addition of the comment links on the detail pages makes the table comment link a little redundant so on small mobile devices, I have set the last column to disappear. I think it enhances the mobile presentation. Please let me know your thoughts.

[2019-07-08 18:58] GeorgLink commented on #182
Excellent! Thank you very much @klumb

I agree with disappearing the last column on small screens!

[2019-07-08 19:21] germonprez commented on #182
Thanks @klumb

[2019-07-24 21:03] germonprez opened #198 "New Picture on Front Page"
@klumb do we have any new pictures for the front of the webpage? That one is pretty old anymore.

[2019-07-24 21:13] klumb commented on #198
I don’t have that many. Perhaps we could ask the email list to share some.

Cheers,

Kevin Lumbard, M.S. PMP (he/him/his)
University of Nebraska at Omaha
College of Information Science and Technology
PKI 367

“Design is all about problem solving. So when I see a project without a problem, I create one” - Anonymous Problem Solver

[2019-07-24 21:16] GeorgLink commented on #198
Sean is taking a lot of pictures, maybe he has a good one.

[2019-07-24 21:17] germonprez commented on #198
@sgoggins, do you have a folder of CHAOSS pictures? Ones that you've taken over the years?

[2019-07-25 13:25] geekygirldawn commented on #198
I think we had a pretty good one from chaosscon NA last year?

[2019-07-25 13:46] germonprez commented on #198
I know the picture you're talking about. In the hallway. @sgoggins do you have that picture. I think you took it.

[2019-07-25 21:19] GeorgLink commented on #198
Now that you mention it, I had used that picture:
https://medium.com/mozilla-festival/the-chaoss-project-open-leaders-6-37c2799c2dd3

[2019-07-26 10:26] germonprez commented on #198
@GeorgLink do you have the original? Or that's probably high enough resolution for the webpage...

[2019-07-26 12:52] GeorgLink commented on #198
I tracked down the orginal on Sean's Flicker:
https://www.flickr.com/photos/sociotechnika/albums/72157697528096872

[2019-07-26 15:29] klumb commented on #198
I am using the CHAOSS Con 2018 group now. I think that module could use a little work. Maybe a slider and edit the text. Thoughts?

Do we have a group photo from the last CHAOSS Con Europe? I don't remember one being taken.

I think we should create a shared repository for pictures.

[2019-07-26 15:51] sgoggins commented on #198
I think I have a CHAOSS Group on Flickr.

[2019-07-26 17:48] GeorgLink commented on #198
Sean's CHAOSScon EU pictures:
https://www.flickr.com/photos/sociotechnika/albums/72157689462885213

[2019-07-27 16:10] sgoggins commented on #198
There is a chaoss collection on Flickr Here. There are photos from several CHAOSSCon’s and other events.

https://flic.kr/g/u9yeB

sean

[2019-07-28 15:24] sgoggins commented on #198
@germonprez and @klumb : Note the flickr group in the comment above. I can give access to anyone who wants to put pics there.

[2019-08-15 16:36] geekygirldawn opened #208 "CHAOSScon EU save the date page before CHAOSScon NA"
I was thinking it would be great to have at least a save the date placeholder page for CHAOSScon EU before we get to CHAOSScon NA next week. I know this is short notice - @klumb @GeorgLink @germonprez is it possible to do?

Here are the details that I have:

- January 31, 2020
- Brussels, the day before [FOSDEM](https://fosdem.org/2020/)
- [Hotel ibis Brussels City Centre](https://www.accorhotels.

[2019-08-15 16:53] klumb commented on #208
Yes, I can have this up pretty quick.

[2019-08-15 16:56] geekygirldawn commented on #208
Awesome, thank you! :)

[2019-08-15 16:57] GeorgLink commented on #208
This would be great. Thank you!

[2019-08-15 17:16] klumb commented on #208
the page and repo exist for EU 2020 - will edit to reflect known info and add to navigation.

https://chaoss.community/chaosscon-2020-eu/

Need to remove sponsors.  Can I include a call for sponsors and the sponsor prospectus? May need minor edits? @GeorgLink

[2019-08-15 17:53] GeorgLink commented on #208
I created a PR with updated funding prospectus. @germonprez you are listed as main contact, will you do that again?

https://github.com/chaoss/website/pull/209

[2019-08-15 19:01] geekygirldawn commented on #208
I created a pull request with the date and which ibis it's held in :) #210

[2019-08-15 19:06] GeorgLink commented on #208
LGTM
Thanks Dawn

[2019-08-15 21:36] geekygirldawn commented on #182
It looks like this is done, so I'm going to close this issue.

[2019-08-15 21:36] #182 closed

[2019-08-18 18:51] klumb commented on #208
CHAOSScon EU 2020 is in the main navigation now.

I created a PR to edit the description to match 2019 NA #212

[2019-08-19 18:16] GeorgLink commented on #208
Thanks @klumb

Can you please remove the sponsors from the CHAOSScon 2020 EU page?

[2019-08-19 20:19] GeorgLink opened #215 "Create a page for GSoC alumni"
I think we should elevate our GSoC students more and showcase that we are actively participating in the GSoC program.

TODO:
- create a page for GSoC, showing a list of our student alumni and their year of graduation. Maybe even short summary, of how they contributed to CHAOSS.

[2019-08-20 12:53] germonprez commented on #215
This is a nice idea

[2019-08-20 14:21] klumb commented on #215
We can do this when we rework the community page. Discussion is to have multiple pages replace the current community page.

[2019-08-20 14:27] klumb commented on #208
sponsor images are removed from the page. The sponsor prospectus is now available as a download link.

[2019-08-20 20:58] GeorgLink commented on #208
Thank you 😉👍

[2019-08-23 14:34] GeorgLink commented on #215
Students in 2019 are:

Student | Project
--|--
Parth Sharma | Build CHAOSS Risk and Growth Maturity and Decline Metrics in Augur
Bingwen Ma | Build CHAOSS Risk and Growth Maturity and Decline Metrics in Augur
Aniruddha Karajgi | Implementing CHAOSS Metrics with Perceval
Nishchith K Shetty | Support of Source Code Related Metrics

We'll have to dig up 2018 again.

[2019-08-24 13:17] GeorgLink commented on #215
Aniruddha's final report: https://polaris000.github.io/blog/final_report

It is a source of information about the student's achievement and contributions

[2019-08-25 18:37] germonprez opened #218 "Board Changes"
Need to remove:

Jesus and Josianne from the board, effective August 25, 2019

[2019-08-29 16:54] jgbarah commented on #215
I think Aniruddha's report is quite informative about his work, but just in case a short summary is convenient:

"Aniruddha has produced the first complete reference implementation of CHAOSS metrics, starting with data retrieved directly for the repositories (using GrimoireLab/Perceval). The reference implementations are simple pieces of Python code which produces both numeric and time series valu

[2019-08-30 13:10] valeriocos commented on #215
Find below a short summary of Nishchith's work:

***
Nishchith has integrated [Graal](https://github.com/chaoss/grimoirelab-graal) with [GrimoireLab](https://chaoss.github.io/grimoirelab/) tool chain, which is now able to collect, enrich and visualize code complexity, license and copyright information. The Graal backends used for this integration are `cocom` and `colic`. The former obtains code co

[2019-09-11 16:46] Nebrethar opened #223 "Small edit: Remove CHAOSSCON NA 2019 Reference"
The front page has a block (with a link) that says:
[code]
Just need a quick edit to remove that, for now.

[2019-09-11 19:41] GeorgLink commented on #223
We had a message there before, inviting people to our Working Groups.

[2019-09-15 02:44] klumb commented on #223
thanks @Nebrethar

[2019-09-15 02:44] #223 closed

[2019-10-07 14:13] GeorgLink opened #227 "Broken link on /participate page"
The link in: `Come see us at conferences, workshops, and hackathons.` is broken.

Where do we now maintain a list of upcoming events?

[2019-10-07 14:16] klumb commented on #227
We don't have a dedicated place for that other than the bottom of the CHAOSScon pages

[2019-10-07 14:17] GeorgLink commented on #227
Thanks. I'll create a pr to fix the lin.

[2019-10-07 14:24] #227 closed

[2019-10-07 18:35] GeorgLink opened #229 "Link to IRC channel"
The /participate page has the IRC channel listed.

The easiest way to participate in the IRC channel is to use the web interface provided by freenode.

I propose to turn the IRC text on the /participate page into a link that points to:

[2019-10-08 07:31] jgbarah commented on #229
I think that's a good idea.

[2019-10-10 15:49] jsmanrique opened #231 "`Common metrics` link in the main page links to `metrics` repository instead of `wg-common`"
I have noticed that in the home page, under the list of Working Groups, the `Common metrics` text links to [metrics repo](https://github.com/chaoss/metrics), instead of the expected [wg-common repo](https://github.com/chaoss/wg-common).

[2019-10-11 05:10] jsmanrique commented on #231
Fixed by #235

[2019-10-11 05:10] #231 closed

[2019-10-11 05:12] jsmanrique commented on #184
I can draft something for GrimoireLab

[2019-10-11 15:17] klumb commented on #184
@jsmanrique, that would be great. Thank you!

[2019-10-11 15:19] klumb commented on #113
This has been resolved

[2019-10-11 15:19] #113 closed

[2019-10-18 11:40] jsmanrique opened #237 "Broken link to GrimoireLab dashboard"
In the software page, under GrimoireLab description there is a link to `GrimoireLab eating GrimoireLab` that is not anymore working.

Would it be nice to have there the link to [CHAOSS GrimoireLab dashboard](https://chaoss.biterg.io)?

[2019-10-18 12:15] jsmanrique commented on #229
I was trying to fix this, but I could not find the .md file where that is written. Any help?

[2019-10-18 12:22] germonprez commented on #229
I'm guessing would be something to add to this page (I don't see it either):

https://github.com/chaoss/website/blob/master/Participate/How-to-participate.md

@klumb ?

[2019-10-18 12:33] germonprez commented on #237
Can you issue the PR off of this?

[2019-10-18 12:38] jsmanrique commented on #237
Yes, I have done it: #238

[2019-10-18 13:43] #237 closed

[2019-10-18 14:27] klumb commented on #229
Thank you @jsmanrique I think the text you added is appropriate. In regards to the module at the bottom of the page, because it is just one line of text, it doesn't have an MD file yet. I have made that requested change through WordPress.

[2019-10-18 14:32] klumb commented on #215
This can be created as markdown or HTML in the community folder of this repository.

[2019-10-18 14:33] klumb commented on #161
Calendar has been added.

[2019-10-18 14:33] #161 closed

[2019-10-22 06:48] parthsharma2 opened #241 "Broken link to chaoss.biterg.io"
The link to `chaoss.biterg.io` on the [participate page](https://chaoss.community/participate/) is broken. The link directs to `https://chaoss.community/participate/chaoss.biterg.io` instead of `chaoss.biterg.io`

[2019-10-22 07:01] parthsharma2 opened #242 "Update Augur weekly meeting details"
On the [participate page](https://chaoss.community/participate/), it is mentioned that the Augur WG meets every Tuesday at 10:00 CT. As far as I know, the group meets every Wednesday at 13:00 CT.

Also, the link to "check your local time" is broken.

[2019-10-22 17:18] GeorgLink commented on #242
You are correct. Thanks for reporting the issue.

Would you like to create a pull request to fix the relevant file?
https://github.com/chaoss/website/blob/master/Participate/software-augur.md

[2019-10-22 17:19] GeorgLink commented on #241
Thank you for reporting the issue.

The issue can be fixed with a pull request to change the file:
https://github.com/chaoss/website/blob/master/Participate/software-dashboard.md

@parthsharma2 would you like to create the pull request?

[2019-10-22 18:29] parthsharma2 commented on #241
Sure, i'll make a PR

[2019-10-22 18:29] GeorgLink commented on #229
Thank you very much!

[2019-10-22 18:29] #229 closed

[2019-10-22 18:29] parthsharma2 commented on #242
Sure, i'll make a Pull Request :+1:

[2019-10-22 19:08] #242 closed

[2019-10-22 19:13] #241 closed

[2019-10-25 15:20] GeorgLink opened #246 "CHAOSScon website"
Hi @klumb

In the past, we had a map with the location and a "register" button on the page. If I recall correctly, it was to the right of the "About CHAOSScon" section.

Can we have that again for EU 2020?

Thanks,
Georg

[2019-10-29 15:13] klumb commented on #246
Yes, we can add that.

[2019-10-29 19:03] klumb commented on #246
@GeorgLink, can you please review the webpage. I have restructured several modules and moved content to make this change.

https://chaoss.community/chaosscon-2020-eu/

[2019-10-29 20:36] GeorgLink commented on #246
It looks great. Thank you!

[2019-10-29 20:36] #246 closed

[2019-12-28 19:45] klumb opened #262 "Metrics Release 202001"
This Issue was created to help coordinate the metrics release on the website.

[2019-12-29 13:39] germonprez commented on #262
Thanks very much for pulling this together Kevin! Very much appreciated.

The page looks great -- I hope the spreadsheet was helpful in reducing the overhead required to assemble the page. Based on your comments from a different thread:

Todo Items include:
1. Create issues for each metric in the associated working group repository ( examples can be found in the Value working group issue forum)
2.

[2019-12-29 15:46] SMotaal commented on #262
<div align=center>

# 💭

@klumb Can I suggest making the TODO's more semantic by adding them to the op's description:

</div>

[code]

<table><tr><td>

- [ ] Create issues for each metric in the associated working group repository ( examples can be found in the Value working group issue forum)
- [ ] Confirm important dates for release.
- [ ] Add comment column to release tables (example can be see

[2019-12-29 16:41] klumb commented on #262
Thanks, both.

Can I get a comment on dates?

Important Dates for Release 202001

Release Freeze: January 1st, 2020
Candidate Release: January 24th, 2020
Public Comment Period: January 1st, 2020 to January 24th, 2020
Metrics Release Date: February 6th, 2020

[2019-12-29 16:45] klumb commented on #262
As the issues are created, I will add them to the metrics table.

@SMotaal any comments on the structure of the metrics tables?  The value table has the three columns I was planning on (I need to adjust the size of the comment column). Do we want more info? Should I make the links open in a new tab rather then navigating away from the website?

[2019-12-29 19:11] SMotaal commented on #262
I honestly wanted to deep dive on this in my usual time frame if you don't mind — me rushing over things is an oxymoron in my case :)

[2019-12-30 01:31] GeorgLink commented on #262
Thanks @klumb @SMotaal and @germonprez

@klumb I made you an owner of CHAOSS to give you maintainer rights on all repos so that you can best work on preparing the release.

I am spending time with family in Germany and only have a couple of minutes at a time to respond to questions. Right now it seems like all questions have been answered.

[2019-12-30 17:08] klumb commented on #262
Thanks Georg

Cheers,

Kevin Lumbard, M.S. PMP (he/him/his)
University of Nebraska at Omaha
College of Information Science and Technology
PKI 367

"We build our computers the way we build our cities -- over time, without a plan, on top of ruins" - Ellen Ullman

[2019-12-30 17:54] klumb commented on #262
@SMotaal, I am not sure I am following all of your comments.

 in regards to the tables, we are using HTML because markdown doesn't provide enough formatting options.

The sizing concern is to make certain that all the tables are presented in a similar fashion. The table is dynamic but the column percentages for the first and last columns need to be the same otherwise the 30 tables we have display

[2019-12-30 17:59] klumb commented on #262
I don't believe there are any calls scheduled this week. If you want we can take over the community call tomorrow since that meeting is on hiatus.

[2019-12-30 18:07] germonprez commented on #262
I'm not going to be available tomorrow.

Also, I'm done with the the Risk Issues. @klumb what remains regarding issues?

[2019-12-30 18:41] klumb commented on #262
Thanks @germonprez

Evolution is the last one. I should have it done later today.

I will have the release candidate page ready for review by the end of the day.

**I will need some editorial help to make sure all the text is appropriate and links go where they need to go.**

If I can get a signoff tomorrow, I think we can send the release announcement email to the list on the 1st as planned.

[2019-12-30 19:37] germonprez commented on #262
Will do

On Mon, Dec 30, 2019 at 12:41 PM Kevin Lumbard <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

Omaha Parks Foundation Board Member
http://omahaparksfoundation.org/

he / him / his

[2019-12-30 21:00] klumb commented on #262
@chaoss/content-group
Please review prior to release freeze
https://chaoss.community/metrics-202001/

[2019-12-31 14:02] germonprez commented on #262
I've gone through all of the Issues and they all look good.

[2019-12-31 14:07] germonprez commented on #262
Review Duration should be Reviews Duration
Issues Resolution Duration should be Issue Resolution Duration

Just a few 's' additions/removals

[2019-12-31 17:12] SMotaal commented on #262
@klumb sorry for not catching this, I will be available at 12:30, it’s more like understanding the workflow from my end, chatting and/or trying things (ie I work by building a feel, acquired/adapted conventions are not something I know how transfer around between projects).

No rush if you are not free then or today obviously, just let me know (aside from Friday is good for me mostly)!

[2019-12-31 17:45] SMotaal commented on #262
Certainly, why markdown tables are conceptually flawed compared to original markdown.

So while I was circling on past ideas, I came across an interesting summary with examples: https://www.w3.org/WAI/tutorials/tables/irregular/

I am digging towards an inclination that specs could have something similar to the  `table-layout` CSS property where it can apply the sizing logic across related tables…

[2019-12-31 17:51] klumb commented on #262
Thanks @germonprez, I made the requested edits. Unless there are objections, I will go ahead and add the release candidates page to the navigation later today.

@smotaal, I don't have a lot of time to meet this week. I think the release happening over a holiday has hampered some of our coordination efforts. We can chat next week when the meetings resume.

[2019-12-31 17:56] SMotaal commented on #262
Sorry, I realized that as I was carried away, it is just until I flow I guess, so I appreciate it being confusing for everyone and I trust that once flow kicks in there will be more contribution to be made from my end that takes less bandwidth — ie more now as we figure out, but it is not just noise.

Thanks for understanding and Happy New Year 🥳

[2019-12-31 18:11] klumb commented on #262
@smotaal, the tables are created in HTML and all of the formatting is done using a CSS file on the website ( I should probably pull it down to the repo). Yes, the CSS properties apply sizing logic across all the related tables. For simplicity, I am trying to avoid any javascript manipulations. Also I am pretty adept at using HTML and CSS so I don't think that polyfill is needed.

I apologize for t

[2019-12-31 18:16] SMotaal commented on #262
@klumb, absolutely, what I feel I need to remind myself of is getting to carried away in comments makes it more likely to miscommunicate!

So I believe as we have face-to-face opportunities, that gap will mend, less in comments, less tangents to wonder if needed to be covered… that's all I was aiming for in my last one.

Thank you so much for explaining, I think matters of this particular issue ar

[2020-01-07 18:15] klumb opened #271 "Improving Blog Functionality"
We need to explore more streamlined workflows for contributing to the newsletter and blog.

One initial idea might be to incorporate @SMotaal solution. Details to come.

[2020-01-07 18:18] SMotaal opened #272 "Proposing new biweekly web content meetings"
I'd like to propose setting up a regular biweekly meeting time for web content.

# TODO

- [x] Create doodle — https://doodle.com/poll/9v8at8g75iuepmwk

- [ ] Fill out doodle — @chaoss/content-group

- [x] Hold a first meeting — `pending`

/cc @chaoss/content-group

[2020-01-07 18:20] klumb commented on #272
@chaoss/content-group

[2020-01-12 12:42] eddiejaoude opened #273 "About button link in hero section does not work"
On the main navigation the **about** url is

[code]

But in the hero button it is

[code]

<img width="2998" alt="Screenshot 2020-01-12 12 40 30" src="https://user-images.githubusercontent.com/624760/72218994-0a462a80-3539-11ea-9159-fdd07fe80ded.png">

[2020-01-13 11:07] GeorgLink commented on #273
@eddiejaoude,
 Thank you for reporting the issue with our homepage.

@chaoss/content-group will take care of it.

[2020-01-13 21:41] SMotaal commented on #272
@klumb is there a way to drive attention to others who are interested… I'd like us to fill out the doodle if possible and maybe set a tentative time during tomorrow's community hour.

[2020-01-14 15:18] klumb commented on #273
Thanks @eddiejaoude & @GeorgLink, I fixed the issue.

[2020-01-14 15:19] eddiejaoude commented on #273
Awesome 👍 . Thanks @klumb

[2020-01-14 15:20] klumb commented on #272
@smotaal, I think talking about it on the list is probably the best way.

[2020-01-14 17:52] #273 closed

[2020-01-25 23:24] #262 closed

[2020-01-25 23:29] klumb opened #279 "Website Release Comments"
Please use this space to list edits that need to be made.

These edits may include broken links, broken images, and language or structure issues.

Please include the repository and file where the edit needs to be made. The metrics page is part of the website repo. The detail pages belong to the working group repos.

[2020-01-25 23:43] klumb commented on #279
https://chaoss.community/metric-contributors/
Common metric
Image is wrong place near "4. New contributors (sort list of contributors by date of first contribution)"

[2020-01-25 23:46] klumb commented on #279
https://chaoss.community/metric-review-duration/
evolution metric
Mandatory parameters is bold

[2020-01-25 23:47] klumb commented on #279
https://chaoss.community/metric-reviews-declined/
evolution metric
Mandatory parameters is bold

[2020-01-25 23:48] klumb commented on #279
https://chaoss.community/metric-code-changes/
evolution metric
Mandatory parameters is bold

[2020-01-25 23:51] klumb commented on #279
https://chaoss.community/metric-issue-resolution-duration/
evolution metric

References is the incorrect header size

[2020-01-25 23:55] klumb commented on #279
https://chaoss.community/metric-social-currency-metric-system/
Value metric

Visualizations are broken

[2020-01-26 09:37] GeorgLink commented on #279
PR #280 removes excess "<"

[2020-01-26 09:43] GeorgLink commented on #279
PR https://github.com/chaoss/wg-common/pull/51 fixes image placement in value metric Contributors

[2020-01-26 09:49] GeorgLink commented on #279
PR https://github.com/chaoss/wg-evolution/pull/325 fixes Mandatory parameters is bold in evolution metrics Review Duration and Reviews Declined

[2020-01-26 09:58] GeorgLink commented on #279
PR https://github.com/chaoss/wg-value/pull/68
(hopefully) fixes the SCMS images

[2020-01-26 10:00] GeorgLink commented on #279
Where References section has no references, remove "none" ...

[2020-01-26 10:04] GeorgLink commented on #279
PR https://github.com/chaoss/wg-diversity-inclusion/pull/272
removes "none" from Reference sections that have no references to be consistent across all  metrics and working groups

[2020-01-26 10:13] GeorgLink commented on #279
**How to reference images?**
Some images are **relative** paths (e.g., Common: Contributors)
Other images are **absolute** paths (e.g., Evolution: Code Changes).

The problem with absolute paths is that they point to the "master" branch, and not the release tag.
I think we would be **safer using relative paths** because I assume (but have not tested) that the relative path is sensitive to the rele

[2020-01-26 10:16] GeorgLink commented on #279
https://chaoss.community/metric-issue-age/
Evolution metric
images broken

[2020-01-26 10:31] GeorgLink commented on #279
What should we do with references to other metrics?

For example, [Value: Project Velocity](https://chaoss.community/metric-project-velocity/) references several Evolution metrics. The links are pointing to the Markdown file in GitHub.

For the release, it would be nicer to point to the released metric, to keep visitors on our website. Sending them to markdown files would seem unexpected.

[2020-01-26 10:38] GeorgLink commented on #279
https://chaoss.community/metric-issue-resolution-duration/
Evolution metric
Links to related metrics are broken (404)

[2020-01-26 10:52] GeorgLink commented on #279
Some images are stored on third party sites. I found this in RISK metrics that use imagur to store embedded images.

Example: https://github.com/chaoss/wg-risk/blob/release202001/metrics/OSI_Approved_Licenses.md

[2020-01-26 15:22] #279 closed

[2020-02-14 17:12] GeorgLink opened #300 "Add meetings calendar in the participate page"
Can we add the calendar to the /participate page, rather than having a separate page for it?

[2020-02-14 17:19] klumb commented on #300
Yes, we could do that. Let's leave this open for a bit to get comments.

I don't remember what the initial reasoning was for having them separate but I think there were concerns.

[2020-02-14 17:24] GeorgLink commented on #300
I didn't even remember that we had a separate page and when I looked on the /participate page, I couldn't find a link to the calendar (only in the menu). I like to have fewer pages and rather people scroll.

The calendar display is also very catchy, so I think it will be good having it at the bottom of the /participate page.

[2020-02-14 17:26] klumb commented on #300
My initial thought was to have it on the same page. However, there was a request to have it separate. I believe that was discussed in a community meeting as well.

[2020-03-13 17:38] bistaastha commented on #144
Hi @klumb ! Can I work on this?

[2020-03-13 18:06] klumb commented on #144
Thank you @bistaastha, let me know if you need anything.

[2020-03-13 18:08] klumb commented on #144
On the website, this information is displayed at

https://chaoss.community/software/

[2020-03-13 18:13] klumb commented on #144
At some point, we will give each piece of software its own page so feel free to provide as much information you deem necessary.

If you would like to design a whole page you may however it is not required for this issue.

[2020-03-13 18:46] bistaastha commented on #144
Thanks, I'm working on it :)

I just looked around this repository to find the image source file. It doesn't seem to be here

[2020-03-13 19:10] klumb commented on #144
@bistaastha I cc'd you on an email to @sgoggins to get the image

[2020-03-14 13:28] bistaastha commented on #144
Hi @klumb ! This is great.

However, I had a different concern. The file [Software/augur.md](https://github.com/chaoss/website/blob/master/Software/augur.md) contains the content which needs to be updated, but the image file cannot be updated from the markdown file. I'm also not able to find the current image source file in this repository.

[2020-03-15 22:27] klumb commented on #144
Sorry for the confusion @bistaastha.

The website is hosted on Wordpress. Originally all of the content was created and stored there as well.  We have slowly been replacing the WordPress content with the content on GitHub. The image and file do not exist in GitHub because we haven't created them yet. That would be part of this task.  I am happy to chat on Monday if you have questions.

[2020-03-16 17:34] klumb commented on #144
@bistaastha I uploaded the Augur image to the software folder.

[2020-03-26 15:54] #144 closed

[2020-04-20 19:08] GeorgLink opened #309 "Put on front page job opportunity"
@klumb I think this needs to be done in WordPress.

How about we take the "Want to know how to contribute?" and change it to "We are hiring a Community Manager. Apply now >" and link to Indeed?

https://www.indeed.com/jobs?q=chaoss&vjk=a1376004346952f5

[2020-04-20 20:08] klumb commented on #309
Done. Please take a look.

https://chaoss.community/

[2020-04-20 20:11] germonprez commented on #309
Thanks. Could you change the dropdown to be more inline with the text of
the others?

On Mon, Apr 20, 2020 at 3:08 PM Kevin Lumbard <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/

Omaha Parks Foundation Board Member

[2020-04-20 20:20] klumb commented on #309
Sorry, @germonprez I am not sure what you mean. Could you elaborate?

[2020-04-20 20:23] germonprez commented on #309
Hovering over CHAOSScon on the web page. When you do this, it should just
say 2020 America

On Mon, Apr 20, 2020 at 3:20 PM Kevin Lumbard <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/

Omaha Parks Foundation Board M

[2020-04-20 20:28] klumb commented on #309
Oh gotcha, totally missed that. fixed that as well

[2020-04-20 20:39] germonprez commented on #309
Thanks!

On Mon, Apr 20, 2020 at 3:29 PM Kevin Lumbard <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/

Omaha Parks Foundation Board Member
http://omahaparksfoundation.org/

he / him / his

[2020-04-20 22:00] GeorgLink commented on #309
The "Apply Now!" should go to https://www.indeed.com/jobs?q=chaoss&vjk=a1376004346952f5

When I click on the button, it takes me to the /participate page

[2020-04-20 22:00] GeorgLink commented on #309
Also, what do you think about having a "Jobs" menu entry on all pages that goes to the indeed link? That way it will be front and center for everyone coming to chaoss.community

[2020-04-20 22:59] klumb commented on #309
Weird, I must not have hit save when I changed the link before. It is fixed now.

Regarding the Jobs menu entry, I don't really have any issue adding it however I think it may be overkill.

We put It is on the front page and the website but that probably isn't where people will get the link. My guess is indeed.com, email, and social media are where we will get them. But like I said, no issue here

[2020-04-21 01:14] GeorgLink commented on #309
"Now Hiring" is even better!

[2020-04-21 13:31] klumb commented on #309
Okay, temporary now hiring button added to the main navigation

Please review and close.
https://chaoss.community/

[2020-04-21 16:25] GeorgLink opened #310 "Error on front page?"
I saw this error on the homepage:

<img width="865" alt="Screen Shot 2020-04-21 at 11 24 35 AM" src="https://user-images.githubusercontent.com/8862021/79888826-d2197800-83c2-11ea-834b-bf563b178f73.png">

[2020-04-21 16:29] GeorgLink commented on #309
Thank you, this is great.

I have one more suggestion to change the link. The link I had provided was not the best... Sorry

Better link:
https://www.indeed.com/job/chaoss-project-community-manager-remote-work-a1376004346952f5

[2020-04-21 17:01] klumb commented on #310
Github was having some unicorn issues. It appears the issue is resolved on their end.

[2020-04-21 17:01] #310 closed

[2020-04-21 17:03] klumb commented on #309
Link is changed in both places.

[2020-04-21 19:57] GeorgLink commented on #309
Thank you very much!

[2020-04-21 19:57] #309 closed

[2020-05-01 16:36] GeorgLink opened #312 "Add "Podcast" to main menu"
Hi @klumb,

Can you please add a menu item "Podcast" that links to podcast.chaoss.community ?

Thanks,
Georg

[2020-05-06 15:23] klumb commented on #312
This has been added to the navigation menu

[2020-05-06 15:23] #312 closed

[2020-05-06 15:25] GeorgLink commented on #312
Awesome, thank you very much!

[2020-05-08 01:45] tharun143 commented on #215
Hey, I am a CSE undergraduate looking forward to bagging GSoC in the coming year. For this, I need to bring familiarity with the CHAOSS community and environment.
I would like to work on this issue. Can you be more precise about the issue?

[2020-05-08 02:23] tharun143 commented on #215
@GeorgLink @germonprez I would really like to contribute to CHAOSS. Can u guys describe me more about the issue

[2020-05-08 10:54] germonprez commented on #215
Hi @tharun143. Thanks for your interest in this. I've tagged @klumb who can likely help the most. He is responsible for the web site, which is where this information would be provided.

Kevin, the idea is to just have a bottom part of the board page with an Alums(?) Former Board Members(?). Jesus GB would be the one on that list.

[2020-05-08 12:42] GeorgLink commented on #215
Thanks @tharun143,

We use markdown files as the source for our webpages. For this issue, you could create a pull request to add a `gsoc-alumn.md` file to https://github.com/chaoss/website/tree/master/Community

In a first iteration, the file could contain at least the following structure:

[code]

@klumb can then create the page on our website and pull in the markdown file.

In another pull reque

[2020-05-08 12:42] GeorgLink commented on #215
We may actually name the page differently, because we are adding Outreachy this year.

[2020-05-08 12:46] germonprez commented on #215
Ah! I totally misread this as a page for tracking former board members :/

[2020-05-08 18:04] klumb commented on #215
Thanks, @germonprez, and @GeorgLink!

@germonprez, it does make sense to have a former board members list as well. This would be a separate markdown file that I would add to the bottom of the current board page. If you are requesting this, I will create an issue for it.

@tharun143, the information @GeorgLink has provided about the process is accurate. I am happy to chat with you about this furthe

[2020-05-08 18:54] germonprez commented on #215
@klumb ... yes a new issue for this would be excellent (board member alums). Thanks.

[2020-05-08 21:40] klumb opened #315 "Add Board Member Alumni to CHAOSS Board Page"
This issue was generated based on #215

"Kevin, the idea is to just have a bottom part of the board page with an Alums(?) Former Board Members(?). Jesus GB would be the one on that list."

[2020-05-08 21:47] klumb opened #316 "Discussion - Newsletter Process and Inclusion on Website"
Hey All,

I would like to spend some time on website planning and consolidation or closing of old issues.

@germonprez @GeorgLink

Let us use this issue for website planning and requests and then we can create specific issues based on the discussion.

[2020-05-08 21:50] klumb commented on #316
The specific issue I would like to discuss is including the newsletter on the website. The google doc method is time-consuming and redundant and creates an issue with storing the images. Can we streamline this process?

[2020-05-08 22:19] GeorgLink commented on #316
How about we download a pdf from the Google doc for the visual and upload on the website only the text, exported from the doc as markdown?

[2020-05-08 23:01] klumb commented on #316
I can take a look at that but it still seems process heavy. Are you opposed to creating the newsletter using WordPress built-in blog functionality?

[2020-05-08 23:02] klumb commented on #316
Or we could create the newsletter the same way we create metric pages (fully in markdown with images stored on github)

[2020-05-08 23:03] klumb commented on #316
using HTML, I could embed a pdf version on the website, but it probably won't be seo or search friendly.

[2020-05-09 01:10] tharun143 commented on #215
Well, first of all, thanks for the response. What I understood from the above discussion is that I have to create a md file with the list of GSoC students. In another pull request, I have to include additional information, such as the project title, a project description, links to blog posts, links to the student's LinkedIn or Twitter profiles...

Okay, the source for the information is archived m

[2020-05-09 02:53] GeorgLink commented on #215
Thank you. Just to clarify. I suggest two pull requests to have smaller chunks of work and to give you faster feedback but it's all the same file.

[2020-05-09 03:20] tharun143 commented on #215
Cool, I have sent the md file as a PR and will update the same md file with the additional information.
I have added this year's current GSoC 2020 students and added another column for the mentors. For the second PR, I am planning to include the information s blocks because if it looks like a table then it will be lengthy.

[2020-05-09 09:05] tharun143 commented on #215
@klumb do you guys need the info only 2018 & 2019 GSoC students or the current 2020 students too?

[2020-05-09 11:53] tharun143 commented on #184
@klumb I would like to work on this issue. After going through the discussions in the issue I found Augur has already completed. I think the Grimoire lab and credit are left. If @jsmanrique is not working on the Grimoire lab then I will read the existing md file and update the md file with relevant photos. Also, can u suggest me the resources for solving this issue? By reading the existing model o

[2020-05-09 11:57] tharun143 commented on #215
@GeorgLink I hope you found the PR for this issue and I hope you like the format of the md file. If there are any suggestions or if there is any additional information need to be added please tell me. I will update the PR.

[2020-05-09 13:51] GeorgLink commented on #316
Hm... maybe I'm missing something or not understanding correctly. I am not opposed to or in favor of any particular solution.

I am also open to writing the newsletter in something other than a google doc.

What would be the easiest process for you?

[2020-05-09 20:36] klumb commented on #316
@GeorgLink, I don't think you are missing anything, I would just like to have a discussion about streamlining the process. I am open to many options. Maybe we can chat about the workflows that are associated with each process. My goal would be to make the process as easy and as open as possible. The Wordpress option would be the easiest on my end but it is non-transparent for the project.

[2020-05-10 11:42] germonprez commented on #316
I'm all for any change that works for the website. The one thing that we need to make sure is that the newsletter can be easily copy and pasted into an email.

[2020-05-10 19:25] tharun143 commented on #315
@klumb I would like to work on this issue as I already had an experience with issue #215 and sent a PR (#317 ) for the issue. I hope I could handle this issue btw is there any channel for the community to engage with other than Freenode?

[2020-05-10 20:17] klumb commented on #184
@tharun143,
I think we should have a conversation with @jsmanrique and @sgoggins about what they would like these pages to look like. I will bring it up in the next community meeting but we may want to reach out to them on the email list.

[2020-05-10 22:30] tharun143 commented on #315
@klumb Can u give me more information regarding this issue. I will do the work and will send the PR. @klumb What is the source of information for this issue?

[2020-05-10 22:43] klumb commented on #315
@tharun143, create a markdown file in the  /About folder.

Within the markdown file you just need a title that says Former Board Members.

Underneath it you just need to list the former board members. I don't think we need to provide any detailed information on them or links

This is the list I have. @germonprez am I missing anyone? Is there any other information you want to add?

Former Board Mem

[2020-05-11 03:07] tharun143 commented on #315
@klumb I sent a PR #318 for this issue. I will update the md file if there any suggestions btw is there any channel for communicating with you other than commenting in the GitHub?

[2020-05-11 10:01] thecraftman opened #319 "Request to get my article featured on CHAOSS Website Blog"
Good day all,

I got accepted as an Outreachy intern for CHAOSS, we are expected to blog every 2 weeks. The articles are meant to be featured in the community website blog or any blog currently maintained by the community.

I wrote my first article on "How i got accepted into the Outreachy Internship". Please read here

https://docs.google.com/document/d/1vF69kwXMYtuzl9S0jXyOyS0AeSDga9SJet054ooIIW

[2020-05-11 10:54] germonprez commented on #319
Thanks @thecraftman ... @klumb what is the best way to get these published?

[2020-05-11 12:52] GeorgLink commented on #319
Hi @thecraftman, thank you for proactively writing blog posts.

Please create a pull request that adds a markdown file of your blog post to:
https://github.com/chaoss/website/tree/master/Community/News

You can export markdown from google doc with a plugin.

The process is:
1. pull request to add a markdown file
2. @klumb creates and publishes blog post that pulls content from markdown

[2020-05-11 13:14] GeorgLink commented on #315
I'm listening on IRC and respond there.
All channels we have are listed on https://chaoss.community/participate/

[2020-05-11 13:27] GeorgLink commented on #215
Thanks @tharun143.
I provided feedback on the pull requests.
It sometimes takes a couple of days to provide feedback.

[2020-05-11 13:27] GeorgLink commented on #215
Please add the current 2020 GSoC and Outreachy students if you can.

[2020-05-11 14:10] klumb commented on #319
Yep, that is the process, tag me in the PR so that I know to push it to the website.

[2020-05-11 16:19] GeorgLink commented on #319
I documented the process for all mentees to follow: https://github.com/chaoss/governance/blob/master/community-handbook/website.md#add-a-blog-post

[2020-05-11 23:40] tharun143 commented on #215
Do I need to make another separate PR for the 2020 GSoC students and Outreachy students or continue with the same PR?  Sorry for mentioning you so many times. I am super new with contributing to orgs idk that it would take a couple of days for the review btw how is your vacation @GeorgLink . What is the source of information for Outreachy students?

[2020-05-12 01:10] thecraftman commented on #319
Hello @klumb @GeorgLink I've created the PR thanks

https://github.com/chaoss/website/pull/320

[2020-05-12 01:30] tharun143 commented on #215
@GeorgLink I have submitted anew PR #321 for this issue. I updated the md file as per your suggestion btw the handy book is helpful for proper documentation.

[2020-05-12 01:45] GeorgLink commented on #215
You can update the same PR by pushing new commits to the branch that the PR was created from.

[2020-05-12 01:46] GeorgLink commented on #215
https://www.outreachy.org/alums/

[2020-05-12 01:46] GeorgLink commented on #215
No worries. I had a good vacation. Thanks for asking.

[2020-05-12 01:48] tharun143 commented on #215
Sorry, I just deleted the local repo. So I forked and clone again and sent a new PR btw so sweet to here that you had a good vacation.

[2020-05-12 08:45] tharun143 commented on #316
@klumb @germonprez @GeorgLink Is there anything I can help with this issue or is it something inside issue?

[2020-05-12 08:51] tharun143 commented on #300
@klumb @GeorgLink I would like to work on this issue. Is it still open? I would like to contribute to this issue. Can u give me more insights on this issue so that I can know where to add and what style and everything?

[2020-05-12 11:46] germonprez commented on #316
@tharun143 you are more than welcome to help out. Perhaps you could take a look at the website and tell us things that appear to be broken or have outdated information.

[2020-05-12 13:06] GeorgLink commented on #300
Hi @tharun143, thanks for offering your help.

What is your opinion on merging the calendar page with the /participate page?

I believe resolving this issue requires special access to the website that only @klumb and I have.

[2020-05-13 11:38] tharun143 commented on #300
After seeing the participant page I found that the participant page was extensively developed for displaying the working groups and tools in CHAOSS. About the calendar page, it is nice to see that there is a schedule for almost every day. It is superb to see that page.

I have this opinion regarding the combination of pages, if we combine both the pages then the developers would see the calendar i

[2020-05-13 11:44] GeorgLink commented on #300
@tharun143 wrote:

Thanks @tharun143. I appreciate your analysis and opinion!

----

@klumb wrote:

I looked through the community call meeting minutes and only found on October 1, 2019:

I think it's safe to combine the pages and do something different if there are complaints.

[2020-05-13 11:48] tharun143 commented on #300
@GeorgLink So is there anything in this issue I can do like writing the code for it or only @GeorgLink @klumb could do it as you have access to the site?

[2020-05-13 13:34] GeorgLink commented on #300
I don't think there is anything you can do to help at this point.

[2020-05-13 13:35] tharun143 commented on #300
@GeorgLink Okay I will go through other issues. Thanks!

[2020-05-13 13:58] tharun143 commented on #11
@klumb @GeorgLink I would like to work on this issue this may be useful for understanding about the work done by CHAOSS and also I would like to apply for google season of docs. Maybe this experience would be helpful at the time of participating and this would also improve my knowledge about the community idk whether I would be selected for the season of docs or not but still giving a try.

I thin

[2020-05-13 14:04] tharun143 commented on #271
@klumb could you explain more about the issue to me?

[2020-05-13 14:06] tharun143 commented on #272
@klumb and @SMotaal can u explain more about the issue to me?

[2020-05-13 15:16] klumb commented on #272
@tharun143, some of these issues are for discussion of possible changes. There are not necessarily tasks associated with them yet.

[2020-05-13 15:19] klumb commented on #316
@tharun143 we are using this issue to discuss possible changes and new features. You are welcome to add your ideas and opinions here. If tasks are created from these discussions, individual issues will be created for them.

[2020-05-13 15:21] klumb commented on #319
Thanks, @thecraftman as soon as the PR is merged I will pull it to the website and announce it on the email list.

[2020-05-13 15:22] klumb commented on #271
Thanks @tharun143, this was a discussion topic that didn't get any responses so I am closing.

[2020-05-13 15:22] #271 closed

[2020-05-13 15:25] klumb commented on #169
This issue was resolved with the navigation button. We haven't had any requests for more content so I am closing.

[2020-05-13 15:25] #169 closed

[2020-05-13 15:38] tharun143 commented on #11
@klumb Is there anything I could do with this issue. I understood that you need a md file.

[2020-05-13 15:55] klumb opened #322 "Update About Page"
About/who-are-we.md

Update language to reflect current terminology. For example, we no longer use the term software commitee or metrics commitee.

Also, the workgroup count is incorrect.

[2020-05-13 16:04] klumb opened #323 "Discussion - Youtube Channel on Website"
What kind of presence should the youtube channel have on the website?

Currently, we have one playlist embedded on it's own page.
https://chaoss.community/video/

- Should we keep it as is and update the playlist?
- Just link to YouTube Channel - similar to how we are doing the podcast?
- Or build out a whole page of video content?

any other thoughts would be appreciated

[2020-05-13 16:07] tharun143 commented on #322
@klumb I would like to work on this issue. According the description of this issue, I need to rewrite the who-are-we.md file which should suites the current terminology and also I need to update the workgroup count. Regarding the workgroup count can I have the resource for it.

[2020-05-13 16:16] klumb commented on #11
The more I think about this, the more it makes sense to leave it on the media page.

I would propose adding two new sections to the page though. One section that has a brief bio/mission statement for CHAOSS and one section that lists research publications. @GeorgLink @tharun143 - Thoughts?

[2020-05-13 16:24] klumb opened #324 "Update Participate Page"
Add link to CHAOSS podcast in Participate/How-to-participate.md

Should we add a markdown file for the ecosystem group? @GeorgLink

Please add any other updates to the page to this issue

[2020-05-13 16:25] klumb commented on #11
Update past events at the bottom of this page.

[2020-05-13 16:35] klumb commented on #322
@tharun143 there are 5 working groups

[2020-05-13 16:39] tharun143 commented on #11
@klumb I think media means in general people will think about your social media activities or anything about CHAOSS community released like a photo album, video.

The media page is completely combined like you have the material section, contact section and at the same time, you have publications and again including bio/ mission of CHAOSS makes it combined page.

I think it's better to have publica

[2020-05-13 16:52] klumb commented on #11
A Media page, sometimes called a Press or News page, a Press Kit, or a Media Kit is a page of your website designed as a specific marketing tool for those people who want to learn more about you, but also (and especially) those who want to write about you. This is an external-facing page.

Here is a reference;
https://www.outboxonline.com/your-websites-media-page-what-to-include/

Social media, co

[2020-05-13 17:10] tharun143 commented on #11
@klumb Oh, the reference is good and you are following the same pattern. Sorry for my misunderstanding I apologize. So we need to include publications in the media section.

[2020-05-13 20:13] GeorgLink commented on #324
Good idea.

Yes. You can take the description from the WG's repo.

[2020-05-13 20:31] tharun143 commented on #215
@GeorgLink I updated the file. THANKS.

[2020-05-13 20:35] GeorgLink commented on #215
I used to do that too. Now I just leave the master branch untouched and pull in changes from the upstream repo into my local master branch. Then I create [feature branches](https://www.atlassian.com/git/tutorials/comparing-workflows/feature-branch-workflow) off of that updated master branch.

[2020-05-13 20:37] tharun143 commented on #215
@GeorgLink yeah I should read this. I am a bit confused. But it's a great experience working with you. <3

[2020-05-13 20:44] GeorgLink commented on #215
Well, congratulations on figuring out how GitHub and git work and getting your first PR accepted (soon to be merged).  After reading about feature branches, I can also recommend the following chapter on working with forks: https://www.atlassian.com/git/tutorials/comparing-workflows/forking-workflow

[2020-05-14 11:24] tharun143 commented on #184
@klumb I would like to draft a software page for the Grimoire lab. Which will help me in participating Google Season of Docs. Is there any response in the meeting with @jsmanrique and @sgoggins

[2020-05-14 15:30] klumb commented on #215
We are live on the website. Nice job!

https://chaoss.community/chaoss-mentorship/

[2020-05-14 15:30] #215 closed

[2020-05-14 15:32] klumb commented on #319
We are live on the Website. Nice Job!

https://chaoss.community/blog-post/2020/05/14/outreachy-blog/

[2020-05-14 15:32] #319 closed

[2020-05-14 16:18] klumb commented on #184
@tharun143 , please start with the AUGUR page. You can coordinate with @ccarterlandis for the information and links that AUGUR would like to add to the page.

[2020-05-14 16:22] tharun143 commented on #184
@klumb So, is there any issue for the AUGUR. @ccarterlandis can u explain to me more about my work.

[2020-05-15 13:52] GeorgLink opened #328 "Menu has an error for GB members page"
The menu entry is mislabeled

See picture:

![Screen Shot 2020-05-15 at 8 51 56 AM](https://user-images.githubusercontent.com/8862021/82057762-71135600-9689-11ea-8a25-bc18f85eab26.png)

[2020-05-15 14:54] klumb commented on #328
this has been fixed

[2020-05-15 14:54] #328 closed

[2020-05-15 14:54] klumb commented on #328
Thanks for finding the issue @GeorgLink

[2020-05-15 15:04] GeorgLink commented on #328
Thanks for fixing.

[2020-05-16 07:01] tharun143 commented on #322
@klumb I have sent a PR with minimal changes. Tell me if you want to include anything else. I will try to improvise it.

[2020-05-18 15:25] klumb commented on #315
The initial PR was merged. Thanks @tharun143
After previewing on the website, I am adding three tasks to do before it can go live on the website:

- Resize images to 136x136
- remove link from Peterson and add "Image not available text" or an image that conveys that message.
- Resize title to second level header and names to third level headers

[2020-05-18 15:35] tharun143 commented on #315
Okay @klumb I will work on this issue.

[2020-05-18 15:43] klumb commented on #315
Thanks @tharun143!

I dont think it is possible to resize the images in markdown. I could be wrong but I believe that leaves you with two options - Use HTML for the image links, or resize the images in an editor and re-upload them.

[2020-05-18 15:45] GeorgLink commented on #315
In my opinion, the better option is to resize the image file.

[2020-05-18 15:47] klumb commented on #315
I was just leaving that same comment @GeorgLink. There are some weird display issues with github markdown, html, and wordpress when used to together, so while HTML may work (and has worked in the past), I can't garaunteed it will display properly on the website in a github markdown file.

[2020-05-18 17:53] GeorgLink opened #332 "IFTTT: new blog post --> tweet"
For CHAOSScast, I have an IFTTT set up that will automatically tweet about new episodes, once they appear on the RSS feed.

Example: https://twitter.com/CHAOSSproj/status/1256137855606444032?s=20

How about we set something similar up for the CHAOSS blog? I can do it but wanted your opinion on it first.

/cc @klumb

[2020-05-18 17:55] klumb commented on #332
That sounds good.

While I do have access to the Twitter account, the odds of me using it are minimal so automation would be better. I will continue to email that mailing list though.

Cheers,

Kevin Lumbard, M.S. PMP (he/him/his)
University of Nebraska at Omaha
College of Information Science and Technology
PKI 367

"We build our computers the way we build our cities -- over time, without a plan,

[2020-05-18 18:58] GeorgLink commented on #332
good idea on the email

[2020-05-19 12:48] GeorgLink commented on #332
Let's see how it works:

![Screen Shot 2020-05-19 at 7 47 20 AM](https://user-images.githubusercontent.com/8862021/82328069-032a9f80-99a5-11ea-95b6-fe6bf0d21a80.png)

We can close this issue after we know that the IFTTT works correctly. (after next blog release)

[2020-05-19 16:49] Nebrethar opened #335 "Cleanup and Upcoming Events: CHAOSScon 2020 NA"
The page [CHAOSScon 2020 NA](https://chaoss.community/chaosscon-2020-na/) could use a cleanup. I also found some inconsistencies.

For example, the "Upcoming Events" section lists 2020-EU, which happened in January.

I can add more detail on request!

[2020-05-19 16:57] klumb commented on #335
- Remove google map (Kevin)
- Add a message for cancellation. Include alternate ways to participate - meetings, podcast, blog, youtube channel
- update upcoming events page

[2020-05-19 18:48] tharun143 commented on #335
@klumb Is there anything I could do with this issue. It seems moreover this is a maintainer task.

[2020-05-19 19:27] tharun143 opened #338 "Hiring a Community Manager no long needed"
I think CHAOSS is no longer accepting applications for a community manager. Maybe I think a little bit clean up should require for the website.

![Screenshot (180)](https://user-images.githubusercontent.com/41537996/82369474-b55d7800-9a34-11ea-9d19-e5dfa71726f4.png)

[2020-05-24 15:41] Nebrethar opened #341 "Dead page /news"
Page:

https://chaoss.community/news/

Issue:

This page is our /news page, but it seems to have old CHAOSS weeklies.
I'd like to leave a note here because we want to use data from the news page to apply for Crowdin Free. Could we maybe make this our main page for news?

[2020-05-24 16:35] klumb commented on #341
This page isn't in the main navigation currently. How or why did you get to it?

How do you define a news page? What kind of content is it supposed to have? We have a blog that is up to date. Is this just a naming convention issue or is it specific content you are looking for?

Do we have content for a regular news page? Who will provide it? Who will regularly propagate it on the website?

Please

[2020-05-24 16:58] SMotaal commented on #341
**Re: https://github.com/badging/meta/issues/21#issuecomment-633257545**

@klumb I think at this point we're just stumbled on the fact that https://chaoss.community/news was out of date and reachable, and now we are just trying to think of if and how we want to handle this.

I think a news page is likely what parallels the RSS feed of an organization from back when. And so our thought was to bring

[2020-05-24 17:06] klumb commented on #341
Thanks, @SMotaal

I am trying to get more people to create content for the website. An expanded news page is something that we are working on.

In the short term does the content in our blog satisfy your definition of "news" and would renaming the blog page satisfy the requirements for crowdin?

[2020-05-25 15:11] germonprez commented on #341
Hi all,

Thanks for this conversation. I think news pages are very prone to getting old. Even if they are kick-started every now and then. Blogs and CHAOSScast are what we should be putting in front of people at the moment.

[2020-05-26 04:37] tharun143 commented on #315
@klumb @GeorgLink I have added a PR for this issue. If there are any changes in the PR pls tell me I will update it.

[2020-05-26 12:35] SMotaal commented on #341
I think what I was driving at though was to think of the `/news` route as mechanical byproduct of content metaphorically tagged with `is:news`, which we can wire through an action that would update the listed content of that route from news things across routes.

It is like saying if you want to filter things on the site that are news, you want to see them in a chronological way that is typical wh

[2020-05-26 17:31] klumb commented on #338
removed from navigation. Thanks

[2020-05-26 17:31] #338 closed

[2020-05-26 17:32] klumb commented on #315
thanks! This looks good.

[2020-05-26 17:32] #315 closed

[2020-05-26 17:34] klumb commented on #335
@tharun143 sorry about the late reply. I will take a look.

[2020-05-26 18:36] foundjem opened #344 "Adding a Dynamic feature to display tweets."
Currently, the CHAOSS website is well structured and detailly designed. However, in the tweet section, tweet contents remain static. Moreover, the visibility to know that there is a scrolling bar is rather not evident.

Given that, we should design our artifacts with diverse users in mind, I suggest we add a dynamic mechanism, which could probably display the tweets automatically with a speed leve

[2020-05-27 17:32] tharun143 commented on #184
@klumb I have some questions and I listed it below.
1. How much space (characters/words/lines/pages/etc) of content are you looking for? Are there minimum/maximum requirements?

2. Where will this content live? On its own dedicated page? On the "Participate" page? Somewhere else? All/none of the above?

3. Who will this be targeted at? Potential technical contributors? Potential non-technical cont

[2020-05-27 17:36] samanthavenialogan commented on #341
I might be a bit out of my depth regarding the actual process described
here, but from an SEO perspective as long as there is structured snippet
data being produced alongside the news items it should be a good idea
because it provides fresh pages that all but feeds google what it needs to
to put you in SERP.  This is a primary SEO method for most news sites
because it makes the news pages dynamic

[2020-05-27 17:50] klumb commented on #341
I think the issue here is primarily a naming convention. We don't use the term news for our generated content. From my understanding of the original issue post, crowdin requires a news page. If this is purely a naming issue, this is easy to fix on the web site.

If we are talking about generating specific news content, the pages or tagging are easy enough to add when that content is produced.
What

[2020-05-27 17:53] samanthavenialogan commented on #184
To confirm this is for the blog I was wanting to publish right?

Assuming that is the case here are your answers:

   1. The blog comes in at ~882 words and ~5300 characters.

   2. The blog is listed here
   <https://www.sociallyconstructed.online/blogs/scms-is-an-official-chaoss-metric>,
   but we were wanting to syndicate it so it would live on your page with a
   link to our original blog post

[2020-05-27 21:57] Nebrethar commented on #341
@klumb
I started this issue because [chaoss.community](https://chaoss.community/) has a viewable dead page under [/news](https://chaoss.community/).

We were looking to see what Crowdin may consider our "news page". We found this while looking for it, which means others can too. **I just want this page to be archived or removed, or to redirect so nobody finds a dead page on the site with old news.

[2020-05-28 14:58] GeorgLink commented on #341
It would also be nice if there was a volunteer who could take the CHAOSSweekly news and add them to the blog with the “news” tag to keep this page updated.

[2020-06-03 16:48] germonprez commented on #324
We also need to include the Asia-Pacific call.

[2020-06-03 16:49] germonprez opened #347 "Web-Page-A-Thon"
Hi all,

What would you all think of doing a virtual web-page-a-thon? Something were we can knock out a bunch of issues. Perhaps a Monday for 2-3 hours.

[2020-06-03 17:21] klumb commented on #347
@germonprez, I would like that. If you set a date, I will make sure I am free.

[2020-06-03 17:28] germonprez commented on #347
Anyone could join.

[2020-06-03 17:28] germonprez commented on #347
Monday, June 8 from 10-12 US Central would work for me.

[2020-06-03 17:32] GeorgLink commented on #347
Please add me as optional on any calendar invite. I might join for only a little bit, if not for the full time.

[2020-06-04 02:03] samanthavenialogan commented on #347
I'd also like to attend if only for solidarity XD We have to do so as well
because we are re-building our site in a different engine.

@Dylan Marcy <dylan@sociallyconstructed.online>  would you like to join?

Samantha Venia Logan
Co-Founder of SociallyConstructed.Online
307-274-5516  | samantha@SociallyConstructed.Online
6715 Autumn Ridge Dr. Unit 2, Fort Collins CO., 80525

Call me for a free mar

[2020-06-04 15:03] klumb commented on #347
10 to 12 works for me

[2020-06-04 18:16] germonprez commented on #347
Ok. I sent an invite to a few folks. If you'd like to join @tharun143 send me your email.

[2020-06-04 18:52] tharun143 commented on #347
tharunravuri2000@gmail.com @germonprez

[2020-06-04 18:53] germonprez commented on #347
Sent!

On Thu, Jun 4, 2020 at 1:53 PM Tharun Ravuri <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/

Omaha Parks Foundation Board Member
http://omahaparksfoundation.org/

he / him / his

[2020-06-08 15:39] #347 closed

[2020-06-08 15:44] GeorgLink commented on #344
The section in the website currently shows the newest tweets which changes as the @CHAOSSproj account tweets and re-teweets.

I don't think we need to signify that there is scrolling possible.

[2020-06-08 15:45] klumb commented on #344
Hello @foundjem could you provide an example of what you would like to see.

[2020-06-08 15:55] klumb opened #351 "Audit Repo file structure and naming conventions - Rename news folder to blog"

[2020-06-08 16:16] klumb commented on #341
Closing this issue. We will be renaming the news folder see #351

[2020-06-08 16:18] klumb opened #352 "Streamlining newsletter"
We are investigating using wordpress to publish the weekly newsletter.

[2020-06-08 16:18] tharun143 commented on #332
@GeorgLink I think this issue can be closed now. As you have created an IFTTT @CHAOSSproj .

[2020-06-08 16:18] #341 closed

[2020-06-08 16:20] klumb commented on #335
Remove call, schedule, speakers

Add a message for cancellation. Include alternate ways to participate - meetings, podcast, blog, youtube channel

[2020-06-08 16:23] klumb commented on #332
Thanks Georg!

[2020-06-08 16:23] #332 closed

[2020-06-08 16:27] klumb commented on #324
Add seperate markdown:
- podcast markdown
- ecosystem user group
- asia pacific call

[2020-06-08 16:33] klumb commented on #323
remove page and point navigation to chaosstube

[2020-06-08 16:36] klumb commented on #316
see letter #352

[2020-06-08 16:36] #316 closed

[2020-06-08 16:44] germonprez commented on #272
We just met!! We can do this. How about Monthly?

[2020-06-08 16:44] klumb commented on #300
merge content to participate page.
underneath 1st module

[2020-06-08 16:47] klumb commented on #272
coordinate with community call?

[2020-06-08 16:48] germonprez commented on #272
Yes. Let's do this on the Monday before the Monthly CHAOSS Community call.

[2020-06-08 16:57] klumb commented on #184
Add overview.md file

Edit individual software md files

[2020-06-08 17:00] dylan commented on #347
Wrong Dylan. 😆

[2020-06-08 17:01] klumb commented on #11
Add research to navigation

[2020-06-08 17:07] klumb opened #353 "Add Funders to website footer"
CHAOSS project is sponsored by the

Alfred P Sloan

[2020-06-08 17:21] klumb commented on #353
@germonprez - Waiting on permission from Sloan?

[2020-06-08 17:24] klumb commented on #351
Renaming this folder will require all blog posts on the site to be updated to the new Github URL.

[2020-06-08 19:01] germonprez commented on #353
We are OK. https://sloan.org/about/press#tab-logos

Use the horizontal one and make sure to include:

Thanks and  the Alfred P. Sloan Foundation does not support, endorse, or otherwise certify the results of Foundation-supported work.

[2020-06-09 15:28] klumb opened #361 "Update links on participate page"
- [ ] edit chaosstube link

- [ ] add chaosscast link

[2020-06-09 15:29] klumb commented on #300
this was done on the wordpress side

[2020-06-09 15:29] #300 closed

[2020-06-09 15:32] klumb opened #362 "Add mentorship blog to the mentorship page"
This will need to be done on the wordpress side

[2020-06-09 15:34] klumb opened #363 "Photo Album"
Is this a feature we want to add?

How do we store images, display them, and manage process?

[2020-06-09 15:36] germonprez commented on #363
I think they are from Sean's feed. They are old. ping sean.

On Tue, Jun 9, 2020 at 10:35 AM Kevin Lumbard <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/
matt@chaoss.community

he / him / his

[2020-06-09 15:39] klumb commented on #363
yes, we were pulling them in from Sean's public photo drive.

I removed the page from the navigation.

[2020-06-09 15:40] germonprez commented on #363
Good idea.

On Tue, Jun 9, 2020 at 10:39 AM Kevin Lumbard <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/
matt@chaoss.community

he / him / his

[2020-06-09 15:42] klumb commented on #363
Page still exists though.

https://chaoss.community/chaoss-photo-album/

Would like to discuss options here.

[2020-06-09 16:07] klumb commented on #323
The page was removed from the website but added to the navigation

[2020-06-09 16:07] #323 closed

[2020-06-09 16:25] klumb commented on #322
resolved with #356, #357, #359, #360

[2020-06-09 16:25] #322 closed

[2020-06-09 16:32] klumb commented on #272
So first Monday of the month at 11am?

[2020-06-09 17:48] germonprez commented on #272
works for me.

On Tue, Jun 9, 2020 at 11:32 AM Kevin Lumbard <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/
matt@chaoss.community

he / him / his

[2020-06-11 00:47] germonprez commented on #363
I like the idea of sharing photos via Instagram. I think these were simply connected to Sean's Flickr  acct(maybe). He was taking nice photos at the events.

[2020-06-11 00:59] klumb commented on #363
Sean takes a lot of photos. Regardless of what we decide to do with the photos (website and/or Instagram), It would be nice to have a shared place to collect community photos. I think this is something that needs to be curated though.

[2020-06-11 01:08] germonprez commented on #353
@klumb is this something you can do?

[2020-06-11 01:47] samanthavenialogan commented on #363
Have you done a social media audit to decide whether Instagram is the best
option?  I feel like the images could have a place in a lot of spots and
Instagram is intensely visual so if only one or two people are
participating it may not work as well as if you were to put them on twitter
and embed them in to twitter moments for various conventions?

If you want to start an Instagram though, I would

[2020-06-11 03:09] tharun143 commented on #361
@klumb I will work on this issue. Can u tell me where to add the links precisely?

I think I should add the chaosstube link here and WAB the chaosscast link where should I need to add it?

Maybe I will add it under the chaosstube link. BTW can u send me the links? So I could add and edit the URL's.

[2020-06-11 14:30] klumb commented on #353
I am trying to sort out what it will look like in the footer. The footer currently has a grey background. Adding an image to it is problematic.
If you have design thoughts please let me know.

[2020-06-11 14:32] klumb commented on #361
This is a duplicate issue. Please see #324

[2020-06-11 14:32] #361 closed

[2020-06-11 16:07] klumb commented on #353
@germonprez,
Please take a look at this
https://chaoss.community/

[2020-06-11 18:29] tharun143 commented on #324
@klumb @GeorgLink Can u provide me links for adding and can u tell me the location where to add in the website precisely.

[2020-06-11 18:32] GeorgLink commented on #324
Thanks @tharun143, I believe these changes require access to Wordpress. Maybe Kevin knows something you can help here.

[2020-06-11 18:35] tharun143 commented on #324
@GeorgLink Ok!

[2020-06-11 18:38] tharun143 commented on #335
@klumb Is there any way I could help here? I know this issue was self-assigned to you. But if u need any help don't hesitate to call out.

[2020-06-11 20:24] germonprez opened #365 "CHAOSS Newletter"
Hey @klumb @elizabethN @GeorgLink could we figure out how to set up the newsletter in WP so that we can

1) Reduce the overall amount of work
2) Prepare for blog
3) Prepare for email

[2020-06-11 20:50] GeorgLink commented on #365
Yes 🙂

I’d be happy to have a working session on this.
I’m available tomorrow afternoon (after 2pm CDT) or Monday afternoon (after 2pm CDT).

I can offer to do the newsletter like we did before, until we have the new workflow in place.

Best,
Georg

[2020-06-11 21:56] klumb commented on #365
Closing duplicate issue #352

[2020-06-11 21:57] #352 closed

[2020-06-11 22:02] klumb commented on #324
@tharun143 the first three items in that list you can do.
the file is Participate/How-to-participate.md

https://www.youtube.com/c/CHAOSStube
https://podcast.chaoss.community/
https://twitter.com/CHAOSSproj

[2020-06-11 22:05] klumb commented on #324
@germonprez created the asia pacific call module in #354
The podcast markdown file needs to be created
The ecosystem module needs to be created
You can do them but I don't have the information on them so you would have to figure it out based on the information that exists on the website currently and what the other participate modules look like.

[2020-06-11 22:16] klumb commented on #335
@tharun143 you can edit the event-detail.md file.

Add an apologetic message for cancellation. but encourage people to find alternate ways to participate - meetings, podcast, blog, twitter, youtube channel. Include some links.

[2020-06-11 22:25] klumb commented on #272
This meeting is now scheduled on the shared Chaoss calendar.

It does not have a participate module yet but I propose we create one.

[2020-06-11 22:25] #272 closed

[2020-06-11 22:28] klumb opened #366 "Create web-content group module"
Add first of the month meeting information.

Add repo info, maintainer information, and contact info for web issues

Not sure where this will go yet. May not be on participate page.

[2020-06-11 22:37] klumb commented on #365
I am available until 3pm tomorrow.

[2020-06-12 00:00] germonprez commented on #365
Let's aim for Monday. Fewer Friday meetings!!

On Thu, Jun 11, 2020, 5:37 PM Kevin Lumbard <notifications@github.com>
wrote:

[2020-06-12 02:47] tharun143 commented on #335
@klumb I have added a PR regarding this issue #367 Please check and tell me to add any more or format.

[2020-06-12 03:46] tharun143 commented on #324
@klumb I am thinking to update the CHAOSScon link too. Because the CHAOSScon is redirecting to the previous CHAOSScon Europe 2020. If it's ok I will add it.

- Regarding the podcast do I need to create a separate md file? If yes, where and what should I need to include? and I didn't get what is an eco-system module.

[2020-06-12 13:01] GeorgLink commented on #365
+1 fewer Friday meetings.

I sent an invite for Monday 3pm CDT.

[2020-06-12 19:29] tharun143 commented on #365
@GeorgLink Can I join in the meetings?

[2020-06-12 19:49] GeorgLink commented on #365
Yes, I added you to the invite. We're meeting in the CHAOSS Zoom channel,
so everyone can join.

[2020-06-12 23:16] SMotaal commented on #272
<div align=center>

# 🎉
### Monday, July 6th<br/>11:00am to 12:45 CT
(first Monday each month)

[2020-06-15 19:48] vinodkahuja opened #369 "Augur links broken"
Following links on Augur page ( https://github.com/chaoss/website/blob/master/Software/augur.md
) are broken on page:

1. Getting started with Augur - https://oss-augur.readthedocs.io/en/master/getting-started/getting-started-toc.html

2. Augur Data Collection - https://oss-augur.readthedocs.io/en/master/data-collection/data-collection-toc.html

[2020-06-17 23:41] Nebrethar commented on #335
Thanks @tharun143 !!

[2020-06-17 23:41] #335 closed

[2020-06-23 16:13] klumb commented on #369
Fixed by #371

[2020-06-23 16:13] #369 closed

[2020-06-24 11:57] GeorgLink opened #373 "Video for Release 202008"
We discussed during the Community Meeting on June 23 that we would like to have a short (~3 minutes) video to highlight what is changed and new in the latest metric release.

Here is a google doc in which we can collaborate to develop the script for this video:
https://docs.google.com/document/d/1fYkU9OjL8kdiekWEMDdiqS6tV_O0n4PBQjLHb2GnkVQ/edit

We can use this issue thread for high-level coordina

[2020-06-24 15:44] GeorgLink opened #372 "Include disclaimer in metric release"
Before the metrics, we want to include a disclaimer on the website and the PDF.

We can refine what it looks like during the comment period.

[2020-06-24 15:48] klumb commented on #372
This is on the main metrics page?  On the
release/########/metrics-head-rc.md markdown page?

[2020-06-24 16:49] GeorgLink commented on #372
That’s a place we can add it.

Let’s try it out and see how we like it.

[2020-06-25 14:58] ElizabethN opened #374 "Clarify Metrics Landing Page"
When a user clicks on https://chaoss.community/metrics, they currently see this:

<img width="1200" alt="Screen Shot 2020-06-25 at 10 49 52 AM" src="https://user-images.githubusercontent.com/57594/85742932-a623b700-b6d1-11ea-8b51-7a8e3e3fd39e.png">

This is a little confusing because this page is intended to be a comprehensive list of all the metrics (right?) and in the first sentence of the doc,

[2020-06-25 15:31] GeorgLink opened #375 "Make release notes easier to find"
1. Link to release notes from the metrics page
2. Rename the menu entry to "Release Notes"

[2020-06-25 15:47] germonprez commented on #374
Thanks for catching this! Agreed, this is a list of all metrics and the text can be changed to reflect that.

[2020-06-25 15:54] ElizabethN commented on #365
Just updating this issue to say:

- we streamlined the process for creating newsletters in WP by using a reusable template
- @ElizabethN will send them out on Fridays as was happening before
- we are still working on being able to bypass the google doc/gmail step and sending newsletters straight from WP. TBD!

[2020-06-25 16:16] GeorgLink commented on #365
Thank you!

Sounds like we just need to streamline sending an email to the list before we can close this issue.

[2020-06-25 16:27] ElizabethN commented on #373
I think this will be released on YouTube, correct? Were we planning to also embed this on the website? It would be great to include closed captioning along with the video regardless of the distribution method. I'm happy to help make that happen; I think that's really important.

[2020-06-25 16:37] klumb commented on #374
The page is a comprehensive list of the metrics **CHAOSS** has released.

That first sentence was meant to be a disclaimer that CHAOSS released metrics are not a definitive list all of metrics. This is far from a comprehensive list of metrics. It is a small subset of many possible metrics. CHAOSS is working to define more and many users who visit the page may have metrics they use that don't appea

[2020-06-25 16:40] klumb commented on #373
My understanding was that it will be on our youtube channel.

Per previous discussions, we have removed all embedded youtube from the website.

If we add an embedded youtube video for this, I think it would make sense to have it on the release notes page.

+1 to closed captioning

[2020-06-25 16:42] klumb commented on #375
Agree on both of these

I have already changed the menu entry.

Will add the link during the regular release.

[2020-06-25 17:31] klumb commented on #365
We also need to discuss how we want the published newsletter to appear on the website.

[2020-06-25 18:57] germonprez commented on #365
I thought it was going to appear as a blog post.

On Thu, Jun 25, 2020 at 12:31 PM Kevin Lumbard <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/
matt@chaoss.community

he / him / his

[2020-06-25 18:59] germonprez commented on #373
I'll play around with Zoom to see if we have the CC option on our version.

On Thu, Jun 25, 2020 at 11:41 AM Kevin Lumbard <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/
matt@chaoss.community

he / him / his

[2020-06-25 19:36] klumb commented on #365
We don't want to make any distinction between the newsletter and the blog? Same page? Same Tags?  We currently have two tags that we use - blog and mentorship blog. We can separate them to their own pages or display them on the same page. On the homepage, we preview the last four posts (all types).

There has been a lot of confusion over terminology used so I want to make sure we all agree. What i

[2020-06-25 20:31] GeorgLink commented on #365
If we separate them out, would we have different sections on the homepage,
one for the most recent entries of each?

I assumed:
Blog -- everything
Mentorship Blog -- Filter for GSoC/Outreachy related posts
News -- Filter for newsletter

[2020-06-25 20:34] GeorgLink commented on #373
CC is something that YouTube can create for videos.

[2020-06-25 20:41] GeorgLink commented on #375
Thank you :)

[2020-06-25 21:16] ElizabethN commented on #374
@klumb oh, that makes sense! I agree that the disclaimer is important and should be somewhere. Maybe we could move that around?

I was also a little confused by the "Release" heading, in that I wasn't sure if the metrics were just the ones from the latest release, or if they were a comprehensive list of the ones CHAOSS has released to date. Does that merit some clarification too?

I may be the edg

[2020-06-25 21:19] klumb commented on #365
I don't really care how it is done, I just want to make sure we are consistent with display and tagging.

Do we want all types posts on same page and three different tags?

Or do we want guest posts to have their own page, newsletter to have its own page, and mentorship to have its own page?

I think home page preview would probably display all most recent in same section regardless of other decis

[2020-06-25 21:34] klumb commented on #374
The language is likely a holdover from the previous release process - The list was the definitive list of metrics that CHAOSS has released up to date but all of the metrics on the list went through the review process for every new release period even if they weren't a new metric. So for each release, all CHAOSS metrics were checked and could be edited through the comment period. This was not reall

[2020-06-25 23:42] GeorgLink commented on #365
I like the differentiation you mention of having one Master Blog with everything and then tags (some as pages linked to from the menu) for the different types of blog posts.

[2020-06-26 01:02] germonprez commented on #373
👍

On Thu, Jun 25, 2020 at 3:34 PM Georg J.P. Link <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/
matt@chaoss.community

he / him / his

[2020-06-26 01:47] samanthavenialogan commented on #365
The way I'd achieve this is to have an "email archive" category or
something similar so it shows up as a blog category in the list on the
right or wherever your WP theme puts it.

Then you'll use tags to connect topics between your categories such as
"grimoirelab" or "augur" depending on what the blog is about.

Categories vs tags in wordpress - Yoast
<https://www.youtube.com/watch?v=y5GlKlHVzRg>

[2020-06-26 15:12] klumb opened #376 "Release 202008"
- [x] #375 add release notes link to head markdown in 202001

- [x] #374 edit header text in 202001 for clarity move list disclaimer

- [x] #372 edit header text in 202001 add ethics disclaimer

- [x] create 202008 release folder

- [x] create release candidates markdown files for 202008

- [x] Add new metrics candidates

- [x] add disclaimer to each metric (text?)

- [x] check and update comment

[2020-06-26 15:15] klumb commented on #376
**Release display options:**

**Option 1.** We have one page. The CMC/new metrics get merged in with previously released metrics. The only difference between the two types of metrics is that the CMC/new metrics have a link to the issue in a third column. The third column would become a permanent part of the release document and the new CMC/new metrics would be added continuously. The link would be

[2020-06-26 16:01] GeorgLink commented on #376
Thanks @klumb!

I like option 1 the best. I think the risk of confusing what is officially released and what is under review is negligible.

My concern with options 2 and 3 is that we would worsen the usability for someone coming to the CHAOSS website. We are already getting negative responses.

[2020-06-26 16:14] germonprez commented on #376
+1 to option 1

On Fri, Jun 26, 2020, 11:01 AM Georg J.P. Link <notifications@github.com>
wrote:

[2020-06-26 20:43] ElizabethN commented on #376
👍    to Option 1

If we are concerned about confusion, maybe we can use a small label image like this:
![Screen Shot 2020-06-26 at 4 39 56 PM](https://user-images.githubusercontent.com/57594/85899217-c5067400-b7cb-11ea-9447-b2f9cbf677bb.png) or explicitly say **[UNDER REVIEW]** next to the name of the metric.

If we aren't concerned then it's all good!

[2020-06-26 21:57] germonprez commented on #376
I like that idea

On Fri, Jun 26, 2020 at 3:43 PM Elizabeth Barron <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/
matt@chaoss.community

he / him / his

[2020-06-26 22:19] GeorgLink commented on #376
+1 to image label

[2020-06-28 18:24] klumb commented on #376
Going with option 1 for display.

Regarding the tagging, I am moving forward with the [Under Review] label. We can change it to an image if we find a nice one that is free to use.

[2020-06-30 20:00] klumb commented on #375
this was resolved in the head markdown document

[2020-06-30 20:00] #375 closed

[2020-06-30 20:00] klumb commented on #372
This was resolved in the head markdown file

[2020-06-30 20:00] #372 closed

[2020-06-30 20:02] klumb commented on #374
The page was edited for clarity. Closing this issue, for further comments, please use #376 or the associated PR

[2020-06-30 20:03] #374 closed

[2020-06-30 20:15] ElizabethN commented on #374
🤘 thank you so much for taking this into consideration @klumb! You rock :guitar:

[2020-07-01 00:23] klumb commented on #374
Let chat about this some more during the content meeting on the 6th

[2020-07-06 16:17] germonprez commented on #353
LGTM

[2020-07-06 16:17] #353 closed

[2020-07-11 14:46] klumb commented on #366
PR 387 resolves this

[2020-07-11 14:46] #366 closed

[2020-07-11 14:49] klumb commented on #324
PR #387 resolves this issue

@tharun143 feel free to update the chaosscon link.

[2020-07-11 14:49] #324 closed

[2020-07-11 14:59] klumb commented on #184
I am closing this and will create an issue for each software group.

[2020-07-11 14:59] #184 closed

[2020-07-11 15:09] klumb opened #388 "Create Grimoirelab markdown page for the website software page(s)"
The website is the first place many people look when they are investigating CHAOSS. I have gotten feedback from newcomers that they are confused about how the software is connected to the project. Additionally, they have said they have a hard time figuring out which software to contribute to and where to contribute.

I propose we create a one-page markdown file that can provide basic information,

[2020-07-11 15:10] klumb opened #389 "Create Augur markdown page for the website software page(s)"
The website is the first place many people look when they are investigating CHAOSS. I have gotten feedback from newcomers that they are confused about how the software is connected to the project. Additionally, they have said they have a hard time figuring out which software to contribute to and where to contribute.

I propose we create a one-page markdown file that can provide basic information,

[2020-07-14 03:35] samanthavenialogan commented on #389
If i'm being honest I feel like a page audit from a marketing perspective may help make it a lot more succinct.  Although you're not necessarily selling a product on this site, adapting the audit I've linked here seems like a good idea to figure out where you're losing out on logical consistency. I struggle a lot with the site as it stands as a noncoding member and maybe this is one of those areas

[2020-07-14 03:37] samanthavenialogan commented on #388
I left a comment in another spot I believe but I'd definitely do a homepage audit on all of the pages.  You can adapt this rubric to your needs but to be honest with you I still have trouble knowing what I'm looking at as a noncoding member.  -shrug-

https://www.digitalmarketer.com/blog/landing-page-optimization-conversion/

[2020-07-29 13:32] ElizabethN commented on #376
@klumb when these metrics are officially released next week, will we add a new "current release" or "new release" label in place of the "under review" label? Or will we just remove the "under review" label?

[2020-07-29 15:25] klumb commented on #376
@ElizabethN, I was thinking we would just remove the label but I am open to other ideas.

[2020-07-30 15:47] GeorgLink opened #391 "Add "Metrics Programs" and rethink Metrics menu"
We need a place to represent the metrics programs.

Programs are:
* D&I Badging
* Community Reports
* SCMS (ideation stage)

They may be included in the Metrics menu item. Proposal:

* Metrics
  * Metrics Programs
  * Metrics Definitions (now: Current Release)
  * Release History (now: Release Notes)

[2020-08-08 15:07] GeorgLink commented on #391
Thanks @klumb for updating the current menu entries!

[2020-08-08 15:08] klumb commented on #391
Definitions and history have been changed. I will create programs when I have content.

[2020-08-11 17:32] ElizabethN commented on #365
I think we can close this, as we have a process in place that seems to be working ok for now.

CHAOSSweeklies have their own section of the website: https://chaoss.community/news/, where they are also tweeted automatically.
They also get copy+pasted to the general mailing list.

If there's anything else we need to sort out for this, we can reopen.

[2020-08-11 17:32] #365 closed

[2020-08-12 15:46] klumb opened #408 "Review Website For Inclusivity"
- [ ] **Color-blindness**
**https://github.com/chaoss/wg-diversity-inclusion/issues/197**

To ensure CHAOSS is inclusive and accessible, dashboard layouts, and front end components should be reviewed for compliance with color-blindness development standards.

There's a good test filter service here that can be used to test pages: https://www.toptal.com/designers/colorfilter

Acceptance Criteria sh

[2020-08-12 15:52] #376 closed

[2020-08-14 15:57] ElizabethN commented on #373
Dropping in an update for anyone following along. We had a planning meeting this week to discuss details about the script, demo screenshots, target audience, and goals of the video. I'm finishing up the script based on the progress we made, and will record and edit the video. Right now a soft target date to have everything finished is next Friday, Aug 21.

[2020-08-14 16:50] GeorgLink commented on #373
👍

[2020-09-02 14:06] klumb opened #415 "Review Website (Marketing Audit)"
**From @samanthavenialogan #389 :**
If i'm being honest I feel like a page audit from a marketing perspective may help make it a lot more succinct. Although you're not necessarily selling a product on this site, adapting the audit I've linked here seems like a good idea to figure out where you're losing out on logical consistency. I struggle a lot with the site as it stands as a noncoding member a

[2020-09-02 14:08] klumb commented on #415
Linking this to our Inclusivity Review #408

[2020-09-02 14:10] klumb commented on #389
Thanks @samanthavenialogan I am going to open a new issue for a marketing audit for the website.

Any further input you have would be appreciated.

[2020-09-02 14:12] klumb commented on #389
Thanks @sgoggins PR #394 partially resolved this issue.

**I am leaving this open with a request for some image content.**

[2020-09-02 14:20] klumb commented on #388
Marketing audit has been added to our todo list - issue is #415

@GeorgLink Augur has updated their md file. Would you be able to help get content for the Grimoire lab file prior to marketing audit?

[2020-09-02 15:10] kmlhsn opened #417 "No Footer on about>charter,code-of-conduct, governing-board"
Description:
No Footer on charter,code-of-conduct and governing-board under About menu

Expectation:
There should have Footer on charter,code-of-conduct and governing-board under About menu

Steps:
1. Go to https://chaoss.community/
2. Click on About >charter,code-of-conduct and  governing-board

![image](https://user-images.githubusercontent.com/32615215/92001625-ba82d080-ed60-11ea-821b-7bfc448b3

[2020-09-02 15:43] kmlhsn opened #418 "No space between 2 words of menu items under "Community"> CHAOSSblog, CHAOSScast, CHAOSStube and CHAOSSweekly"
Description:

No space between 2 words of menu items under "Community"> CHAOSSblog, CHAOSScast, CHAOSStube and  CHAOSSweekly

Expectation:

Menu items should have space between 2 words e.g.CHAOSS blog

Steps:
1. https://chaoss.community/
2. Mouse over Community

![image](https://user-images.githubusercontent.com/32615215/92005504-60d0d500-ed65-11ea-8720-b5379bdd4588.png)

[2020-09-02 15:48] klumb commented on #417
Thank you @kmlhsn

[2020-09-02 15:52] klumb commented on #418
Thankyou @kmlhsn

This was a style choice based on the way the podcast - CHAOSScast - was named.

I am happy to change it but I would encourage discussion on this issue.

[2020-09-02 15:58] klumb commented on #344
Closing this as the conversation has gone stale. Please reopen if the issue if this feature is desirable.

[2020-09-02 15:58] #344 closed

[2020-09-02 16:03] GeorgLink commented on #418
I’m okay with changing all the menu entries to something more descriptive:

* Blog
* Podcast
* Videos
* Newsletter

[2020-09-02 19:41] GeorgLink commented on #388
I see Augur has a new description: https://chaoss.community/software/

Here's the file that needs updating: https://github.com/chaoss/website/blob/master/Software/grimoirelab.md

Not sure when I can do this. I will cross-post it on the GrimoireLab repo in case someone else can pick this up.

[2020-09-08 12:13] ElizabethN commented on #373
Yay, we shipped this! https://www.youtube.com/watch?v=4759JrmljtU 🎉

[2020-09-08 12:13] #373 closed

[2020-09-08 14:08] GeorgLink commented on #373
Woot woot!

[2020-09-08 22:09] GeorgLink opened #421 "Move Brian Proffitt to Former Board Members"
Brian Proffitt resigned from the CHAOSS Governing Board and we need to update the website accordingly.

[2020-09-08 22:10] GeorgLink opened #422 "Move Ben Lloyd Pearson to Former Board Members"
Ben Lloyd Pearson resigned from the CHAOSS Governing Board and we need to update the website accordingly.

[2020-09-10 15:51] Abhi067852 commented on #422
Hi Sir, I would like to work on this issue.

[2020-09-14 17:23] klumb commented on #418
Changed on website

[2020-09-14 17:23] klumb commented on #418
Thanks @GeorgLink  and @kmlhsn

[2020-09-14 17:23] #418 closed

[2020-09-17 06:18] samanthavenialogan commented on #373
Definitely a win! I loved it!

Samantha Venia Logan
Co-Founder of SociallyConstructed.Online
307-274-5516  | samantha@SociallyConstructed.Online
6715 Autumn Ridge Dr. Unit 2, Fort Collins CO., 80525

On Tue, Sep 8, 2020 at 8:09 AM Georg J.P. Link <notifications@github.com>
wrote:

[2020-09-17 14:35] #422 closed

[2020-09-17 14:35] klumb commented on #422
edited on site

[2020-09-17 14:35] #421 closed

[2020-09-17 14:35] klumb commented on #421
Edited on site

[2020-09-17 14:36] klumb commented on #417
Edited on site.

Thank you @kmlhsn

[2020-09-17 14:36] #417 closed

[2020-09-17 14:37] klumb commented on #391
This is being called initiatives now

[2020-09-17 14:37] #391 closed

[2020-09-17 14:39] #362 closed

[2020-09-17 14:39] klumb commented on #362
This doesn't appear to be needed

[2020-09-17 14:42] klumb commented on #351
File structure and naming conventions in repo should align with the structure of the wordpress site. This may require an audit to make sure they are aligned in all cases.

Examples currently:

- Programs need to be changed to Initiatives
- News needs to be changed to Blog

[2020-09-17 14:51] klumb opened #429 "Update Governing Board Bios"
**This is a call to current and Past CHAOSS Board Members.**

Please review your Bio published on the CHAOSS project website.

https://chaoss.community/about/governing-board/

If desired, please update your Bio in this issue and we will pull it to the website.

If you would like to update your image, please email me at kmlumbard@gmail.com

[2020-09-17 22:13] samanthavenialogan commented on #415
Let me know how this goes and if you have any questions.

Samantha Venia Logan
Co-Founder of SociallyConstructed.Online
307-274-5516  | samantha@SociallyConstructed.Online
6715 Autumn Ridge Dr. Unit 2, Fort Collins CO., 80525

On Wed, Sep 2, 2020 at 8:07 AM Kevin Lumbard <notifications@github.com>
wrote:

[2020-09-18 14:40] klumb commented on #415
Thanks, @samanthavenialogan,  I am looking for volunteers now. We may be able to connect this with our mentorship program or possibly with students from one of the Universities that participate in CHAOSS.

[2020-09-21 18:01] GeorgLink opened #432 "How to see old blog posts?"
When looking at the [CHAOSS blog](https://chaoss.community/blog/) there is no pagination or "load older posts" option.

For the blog and news on the website, it would be great to enable WordPress features to brows through older posts.

* pagination
* archives

[2020-09-21 18:19] GeorgLink opened #433 "Add "Community Report" link under "Initiatives""
We announced the Community Report and linked to it from the blog post. Now we need to include the request page in the menu structure.

[2020-09-21 19:21] klumb commented on #433
Oh, didn't realize we were going live so fast.
Are we sure the page is ready?
@GeorgLink @germonprez @ElizabethN

[2020-09-21 19:24] klumb commented on #432
Added pagination and edited old blogs to fit current formatting.

[2020-09-21 19:31] #432 closed

[2020-09-21 19:54] germonprez commented on #433
The text is simple but I think good for release.

On Mon, Sep 21, 2020 at 2:21 PM Kevin Lumbard <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/
matt@chaoss.community

he / him / his

[2020-09-21 21:56] ElizabethN commented on #433
👍  from me to add to the navigation under initiatives 🎉

[2020-09-22 14:31] GeorgLink commented on #432
Thank you!

[2020-09-22 14:35] GeorgLink opened #434 "Add link to blog and news from home page"
We have a section "News and Blog" on the home page that has the last three items. It would be great to add a link below them to "read older entries" or something like that.

![Screen Shot 2020-09-22 at 9 32 04 AM](https://user-images.githubusercontent.com/8862021/93896778-f43b5d00-fcb6-11ea-80f1-4aefb5c75476.png)

[2020-09-22 16:25] germonprez opened #435 "Help Find Typos and Errors on the CHAOSS Webpages"
Help us find typos and errors on the CHAOSS webpages. When you find an issue, issue a PR to make the fix! We appreciate your help :)

[2020-09-22 16:35] klumb opened #436 "Community Reports Feedback"
This issue was created to collect feedback on the community reports page and form

https://chaoss.community/community-reports/
https://github.com/chaoss/website/tree/master/Programs/Community-Reports

[2020-09-22 16:41] klumb commented on #436
- remove “Repository Organization URL to analyze”
- add “repository” to: “GitHub or GitLab repository URL”
- Move “first name, last name, and email” down to the question “do you want to be notified of other CHAOSS activities”.
-

[2020-09-22 16:41] #433 closed

[2020-09-22 16:42] klumb commented on #434
@GeorgLink please review changes on the homepage

https://chaoss.community/

[2020-09-22 16:54] GeorgLink commented on #434
I love it! Thank you very much ♥️

[2020-09-22 16:56] GeorgLink commented on #434
I spoke too soon. The buttons don't work for me. On the design, I'm not a fan of the moving text on hover.

[2020-09-22 17:01] klumb commented on #434
Well, that's because I didn't add a URL to the button.

Fixed and removed animation

[2020-09-22 17:03] GeorgLink commented on #434
It looks and works great! Thank you 😃

[2020-09-23 13:04] #434 closed

[2020-09-24 20:56] soulhunter10737 commented on #435
Sure, I would like to take it

[2020-09-25 05:42] mishrajiharsh219 commented on #435
Addressing #435
Hey, I would love to work on that, I think it would be fun.

[2020-09-25 08:01] CilgaIscan commented on #435
I would like to work on this @germonprez !

[2020-09-30 19:40] snehal199 commented on #435
@germonprez Just opened a pr that would fix the typos that I could find!

[2020-09-30 21:55] soummo19 commented on #435
Sir please review my pr

[2020-09-30 22:43] soummo19 commented on #435
@germonprez please review my pr #440

[2020-10-01 18:23] germonprez opened #441 "Update to Community Reports"
Tagging a few people here:

@klumb @GeorgLink @ElizabethN

Kevin, could we do one more update to the form? It should be pretty straightforward.

Instead of collecting the logo (which seems problematic), could we collect a URL to where the logo is available online? This was Georg's idea.

[2020-10-01 19:01] klumb commented on #441
We can certainly update the form. However we don't have any control over the sales force side so we will still need to coordinate with them to collect and recieve the information we need.

[2020-10-01 20:14] vinodkahuja commented on #441
@klumb A suggestion: We can use the previous field where we require a list of repos. We deleted that field in the revisions. We can use that field to collect the logo URL.

[2020-10-01 21:50] klumb commented on #441
@vinodkahuja That is a good suggestion. If we need to use the URL, that seems like a pretty quick fix.

However, @germonprez I am going to push back a little. There is no reason that we can't get a functioning form and database the delivers the data to us in the exact structure and format that we desire. This issue should be easily fixable once they look at it.

If we decide that we would prefer a

[2020-10-01 22:06] klumb commented on #441
@germonprez

I implemented Vindod's idea on the test page and sent a test form in.

I would like to stress that unless the URL is our preferred method we should just fix file type issue. Which should be very doable.

[2020-10-01 22:20] germonprez commented on #441
Ok ok 😊

On Thu, Oct 1, 2020, 5:06 PM Kevin Lumbard <notifications@github.com> wrote:

[2020-10-02 10:40] Shwetago opened #444 "Link is broken!!"
This is the link which is not working: About/project-charter.md

[2020-10-04 04:41] prajesh007 commented on #435
I'm new to open source and was looking for good first issues. Can I take it?

[2020-10-04 20:42] klumb commented on #444
Thanks, @Shwetago!

Could you describe where you found this issue?

[2020-10-04 20:42] #436 closed

[2020-10-04 20:45] klumb commented on #435
Thanks all!

Everyone is welcome to take up this task.

Feel free to make PRs to fix issues or open an issue to ask about the specific typos you find.

[2020-10-05 09:10] Shwetago commented on #444
There is an About folder. In that folder, there is a file which is project-charter.md. The link mentioned in that file is not working!!
I hope it helps!!
Link: https://www.github.com/chaoss/website/tree/master/About%2Fproject-charter.md

[2020-10-21 13:17] klumb commented on #444
Thanks @Shwetago

This is the correct link:
https://github.com/chaoss/governance/blob/master/project-charter.md

[2020-10-21 13:21] klumb opened #450 "Add Asia Pacific Document to Website"
Add Asia-Pacific notes document to Calendar and Website

https://unomail-my.sharepoint.com/:w:/g/personal/mgermonprez_unomaha_edu/EcUfoexbg71Ggk5gtKRVkEwBnBZQDxhe9k4Gyly5yweZ2g?rtime=KyBcL8J12Eg

[2020-10-21 13:24] klumb opened #451 "Update Zoom Links on Website and Calendar"
The Zoom links are changing on November 1

[2020-10-25 18:31] angelina-tsuboi commented on #435
@germonprez @klumb Hello! I was able to fix some grammar errors on the website.
Please review my PR #459

[2020-10-27 10:56] germonprez opened #461 "404 Errors From Renaming"
Please see issue at:

https://github.com/chaoss/wg-evolution/issues/389

[2020-11-06 15:05] GeorgLink opened #463 "Add Sustain logo on home page"
Sustain sponsors CHAOSScast and we would like to recognize them for it on our home page; underneath Alfred P. Sloan.

**Logo:** https://demo.identihub.co/sustain#/view/icon/element/701

**Text:** The CHAOSS community podcast [CHAOSScast](https://podcast.chaoss.community/) is funded in full by [Sustain](https://sustainoss.org/).

[2020-11-08 00:20] RichardLitt commented on #463
LGTM.

[2020-11-08 01:33] klumb commented on #463
This is currently being maintained on the WordPress side. Please see page

https://chaoss.community/

Please close the comment if the edit is acceptable.

[2020-11-09 14:06] GeorgLink commented on #463
Thanks @RichardLitt  and @klumb !

[2020-11-09 14:06] #463 closed

[2020-11-10 17:25] #441 closed

[2020-11-10 17:28] klumb opened #466 "Prototype metrics menu and display"
Include a WHY you should request the report - a PITCH
- Changes to project
- User data for governance processes
- Changes to the project over time

Community report web page:
https://chaoss.community/community-reports/

Report metrics prototype web page:
https://chaoss.community/metrics-prototype-1/

[2020-11-10 17:30] klumb commented on #466
prototype source md:
https://github.com/chaoss/website/blob/master/release/community-report-metrics.md

[2020-11-10 17:32] klumb commented on #461
We will be implementing redirects in the future. Leaving this open as a todo.

[2020-11-10 17:33] klumb commented on #451
done
Thanks @ElizabethN

[2020-11-10 17:33] #451 closed

[2020-11-10 17:33] #435 closed

[2020-11-10 17:34] klumb commented on #389
Done

Thanks all

[2020-11-10 17:34] #389 closed

[2020-11-10 17:35] klumb commented on #388
Done

Thanks all

[2020-11-10 17:35] #388 closed

[2020-11-19 16:52] klumb commented on #461
Add Social listening to the list

[2020-11-26 11:00] #444 closed

[2020-12-14 19:56] GeorgLink opened #471 "Error: Unable to find GitHub content for Social Listening metric"
I was directed to https://chaoss.community/metric-social-listening/ from our metrics page but I only get the error `Error: Unable to find Github content`

[2020-12-14 19:58] GeorgLink commented on #471
I fixed it. The GitHub module on that page was set up to pull from the last `release tag`, but the metric was changed and moved, so we had to pull from `master` branch.

[2020-12-14 19:58] #471 closed

[2020-12-14 19:58] GeorgLink commented on #471
@klumb pinging you so you are aware of the change I made

[2020-12-15 17:31] klumb commented on #471
Thanks @GeorgLink.

This was a known issue that fell through the cracks because that last WordPress update blocked our edits for a month.

[2020-12-15 17:41] GeorgLink commented on #471
Okay, thanks :) -- it's fixed.

[2020-12-16 15:45] klumb opened #474 "Shanghai Meetup"
Hi all, I copied the CHAOSScon EU 2020 event as starting point and created a preview on the website.

I started to make edits to it but will need help so please feel free to edit these documents. Feel free to make new markdown documents if you need them. Just let me know where you want them on the page.

I am available for a Zoom meeting if you would like.

Also, feel free to ask if you need me to

[2020-12-16 15:49] klumb commented on #474
@xiaoya-Esther, @germonprez, @ElizabethN, @GeorgLink

[2020-12-17 18:05] ElizabethN commented on #474
@klumb I updated the schedule and the speakers pages. Still missing a little info about the speakers, but will add as soon as it's available.

@xiaoya-Esther I wasn't sure who all was on the planning committee so I left that blank for now. Can you fill in this list?

I think the other pages are 👍  as they are.

[2020-12-18 04:34] xiaoya-Esther commented on #474
Hi all, I just added the committee list.

[2020-12-18 05:28] xiaoya-Esther commented on #474
I just realized the committee on the website usually refers to individuals instead of organizations, so I list part of the community members as I know, please let me know if this is appropriate, and feel free to add more names!

[2020-12-21 12:40] MohitPatni0731 commented on #474
Can I work on this issue

[2020-12-21 15:09] klumb commented on #474
@MohitPatni0731, you are welcome to work on this.

[2020-12-21 15:40] king-gao commented on #450
thanks Klumb. that's awesome.
I have translate into chinese on my blog ,here is link: https://github.com/king-gao/king-gao.github.io/tree/main/CHAOSS%20Asian-Pacific%20meeting

[2020-12-21 16:36] MohitPatni0731 commented on #474
Hey @klumb
I am not exactly getting what to do with this issue. Are you available for quick video chat so that I can understand more about the issue and help me to choose my long running project

[2020-12-21 18:46] klumb commented on #474
Hi @MohitPatni0731

This issue was created to coordinate the construction of the Shanghai Meetup webpage. If you weren't in the planning meetings for this event, it may be difficult to work on.

If you are interested in contributing to the website in general, I am happy to meet with you to discuss how you can contribute.

[2020-12-21 18:49] MohitPatni0731 commented on #474
Yes I want to contribute to the website.
I am available right now to next 1 hour.
Does this suits you

[2020-12-21 19:01] klumb opened #491 "Newcomer Questions and Contribution Coordination"
I am creating this issue to help coordinate newcomer contributions and provide a space for questions. I will update this issue with a list of tasks and issues that are appropriate for newcomers.

Tasks:

- [ ]

[2020-12-21 19:03] klumb commented on #474
@MohitPatni0731 I am not available for meetings this week or the following. Let's continue this discussion in issue #491

[2020-12-21 19:06] klumb commented on #491
Let's schedule a newcomer contribution Zoom meeting for Monday, January 4th. I will announce it on the email list when we get closer to the date.

What time would work best?

[2020-12-21 19:51] MohitPatni0731 commented on #491
Hey @klumb
Can you get me introduced to website development work

[2020-12-21 19:52] MohitPatni0731 commented on #491
I am available between 11 pm IST to 1 am IST

[2020-12-22 06:22] SaranshMaheshwari commented on #491
I am also new to this organization and want to attend this video chat. So I am also available at this time.

[2020-12-22 11:39] germonprez commented on #491
Thanks for your interest everyone. I think the best way to meet would be a couple of different ways:

1) Via Issues that you can find in the respective CHAOSS repositories. Each working group for metrics has its own repository and the same is true for software

2) Join us as we start our 2021 videos calls as a community.

You can find this information at: https://chaoss.community/participate/

[2020-12-22 16:25] klumb commented on #491
To be clear, this issue is about contributing to the website.

@germonprez is correct the best way to get started is to attend video calls.

This is especially true for website content as most of the planning and discussions take place there.

The next web content meeting is on January Fourth.

CHAOSS Web-Content Meeting
Scheduled: Jan 4, 2021 at 11:00 AM to 12:45 PM
Location: https://zoom.us/j/49

[2020-12-22 16:40] MohitPatni0731 commented on #491
Thanks for the update @germonprez and @klumb

[2021-01-05 12:47] MohitPatni0731 commented on #491
I just realized that I've missed yesterday meeting . What should I do now to get myself introduced to web development or other projects.

[2021-01-05 15:59] klumb commented on #491
Hi @MohitPatni0731,
We will have another web content meeting the first week of February. These meetings are very informal and you don't have to talk if you don't want to. At the end of these meetings, we are setting aside some time for newcomer questions and tutorials.

In regards to the CHAOSS project in general, we have a **community meeting** every Tuesday that is a good place to start.

Check

[2021-01-05 16:04] klumb commented on #474
Thanks Everyone!

[2021-01-05 16:04] #474 closed

[2021-01-07 17:37] Rishabh-Gaud commented on #491
Hi @klumb
I am new to this organisation. Can you guide me to help to our organisation. I am here to give contribution much I can.

[2021-01-07 17:41] klumb commented on #491
Welcome @Rishabh-Gaud! Please see my previous comment. The Zoom meetings are the best place to start.

[2021-01-19 17:22] germonprez opened #496 "Sharing Community Reports"
Hi @klumb and @vinodkahuja

On the community call on Jan 19, 2020 we decided to place all 'okay to share' community reports here:

https://github.com/chaoss/community-reports/tree/master/sample-reports

Once the reports are there, we can provide links on the (1) Request report page and (2) the front page banner on chaoss.community

[2021-01-19 17:48] vinodkahuja commented on #496
Ok. I will Upload one which is ready.

[2021-01-25 14:48] ElizabethN opened #497 "Add Link to Community Handbook in Community Section"
Hi @klumb :wave:!
I noticed I couldn't find a link to our Handbook readily available anywhere, so what do you think about adding a link to it under the Community drop-down list?

For our reference, here's the link to the handbook https://app.gitbook.com/@chaoss-project/s/community-handbook/.

[2021-01-25 15:26] klumb commented on #497
I added it the navigation

[2021-01-25 15:39] GeorgLink commented on #497
I would prefer we use the URL: https://handbook.chaoss.community/

[2021-01-25 15:58] klumb commented on #497
@GeorgLink that was the link I used ( was following the thread in the handbook repo)

Please review on site

[2021-01-25 21:00] GeorgLink commented on #497
Awesome!! Way ahead of me 👍

[2021-01-25 21:00] #497 closed

[2021-01-26 16:57] jaskiratsingh2000 opened #498 "CHAOSScon 2021 link redirecting to the wrong page"
I was just surfing the website and came across an option "CHAOSScon 2021 Europe, Brussels, Belgium, co-located with FOSDEM 2021" under the **Upcoming Events** section on this page https://chaoss.community/shanghai-meetup-2020/
Clicking on the "CHAOSScon 2021 Europe" link, it redirects to the [Shanghai Meetup 2020](https://chaoss.community/shanghai-meetup-2020/)

[2021-01-26 17:21] klumb commented on #498
That link actually just stays on the page you are on.

It was not connected to a CHAOSScon 2021 page because the event was canceled due to the pandemic.

The event itself should be removed - We have no upcoming events that I am aware of.

[2021-01-26 17:38] jaskiratsingh2000 commented on #498
Oh okay!

[2021-01-29 21:50] AkshadK7 commented on #498
Issue this issue still open to work on?

[2021-02-02 20:15] ElizabethN opened #506 "Add Augur Hackathons to Site"
@klumb The registration for the Augur site is now live, so you can add it to the website under Meetups. We plan on making this a bi-weekly event as a trial so I don't know how you want to structure that. There will also be Hackathons for our Asia-Pacific group that will happen on Friday evenings on alternate weeks, which also might be a factor to take into consideration.

Here is the link for the

[2021-02-02 20:26] klumb commented on #506
Okay,

If these are recurring, we may want to add them to the participate page rather than the meetups navigation.

Sounds like two new modules on the participate page.

For now I will add the link to the home page.

Cheers,

Kevin Lumbard, M.S. PMP (he/him/his)
University of Nebraska at Omaha
College of Information Science and Technology
PKI 367

"We build our computers the way we build our citie

[2021-02-03 20:28] ElizabethN commented on #506
Thanks much @klumb! I really like the idea of adding them to the participate page once we are sure that our regular cadence is something that's useful to the community. We will let you know.

[2021-02-03 20:32] ElizabethN commented on #415
@klumb I'm not sure if this would be part of this marketing audit or a separate issue, but we might want to think about including social media previews as something to check and fix.

Example: the D&I Badging Initiative page (https://chaoss.community/diversity-and-inclusion-badging/) -- When posted to twitter, the preview doesn't work super well, so I usually leave it off:

<img width="634" alt="S

[2021-02-04 02:57] samanthavenialogan commented on #415
I didn't know this was a thing because I've been absent but I'd be happy to
help with the marketing audit if you like!

Samantha Venia Logan
Co-Founder of SociallyConstructed.Online
307-274-5516  | samantha@SociallyConstructed.Online
6715 Autumn Ridge Dr. Unit 2, Fort Collins CO., 80525

On Wed, Feb 3, 2021 at 1:32 PM Elizabeth Barron <notifications@github.com>
wrote:

[2021-02-06 08:24] khushi935 commented on #491
Hello everyone, I am new to the organization. I want to contribute and participate in GSOC 2021. I took the basic idea of what is augur software? and now I am confused about how to go ahead and which working group meeting I should attend?
Please guide me.

[2021-02-06 12:41] germonprez commented on #491
Hi @khushi935

Thanks for your interest. You can check out the Augur repos at:

https://github.com/augurlabs
and
https://github.com/chaoss/augur

Posting an issue in these repos for an introduction would be a great place to start.

[2021-02-06 13:21] khushi935 commented on #491
Thank you @germonprez for guiding me.

[2021-02-10 18:18] klumb commented on #415
Thanks, @samanthavenialogan! We would appreciate your expertise on this.

We are contemplating including an Outreachy intern on this.

We also want to do accessibility and inclusiveness audits on the site.

Recommendations from these audits will be used to edit and restructure the website.

[2021-02-10 18:24] klumb commented on #415
@ElizabethN I fixed the issue for the D&I Badging page

Each page and blog post has a Meta description or preview connected to it. This content should be added during creation.

This is something the audit should catch but it is something we need to include when we create content on the website.

If you find any of these or need to me to fix them for twitter previews, let me know.

[2021-02-11 10:58] kirtirajsinh commented on #491
Hello, I'm new in this  organization. looking forward to the next call.

[2021-02-11 11:32] germonprez commented on #491
Great. You can always check out the Participate page at: https://chaoss.community/participate/

[2021-02-12 21:56] ElizabethN opened #517 "Broken images on CHAOSScast site"
I don't know if this belongs here or somewhere else, but the images are all broken on https://podcast.chaoss.community/ (except the social media icons). Tried a few different browsers (Chrome and Safari) and it's the same result.

<img width="1152" alt="Screen Shot 2021-02-12 at 4 54 44 PM" src="https://user-images.githubusercontent.com/57594/107826575-195a6600-6d53-11eb-82bb-1cb7a6fbc6c1.png">

c

[2021-02-12 22:02] klumb commented on #517
I am unsure if this is the proper place. @GeorgLink is the point of contact for CHAOSS cast, so perhaps he can answer the question.

However, I did take a look and was unable to duplicate the issue with broken images.

[2021-02-12 22:10] ElizabethN commented on #517
It's on my end then, so weird! Ok I will troubleshoot. 🤔

[2021-02-12 23:56] samanthavenialogan commented on #415
Hey yeah,

If I remember correctly you are also running the site via
WordPress. Yoast's free version also injects this code (opengraph meta
data) and requests it on page and blog requests for content to be filled
out so that's not a problem.

But yes, overall this audit will absolutely hit these problems as it covers
standard development, SEO, structure, copy, creative, sitemap, and a few
other th

[2021-02-13 00:33] klumb commented on #415
Yep, we use yoast

[2021-02-15 18:29] GeorgLink commented on #517
This is a good place to raise the issue. Like Kevin, I can’t replicate it.

[2021-02-17 15:55] germonprez opened #518 "Update Copyright Notice to 2021"
@klumb I think this could be an easy fix :)

[2021-02-19 03:13] iamvedant commented on #518
I can work on this. But just let me know whether this is the actual code repository for the website? I tried searching and I could only find .md files in it

[2021-02-19 04:18] klumb commented on #518
Thanks @iamvedant
The website is hosted on Wordpress and the content is created in markdown files here in this repo.

[2021-02-19 04:19] #518 closed

[2021-02-19 04:39] iamvedant commented on #461
Can you please elaborate this.

[2021-02-19 05:44] iamvedant opened #521 "Issue in Styling Of Navigation Bar In Some Screen Sizes"
![image](https://user-images.githubusercontent.com/52073576/108462564-d0e6ff00-72a2-11eb-9a3e-5659bfab7625.png)
The Donate button is not displayed properly and search icon is also not visible in a particular screen size

[2021-02-19 06:18] iamvedant commented on #521
Does all the styling of this website reside in this repository or is it somewhere else? I am struggling to find out the markdown for navbar.

[2021-02-19 06:22] iamvedant opened #522 "Wrong copyright Info in LICENSE File"
![image](https://user-images.githubusercontent.com/52073576/108465974-f0812600-72a8-11eb-870a-d0b437d5e98d.png)

[2021-02-19 14:56] #522 closed

[2021-02-19 15:04] klumb commented on #521
Thank you @iamvedant

The navigation bar is managed in WordPress.

The page dynamically changes based on screen size. It looks like you are manipulating the window size. If you make the window a little smaller or a little larger it will adjust to the correct display.

[2021-02-19 15:04] klumb commented on #11
Archiving

[2021-02-19 15:04] #11 closed

[2021-02-19 15:05] klumb commented on #429
Archiving

[2021-02-19 17:56] Aanandgupta opened #524 "Issue in navigation bar"
The heading that sticks for desktop size screens is missing for mobile devices
Is that done deliberately if yes then why any specific reason?

![Screenshot (148)](https://user-images.githubusercontent.com/71023799/108542547-e5121700-7309-11eb-94ea-ea7da067b985.png)

![Screenshot (147)](https://user-images.githubusercontent.com/71023799/108543171-bc3e5180-730a-11eb-88bd-07eaac2da984.png)

[2021-02-19 18:25] klumb commented on #524
@Aanandgupta mobile page views often display less information than desktop views. This is done for many reasons. In this particular case, it was a design decision made by the WordPress template developers. Since the data is not critical for the page, we have made no effort to override the display.

[2021-02-19 18:25] #524 closed

[2021-02-19 18:25] #521 closed

[2021-02-20 07:19] iamvedant commented on #521
Okay @klumb
Can you please tell me on which platform can I ask queries. I am trying to explore the CHAOSS Repos and have some doubts. Kindly let me know a proper platform so that I could contribute.

[2021-02-20 16:18] klumb commented on #521
@imavedant, Most of the styling and admin is managed in WordPress. Content for the website is managed here in this repo.

This is the appropriate place for all queries about the website.

[2021-02-20 16:34] klumb commented on #517
@ElizabethN are you still having this issue?

If it is resolved please close this issue.

[2021-02-23 12:26] ElizabethN commented on #517
I never discovered what the problem was but it seems to have resolved itself. If only all problems were like that! :blush: Closing this issue.

[2021-02-23 12:26] #517 closed

[2021-02-27 16:34] vinodkahuja opened #525 "Community report request form modification"
@klumb I have received a community report request without the requester's first and last name. Can we make at least one field mandatory, i.e., first name? From my experience in my culture, some people don't have a last name. Having at least one field mandatory will serve the purpose.

[2021-02-27 16:41] klumb commented on #525
Yes, we can do this. Lets discuss which fields are mandatory in the web content meeting this next week.

[2021-03-08 19:57] GeorgLink commented on #429
Don Marti:

[2021-03-08 20:26] klumb commented on #429
@GeorgLink - Don Marti has been updated.

[2021-03-08 21:35] GeorgLink commented on #429
Thank you :)

[2021-03-10 11:47] SteveKola opened #533 "Update External Links to open on new tabs"
Can we enable the external links to open up on new tabs, for a better user experience?

And also, is it something I could possibly work on?

cc: @germonprez

[2021-03-10 11:56] germonprez commented on #533
Thanks @SteveKola. I'd love to get the thoughts of @klumb on this.

[2021-03-10 15:21] GeorgLink opened #534 "Outdated Hackathon link?"
From the Homepage, we link to a hackathon.
The homepage says **March 13** but the ti.to page says **February 27**.

[2021-03-10 15:55] klumb commented on #534
Thanks for checking this.

I edited the link again and cleared the website URL cache. Should be good now.

[2021-03-10 15:55] #534 closed

[2021-03-10 16:40] klumb commented on #533
Hi, @SteveKola thank you for your comment and for taking interest in the website and documentation.

I agree that opening a link in a new tab is the best practice for web design. I was always taught to make the website as sticky as possible - meaning try to keep the visitor on the site and don't give them a reason to leave.

When we built the website and much of the documentation, we sacrificed th

[2021-03-10 16:46] GeorgLink commented on #534
Awesome, thanks!

[2021-03-10 17:39] SteveKola commented on #533
Thank you for the detailed response, @klumb.

I'm totally in sync with the idea of making the docs and website content easy for non-coders to edit. And yes, you're right that having to mix in HTML links might look a bit messy and inconsistent.

So I went searching for answers and I found a solution that involves adding kramdown to the `_config.yml` and using the following syntax; `[link](url){:tar

[2021-03-10 18:07] klumb commented on #533
@SteveKola
There are different types (or flavors of MarkDown). What type of MarkDown is that? GitHub markdown may support that syntax but I haven't seen it in GitHub MarkDown documentation. We could test it.

If it works we could discuss using it for internal links but I think David Wheeler's point about external links is very valid. So we would need to discuss this further and decide if we want o

[2021-03-11 15:37] covalentbond commented on #466
Hey @klumb , I was interested to contribute to the project idea of [Build Prototype Metric Display Options](https://github.com/chaoss/governance/blob/master/GSoC-Ideas.md#idea-build-prototype-metric-display-options-on-chaoss-website) as a GSoC student this year. Would like to learn more about the project and can you provide me with some micro tasks to better understand the code base

[2021-03-11 17:50] klumb opened #536 "Micro-tasks and Overview: : Build Prototype Metric Display Options on CHAOSS Website"
CHAOSS metrics are released twice a year. The metrics are currently displayed on the website - sorted by the working group that defined them: https://chaoss.community/metrics/

As more metrics are defined, the need for alternative display and categorization options is necessary to reduce the burden on the user to visualize the CHAOSS metrics in meaningful ways. See open issue 466 (https://github.c

[2021-03-11 22:10] klumb commented on #466
Hi @covalentbond, the tasks will be posted shortly.

[2021-03-11 22:33] klumb opened #537 "Micro-tasks and Overview: Automate Metrics Release and Process Improvement"
CHAOSS metrics are released twice a year. The metrics are currently displayed on the website - sorted by the working group that captured and defined them: https://chaoss.community/metrics/

The official CHAOSS Metrics Release is captured in pdf form at the time of the release by printing each metric page as a PDF and combining them manually. The workflow is described in our handbook. The website p

[2021-03-11 22:56] #491 closed

[2021-03-11 22:59] klumb commented on #533
@SteveKola if you want to test this, put in a PR for this file:

https://github.com/chaoss/website/blob/master/release/download-release-pdf.md

and we will test it on the website.

[2021-03-11 23:00] klumb commented on #525
Edit the form to make name mandatory.

[2021-03-11 23:02] klumb commented on #498
@AkshadK7 this issue is still open. Sorry about the late reply.

[2021-03-11 23:04] klumb commented on #496
@vinod can you provide the links for the pdfs? The links will need to be added to the form page as example reports.

[2021-03-11 23:07] klumb commented on #461
@iamvedant, sorry about the late reply. This task is related to our website migration so it is a maintainer task. Thank you for your interest.

[2021-03-12 00:49] klumb commented on #533
tests confirm that GitHub markdown doesn't support this solution.

If we decide to implement this change in the future we will need to find another solution.

Closing this issue but we can revisit the idea after the website migration.

[2021-03-12 00:49] #533 closed

[2021-03-12 05:32] covalentbond commented on #498
@klumb , would like to work on it. Do we need to remove the complete event or just state that the event is cancelled?

[2021-03-12 16:25] klumb commented on #498
Remove the Europe 2021 link from the upcoming events section and replace it with "To Be Announced" text.

[2021-03-12 16:26] klumb commented on #498
Edit File -  website/CHAOSScon/past-future.md

[2021-03-12 16:51] covalentbond commented on #498
hey, also how to build the website locally? We can also update [contrubuting.md](https://github.com/chaoss/website/blob/master/CONTRIBUTING.md) with documentation to setup the repository!

[2021-03-12 17:51] MISHANDLED commented on #450
Can you elaborate more on this issue

[2021-03-12 17:53] #498 closed

[2021-03-12 17:59] MISHANDLED opened #540 "Set up the repository locally"
Update the docs so that it provides steps set up the repo locally

[2021-03-12 18:01] klumb commented on #450
Take a look at the participate page:
https://chaoss.community/participate/

Each working group has a module that contains information about participating in the group. The link to the Asia Pacific group's meeting notes is no longer correct. I provided the correct link above. Additionally, we want to add a link to the translated notes repository that @king-gao has provided.

This is the file that n

[2021-03-12 18:01] MISHANDLED commented on #525
Can you elaborate more on this issue

[2021-03-12 18:03] klumb commented on #540
Are these general directions on how to clone and fork a GitHub repository?

[2021-03-12 18:09] klumb commented on #525
First and last name need to be mandatory fields in the form located at:
https://chaoss.community/community-reports/

The file is located here:
 website/Programs/Community-Reports/appmaster.html

[2021-03-12 18:11] MISHANDLED commented on #540
How to run the website locally after cloning

[2021-03-12 19:40] aryan-alt commented on #525
Hello,
So we have to make the changes in the form section of the community page and make the two fields mandatory, i.e, First and last name, right?
So can I work on this issue?

[2021-03-12 20:42] GeorgLink commented on #540
The https://chaoss.community website is a WordPress website. The
chaoss/website repository is not the website and the website cannot be
built from the repository. The chaoss/website repository contains
supporting documents only.

[2021-03-12 23:00] klumb commented on #540
@GeorgLink is correct. While there are ways that we could manage the website code on GitHub we are currently limited by the policies and processes of the Linux Foundation (who supplies our WordPress hosting). We are in the process of migrating the website to a new platform that we will have more control over, however, we will likely maintain the current process as it allows us to collaboratively a

[2021-03-12 23:11] klumb commented on #525
@aryan-alt

Thank you for the interest. You are welcome to work on it but we generally don't assign people to issues, unless they are complex or require administrative access.

[2021-03-13 01:37] #540 closed

[2021-03-13 10:32] aryan-alt commented on #496
Hello,
Can you please elaborate more on this issue?

[2021-03-13 19:13] deepakdinesh1123 commented on #537
Should the PDF generator support the complete syntax of markdown or is it enough to just make it convert the metrics markdown to PDF.

For example:
1.Item 1
1.Item 2
    1.Item 3
since these kind of cases are rare is it necessary to add support for it?

[2021-03-14 17:33] seun-beta commented on #537
Hello Everyone,

I am Seunfunmi Adegoke and I'm a senior at the University of Ibadan.
I am a Django developer and I enjoy scripting using Python and building chatbots. I have worked on multiple Python and Django projects and I am also currently a developer community ambassador in my school.

I am interested in this project and I have started work in earnest as regards the Micro-tasks.

An idea jus

[2021-03-14 20:31] garimasingh2000 commented on #363
does the organisation have an instagram yet? i'm an aspiring candidate for GSoC'21 and I would like to implement the photo display feature.

[2021-03-15 12:19] ritik-malik commented on #537
Hello everyone, I'm Ritik Malik, interested in the above mentioned task. Hoping to have a great interaction with you all :)

[2021-03-16 06:14] robin025 commented on #536
hey @klumb can't we use the Jekyll theme to automate all the categories on the website as Jekyll will also use Markdown

[2021-03-16 06:44] garimasingh2000 commented on #536
@robin025 wouldn't that mean migrating the entire site from wordpress to jekyll? albeit easy to do with jekyll export, i wonder if the team would want this big a change

[2021-03-16 15:35] robin025 commented on #536
@garimasingh2000 to be able to use a markdown in the website, Jekyll is the best option but in the case of WordPress website/blog up and running, you better be up-to-date with all the plugins on the other hand Jekyll creates static files like HTML and CSS on your local computer without any **server-side plugins**.
WordPress is very prone to hacker attacks and malware, whereas Jekyll websites are S

[2021-03-16 18:43] garimasingh2000 commented on #536
@robin025 i do agree with wordpress sites being more prone to hacking. Very easy to insert a php reverse shell or a backdoor. If the organisation agrees, I do think jekyll would be a much safer option in the long run

[2021-03-17 11:23] GeorgLink commented on #429
Please update Ray's bio:

[2021-03-17 16:31] klumb commented on #429
@GeorgLink Ray has been updated

[2021-03-17 16:31] #429 closed

[2021-03-17 16:48] klumb commented on #536
@robin025 @garimasingh2000, I appreciate your comments.  We have discussed migrating the website to Jekyll in the past. The decision was made to keep it on WordPress for the time being. If you would like, you can create an issue to migrate the website to Jekyll however, that issue would be used for long-term planning discussions and would be out of scope for these tasks. For these tasks, we need t

[2021-03-17 17:58] GeorgLink commented on #429
Thank you!

[2021-03-18 07:16] ritik-malik opened #572 "Automation script for fixing typos"
Hi,

While I was hunting for typos yesterday, I thought why not create a script which would automate the task of scavenging typos, wait for manual approval & then fix them automatically.

It would save the task of manual labor in scanning the entire website & making the required changes. I plan to do it by adding a new py script & a bash script.

Pseudo code -
* Traverse all MD files in the websit

[2021-03-18 12:08] yash2002109 commented on #537
Hello everyone,

I’m interested to apply for this idea. I have already started working on the microtasks.

Looking forward to contribute.

[2021-03-18 15:50] seun-beta commented on #537
Hello @klumb  I created the PR as requested
https://github.com/chaoss/website/pull/573

[2021-03-20 18:17] klumb commented on #572
Sounds good, I look forward to seeing this.

[2021-03-20 18:22] #525 closed

[2021-03-22 12:38] ritik-malik commented on #537
Hi @klumb @germonprez @GeorgLink,

I've completed the above mentioned microtasks.
Here's the [link to my repository](https://github.com/ritik-malik/Microtasks)

Microtask 1 and Microtask 2 will be updated alongside as I attend the meetings
and make more PRs

Can you please have a look and suggest the required changes?

[2021-03-22 20:36] AayushTyagi1 commented on #536
Hey @klumb, I am Aayush Tyagi, a pre-final year student of B.Tech CSE at Graphic Era University, India. I have experienced with HTML, CSS, JS and GitHub markdown.  I am interested in contributing to this project idea of Build Prototype Metric Display Options under GSoC'21.

[2021-03-24 17:17] Rupesh-2003 opened #579 "Adding contributors image to README.MD"
Adding dynamic contributors image to readme.md

[2021-03-25 15:59] vchrombie opened #582 "Adding GSoD students to the mentorship page"
I see the GSoC and Outreachy students are added to the [CHAOSS Mentorship Page](https://chaoss.community/chaoss-mentorship/).

Wouldn't it be great if we add the GSoD students too?

CHAOSS has participated in the GSoD last year and we had Jaskirat and Xiaoya, who successfully completed their respective projects.

Also, maybe we can add GSoC 2018, Outreachy 2020, GSoD 2020 in the table instead of m

[2021-03-25 16:05] klumb commented on #582
That file is located here:  website/Community/alumni.md

The person who does this work would need guidance on names to add, programs, and dates.

[2021-03-25 16:09] vchrombie commented on #582
I agree and we can help with it.

I have some links related to GSoD results
- https://developers.google.com/season-of-docs/docs/2020/participants

[2021-03-25 16:14] klumb commented on #579
Thank you @Rupesh-2003, I like this idea but I am not sure it is needed. The contributors listed here should include those from the image but should also include those that contribute in other ways. The dynamic contributors to the repo is already available through Github so I see this as duplication.

The contributor list does need to be updated though.

[2021-03-25 16:39] ritik-malik commented on #582
Hi @klumb @vchrombie ,
Can I work on this issue?

[2021-03-25 17:43] GeorgLink commented on #579
I don't like the idea of embedding a third-party service link in our README.

[2021-03-26 14:16] klumb commented on #536
Welcome @AayushTyagi1

[2021-03-26 15:08] Rupesh-2003 commented on #579
No problem, I'll look over other open issues

[2021-03-26 15:08] #579 closed

[2021-03-26 16:12] robin025 commented on #536
hey @klumb can you tell me which application is being used to pull website content from the current repo to WordPress

[2021-03-27 17:58] pankaj892 commented on #536
Hey @klumb I am Pankaj Biradar a final year student of B.E.  at VTU from India.I have experience with HTML,CSS and Github Markdown and also some experience of Wordpress I am interested towards contributing to this project for the idea of building prototypr metric display options.I have completed the micro task but as to the navigation samples which we nee to provide do i need to provide them in th

[2021-03-27 18:05] klumb commented on #536
Welcome @pankaj892

You should make them in a separate repository and provide a link in your proposal.

[2021-03-27 18:09] klumb commented on #536
@robin025 we use the GitHub element of WPBakery Pagebuilder

[2021-03-28 08:28] robin025 commented on #536
@klumb I tried to setup environment using WPbakery, but didn't find any GitHub element
Can you please guide me on this, I shall be very thankful to you

[2021-03-29 06:26] robin025 opened #585 "Adding a collapse section for all the contributors in the mentorship page"
hey, @klumb I think this small enhancement can be helpful for the website, Please have a look!
Right now in the [mentorship section](https://chaoss.community/chaoss-mentorship/) of the website has a table listing all the contributors that have contributed to this organization through many programs, but the links to the individual contributor section in the table section will only work in Github ma

[2021-03-29 15:00] GeorgLink commented on #585
Thank you for spotting the malfunctioning links to anchors on the page.

I agree that this needs to be fixed.

An easy fix would be to update the links so that they work on the website only. The markdown file is not intended to be viewed on GitHub but only on the website, so breaking the GitHub UI experience is okay.

I also see the merit in making the sections collapsible. My concern with that is

[2021-03-29 16:05] klumb commented on #585
There is some duplication in the way we are presenting the mentees and the projects. I like the drop down idea but the way it is working now it basically creates a list that looks just like the table.

Can we merge these two areas together? The drop down would give us the ability to remove the table all together if presented well.

Or perhaps change the lower area to focus on the project rather th

[2021-03-29 17:47] klumb commented on #585
We can try to use the section tag but there is no guarantee that it will work.

I don't believe that the GitHub Markdown element we use on WordPress allows full HTML5.

In the past when we have tried to use more advanced HTML5 methods and tags, they have been stripped out or converted to text.

I am comfortable experimenting with this but be aware that it may not work as a markdown file (which is

[2021-03-29 17:55] klumb commented on #536
Hi @robin025
I understand your desire to setup a dev environment but I am afraid I can't offer you guidance on that at this time. The

The website is in the process of being migrated to a new hosting platform (still WordPress). When this migration is done, we will reassess contributor access to WordPress and the code for the website.

[2021-03-30 09:49] robin025 commented on #536
Sorry @klumb actually I think you get it wrong, I am only setting up a default environment(where I will use my own credentials and  data) where I can understand better that how GitHub Markdown is being used on WordPress so that I can describe the project idea description clearly and moreover can suggest some more ideas in Extra section under my GSOC Proposal

[2021-03-30 14:04] robin025 commented on #536
Okay...got it, and sorry for the inconvenience 👍

[2021-03-30 14:08] klumb commented on #536
@robin025 after the website migration, we will be able to revisit these types of requests because we will have full administrative access (which we currently lack).

[2021-03-30 14:09] robin025 commented on #536
Okay @klumb

[2021-03-30 16:32] GeorgLink opened #591 "Update CTA on front page"
Update CTA on front page:

![Screen Shot 2021-03-30 at 11 31 46 AM](https://user-images.githubusercontent.com/8862021/113023714-8a12e180-914b-11eb-9c50-f9c507d7eb58.png)

We can put GSoC there now :)

[2021-03-30 16:33] klumb commented on #591
Can you provide me some details on what you would like to see?

[2021-03-30 16:36] GeorgLink commented on #591
Link to: https://github.com/chaoss/governance/blob/master/GSoC-Ideas.md

[2021-03-30 16:43] klumb commented on #591
Done!

[2021-03-30 16:43] #591 closed

[2021-03-30 16:54] GeorgLink commented on #591
Thank yo!

[2021-03-30 17:03] ADI10HERO commented on #537
@klumb
My doubt is with respect to the third micro task, can we use pre-existing packages to make the converter and kinda make it like a wrapper as per CHAOSS's needs or write one from scratch? (why reinvent the wheel)
But of course, if something too tailor-made is required, would be more than happy to write one from scratch as well

[2021-03-30 17:08] klumb commented on #537
Hi @ADI10HERO, we are open to many different types of proposals. The goal is to come up with an efficient process. If your proposal can do that without reinventing the wheel, that would be great.

[2021-04-01 11:02] pankaj892 opened #594 "Adding social media links of selected students in mentroship projects"
Hey @klumb in the mentorship page on CHAOSS website i found that students who completed GSoD and GSoC recently there is no Linkedin or twitter profile links of them.It would be great if we have them since previous students have them.

[2021-04-01 17:23] robin025 commented on #585
Hey @klumb  and @GeorgLink
I was referring these two ([metrics-common.md](https://github.com/chaoss/website/blob/master/release/metrics-tables/metrics-common.md) and [metrics-table.md](https://github.com/chaoss/website/blob/master/release/metrics-tables/metrics-table.md)) files from metrics section and these two Markdown files are linking the sections correctly on website
One more thing, I have al

[2021-04-01 17:50] klumb commented on #585
I'm sorry, I don't understand the question.

Those links are working as intended.

This is basic functionality of Markdown and HTML.

[2021-04-01 17:52] klumb commented on #572
Thanks @ritik-malik, we don't have any problems with contributors using scripts for this but we don't want to include them in the Repo.

[2021-04-01 17:53] klumb commented on #594
@vchrombie what do you think?

Github id might be nice... Twitter? Linkedin?

[2021-04-01 17:55] ritik-malik commented on #572
sure sure,
This issue is already resolved, I forgot to closed it.

Closing it now

[2021-04-01 17:55] #572 closed

[2021-04-01 18:29] robin025 commented on #585
Usually the link in Markdown is written in this format where the title will be inserted in a square bracket **[]** and followed by the  link in parentheses **()**
For example  consider these 2 file ([metrics-common.md](https://github.com/chaoss/website/blob/master/release/metrics-tables/metrics-common.md) and [metrics-table.md](https://github.com/chaoss/website/blob/master/release/metrics-tables/m

[2021-04-01 18:48] klumb commented on #585
This is how it works

Example:
to link to ###My Heading

The syntax could be
[My Heading](#my-heading)
or
[My Heading](#user-content-my-heading)

Anchor IDs are assigned to all headings when rendered as HTML. The ID is the heading text, with the spaces replaced by dashes (-) and all lower case.

[2021-04-01 19:06] robin025 commented on #585
Okay @klumb got it, actually I was not aware of this **[My Heading] (#user-content-my-heading)**
but if this is the case then why links of contributors in [mentorship page](https://chaoss.community/chaoss-mentorship/) is not working, as Markdown in [alumini.md](https://raw.githubusercontent.com/chaoss/website/master/Community/alumni.md) is also correct or should we try to use this  **[My Heading]

[2021-04-02 05:33] vchrombie commented on #594
Hi @klumb @pankaj892, I understand adding any contact details is helpful.

I agree with this, we can easily find the github ids of the previous students. We just need to surf the commit history of the interest pages.

I feel github is enough as we might need to put an extra effort to find and verify the other accounts. Also, there might be a few people who don't have a twitter/linkedin (I know the

[2021-04-02 05:51] pankaj892 commented on #594
@vchrombie I agree github id  would be enough as we can easily verify them and we would get their email-ids which would be easy for those who wish to contact them

[2021-04-02 16:26] ElizabethN opened #595 "Add Intro Workshops to Site"
Hi @klumb! :wave:

We are hosting a series of workshops to help people interested in contributing to get up to speed. Would it be possible to put these all on one page under the "Community" drop down navigation, entitled "Workshops"?

I am happy to create the page, but if it's better if you do it, here is the info. Just let me know if I need to create it myself.

**Intro blurb for the top:**

The

[2021-04-02 18:55] seun-beta commented on #595
@klumb Can I get to work on adding this to the website? What section do you think this should be added to?

Thank you and happy holidays

[2021-04-03 21:27] Molkree commented on #537
I had some automation experience building docs so I would like to share some advice.
As some of you have already noticed, [pandoc](https://pandoc.org/) is probably the best tool for this task, it's what I used too.
Instead of building PDF locally, I suggest creating a [GitHub Actions](https://github.com/features/actions) workflow.
Here is one I used last year: [link to workflow](https://github.com

[2021-04-04 08:24] ADI10HERO commented on #537
@Molkree  Your message is a gem!
To be honest, I was thinking of some CI workflow for the same, or maybe some CD tool for deployment, but using GitHub-Actions is keeping it simple and getting the job done. Thank you so much for this, it's of immense help.

[2021-04-04 19:57] vchrombie commented on #594
WDYT @klumb?

[2021-04-04 21:08] klumb commented on #595
@ElizabethN will these always be workshops? Or is there another type of meeting that could occur? meetup? hackathon?

Is there a name that would encompass all of those things? Should we remove the workshop column if they are all workshops?

- We will need to create a folder within the community folder called _workshops_ (depends on the question above).
- Within that folder we will need two markdow

[2021-04-05 12:19] ElizabethN commented on #595
Ah yes. I think in hindsight we should keep the workshops and hackathons on their own separate pages, don't you? We plan on continuing the hackathons for now, and are in the process of scheduling the next 2.

Which means , you're right, we don't need that "workshop" column on this page.

@seun-beta thank you for helping with this and getting this on the website! You're a gem. 💎 🙏 If you need anyth

[2021-04-05 13:59] seun-beta commented on #595
Thank you @klumb and @ElizabethN for the information. I’ll submit a PR for it today. Just getting out of Easter Holidays. If the are any changes to be made, @klumb would suggest it on the PR.

Thank you once again.

[2021-04-05 14:07] vchrombie commented on #594
@pankaj892, would you be interested to submit a PR for this?

[2021-04-05 14:27] seun-beta commented on #595
I have made a PR for the workshops @klumb see #593 . Could we also add a time zone converter and 'add to calendar' as it works on the community call page. I think the 'add to calendar' takes care of daylight savings and time zone problems.

Cheers

[2021-04-05 14:28] seun-beta commented on #595
I added it as a subset of the previous pull request I made.

[2021-04-05 16:23] pankaj892 commented on #594
@vchrombie  only adding github ids is enough or do i add some more links ? I am interested to submit a PR for this

[2021-04-05 16:31] vchrombie commented on #594
I was thinking of revamping the page as per the template I suggested. Moet of the content is already there, you need to re-use it and make it proper. WDYT?

I can help with reviewing and suggestions.

[2021-04-05 16:37] pankaj892 commented on #594
@vchrombie OK I'll work on it and send a PR review it if any changes are needed let me know

[2021-04-06 15:19] germonprez opened #599 "SPDX Document metric on showing"
https://chaoss.community/metric-spdx-document/

The SPDX Document metric is not showing on the webpage.

[2021-04-06 15:20] germonprez opened #600 "Bus Factor metric now showing"
https://chaoss.community/metric-bus-factor/

The Bus Factor metric is not showing on the webpage.

[2021-04-06 15:22] klumb commented on #599
If risk pushed changes to the file structure then all risk metrics on the website will be broken

[2021-04-06 15:22] klumb commented on #600
If risk pushed changes to the file structure then all risk metrics on the website will be broken

[2021-04-06 15:56] seun-beta commented on #595
Hello @klumb . I noticed an error.

https://github.com/chaoss/website/tree/master/Community/Workshop

Should be deleted. It was an initial duplicate I made.

[2021-04-06 15:58] klumb commented on #595
Yes, I saw that. Will need to be removed in a future edit.

[2021-04-06 16:09] klumb commented on #595
This live on the site now.

https://chaoss.community/workshops/

[2021-04-06 18:50] seun-beta commented on #595
Hello @klumb i am getting an error on the workshop page and other pages
![B5CC2F9D-6D12-45B1-9A42-FFE75FC764F2](https://user-images.githubusercontent.com/51419148/113763220-5880b400-9711-11eb-9f23-637127ed71fc.png)
![338E2AFA-4B35-4F4F-8BD3-CA412F285421](https://user-images.githubusercontent.com/51419148/113763223-5a4a7780-9711-11eb-932b-48242c9690a8.png)

[2021-04-06 18:52] seun-beta commented on #595
Hello @klumb i am getting an error on the workshop page and other pages
![Uploading 3B0BB419-DC4D-4468-9CD7-BD858D83D7C6.jpeg…]()

[2021-04-06 19:31] klumb commented on #595
Yes, it looks like all GitHub content on the website is down.

I am investigating but this is likely a temporary issue.

[2021-04-06 20:11] irina-baeva commented on #536
Hi, is it already late to start working on the proposal for this project? Should I finish all mini tasks ?

[2021-04-06 20:15] klumb commented on #536
Welcome, @irina-baeva

It is not too late. I believe the proposals are due on the 13th.

you will not be able to attend the monthly web-content meeting during this time but there are other meetings you can attend. Here is the schedule.

https://chaoss.community/participate/

[2021-04-06 20:21] mattwynne opened #601 "Error: Unable to find Github content"
Many of the pages on the site now show this error:

For example, the metrics page:
<img width="1258" alt="Screenshot 2021-04-06 at 13 20 52" src="https://user-images.githubusercontent.com/19260/113773466-eb522c00-96da-11eb-8092-0bfdade530b2.png">

[2021-04-06 20:40] klumb commented on #601
Thank you @mattwynne,
I am investigating the issue.
This problem was first observed about 2 hours ago. and is affecting all of the GitHub content on the website.

[2021-04-07 02:13] xiaoya-Esther commented on #601
Yes, and I wonder (and afraid of) if this was caused by the new blog post on the Digital Insight Report. Hope not.

[2021-04-07 02:37] klumb commented on #601
@xiaoya-Esther , I don't think your blog post could have caused the issue.

[2021-04-07 03:18] klumb commented on #601
This issue is now resolved. There was a problem with our GitHub token.

[2021-04-07 03:18] #601 closed

[2021-04-12 18:16] #595 closed

[2021-04-12 19:56] vchrombie commented on #594
@pankaj892 can we close this issue as it is resolved?

[2021-04-12 20:05] #594 closed

[2021-04-13 15:08] #585 closed

[2021-04-14 07:25] ritik-malik opened #604 "Error in website home page"
This issue is to address the error found in the [home page](https://chaoss.community/) of CHAOSS -

The link to WG-common on this page points to Metrics repository instead,
There is already [this commit](https://github.com/chaoss/website/commit/fc0a7b39ee170810661d7dc570823abc687c24fd) by Matt G that fixed this issue, but the same is not reflected on the website, possibly because the website is pu

[2021-04-14 17:31] klumb commented on #604
Thanks @ritik-malik
I fixed the link on the website.

In general, this issue is the result of a prior problem we had with the GitHub Sync element. On 3 occasions, we have lost our WordPress connection to GitHub.

The result of this was that the content on the home page was created in parallel to what is in the repo.

The website migration should prevent futures issues we have with this so - we nee

[2021-04-14 17:37] klumb commented on #496
Putting this on hold as we are uncertain about the future of community reports.